

<div class="container my-4 w-75 ml-auto">
  <h1 class="Latestnews text-center" style="font-family: 'barlow','regular';font-weight: bold;font-size: 30px;color: #FF0639;
  opacity: 1;">Our Team<hr /></h1>
  <!--Carousel Wrapper-->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <!-- <div class="controls-top">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
      <a class="btn-floating " href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
    </div> -->
    <!--/.Controls-->

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
      <li data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox" style="font-family: 'lato','regular';">

      <!--First slide-->
      <div class="carousel-item active">

        <div class="row">
          <div class="col-md-3">
            <div class="card mb-2 img-responsive">
              <img class="card-img-top" src="../../../assets/images/rectangle-40-1@1x.png"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title text-center" style="font-weight: bold;">Joe Johson </h4>
                <p class="card-text text-center">General Manager</p>
                <!-- <a class="btn btn-danger"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>read more</a> -->
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card mb-2 img-responsive">
              <img class="card-img-top" src="../../../assets/images/rectangle-40-1@1x.png"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title text-center" style="font-weight: bold;">ABC </h4>
                <p class="card-text text-center" >Assi Manager</p>
                <!-- <a class="btn btn-danger"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>read more</a> -->
              </div>
            </div>
          </div>

          <div class="col-md-3 clearfix d-none d-md-block">
            <div class="card mb-2 img-responsive">
              <img class="card-img-top" src="../../../assets/images/rectangle-40-1@1x.png"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title text-center" style="font-weight: bold;">JCB </h4>
                <p class="card-text text-center">Senoir Officer</p>
                <!-- <p class="card-text"><i class="fa fa-calendar" aria-hidden="true"></i>18 May 2021</p>
                <a class="btn btn-danger"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>read more</a> -->
              </div>
            </div>
          </div>

          <div class="col-md-3 clearfix d-none d-md-block">
            <div class="card mb-2 img-responsive">
              <img class="card-img-top" src="../../../assets/images/ourteam4.jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title text-center" style="font-weight: bold;">DBK </h4>
                <p class="card-text text-center">Team Leader</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--/.First slide-->

      <!--Second slide-->
      <div class="carousel-item">

        <div class="row" >
          <div class="col-md-3">
            <div class="card mb-2 img-responsive">
              <img class="card-img-top" src="../../../assets/images/ourteam4.jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title text-center" style="font-weight: bold;">CCC </h4>
                <p class="card-text text-center"> Manager</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card mb-2 img-responsive">
              <img class="card-img-top" src="../../../assets/images/ourteam4.jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title text-center" style="font-weight: bold;">Johson </h4>
                <p class="card-text text-center">General Chief</p>
              </div>
            </div>
          </div>
          

          <div class="col-md-3 clearfix d-none d-md-block">
            <div class="card mb-2 img-responsive">
              <img class="card-img-top" src="../../../assets/images/ourteam3.jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title text-center" style="font-weight: bold;">KKR </h4>
                <p class="card-text text-center">GWS</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 clearfix d-none d-md-block">
            <div class="card mb-2 img-responsive">
              <img class="card-img-top" src="../../../assets/images/thumbnail1.jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title text-center" style="font-weight: bold;">Joe Johson </h4>
                <p class="card-text text-center">General Manager</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--/.Second slide-->

      <!--Third slide-->
      <!-- <div class="carousel-item">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="../../assets/images/IMG_0420.JPG"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../../assets/images/IMG_0391.JPG"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../../assets/images/IMG_0391.JPG"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>
        </div>

      </div> -->
      <!--/.Third slide-->

    </div>
    <!--/.Slides-->

  </div>
  <!--/.Carousel Wrapper-->


</div>
