<div class="container-fluid">
    <img class="Aboutusbackgroundimage img-fluid img-responsive" src="../../../assets/images/IMG_0420.JPG">
    <!-- <h1 class="clientsayboxoverimage text-center">Client Say<hr /></h1> -->
    <div class="caption">
     TECHNOLOGY
   </div>
      <div id="carouselExampleCaptionsClient" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators try">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" id="covermenuabout">
          <div class="row-justify">
            <div class="col-lg-4 ">
                <div class="col-item">
                        <div class="info">
                      <h2>DO THE RIGHT THING EVERYTIME.</h2>
                      <p>WHEEL KING VALUE 1</p>
                  </div>
                </div>
            </div>
          
            
        </div>
        </div>
        <div class="carousel-item">
          <div class="row-justify">
            <div class="col-lg-4 ">
                <div class="col-item">
                   
                    <div class="info">
                      <h2>HIRE THE BEST</h2>
                      <p>WHEEL KING VALUE 2</p>
                        </div>
                        <!-- <div class="clearfix"></div> -->
                    
                </div>
            </div>
          
           
        </div>
        </div>
        <div class="carousel-item">
            <div class="row-justify">
              <div class="col-lg-4 ">
                  <div class="col-item">
                     
                      <div class="info">
                        <h2>LIVE UPTO EVERY PROMISE</h2>
                        <p>WHEEL KING VALUE 3</p>
                          
                          <!-- <div class="clearfix"></div> -->
                      </div>
                  </div>
              </div>
            
             
          </div>
          </div>
          <div class="carousel-item">
            <div class="row-justify">
              <div class="col-lg-4 ">
                  <div class="col-item">
                     
                      <div class="info">
                        <h2>EMBRACE CO-OPETITION.</h2>
                        <p>WHEEL KING VALUE 4</p>
                          
                          <!-- <div class="clearfix"></div> -->
                      </div>
                  </div>
              </div>                 
          </div>
          </div>
        <div class="carousel-item">
              <div class="row-justify">
                <div class="col-lg-4 ">
                    <div class="col-item">
                       
                        <div class="info">
                          <h2>SHARE IN EACH OTHER'S SUCCESS.</h2>
                          <p>WHEEL KING VALUE 5</p>
                            
                            <!-- <div class="clearfix"></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row-justify">
              <div class="col-lg-4 ">
                  <div class="col-item">
                     
                      <div class="info">
                        <h2>HAVE FUN</h2>
                        <p>WHEEL KING VALUE 6</p>
                          
                          <!-- <div class="clearfix"></div> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
    </div>
<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h1 class="page-header" >FOCUSED CONTROL</h1><hr class="w-25">
      <span class="barlow-medium-ship-gray-22px">
       
          We have complete control of our technology because we design and build it-we are transportation experts who also know science and engineering. We customize our technology to meet customer's unique needs.
        </span>
        <ul>
            <li class="barlow-medium-ship-gray-22px">Capacity Development and Predictive Modeling</li>
            <li class="barlow-medium-ship-gray-22px">Collaborative Planning and Execution</li>
            <li class="barlow-medium-ship-gray-22px">Real-time Load Tracking</li>
            <li class="barlow-medium-ship-gray-22px">Real-time Metrics</li>
            <li class="barlow-medium-ship-gray-22px">Customizable Benchmark-based Reporting</li>
        </ul>
        <span class="barlow-medium-ship-gray-22px">
          The more efficiently we can match our customers freight to the best capacity solution, the lower the cost and the better the service to our customers. Our customers and carriers win with the our technology platform every day.
      </span>
    </div>
    <div class="col-md-6">
      <img src="../../assets/images/p7132349-removebg-preview@1x.png" class="img-fluid" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img src="../../../assets/images/IMG_0391-removebg-preview.png" class="img-fluid" alt="">
    </div>
    <div class="col-md-6">
      <h1 class="page-header" >GPS WEB INTERFACE</h1><hr class="w-25">
      <span class="barlow-medium-ship-gray-22px">
        Our web e-portal track & trace scanning technology is used to monitor both attended and unattended deliveries. Our application is capable of monitoring on-time delivery performance, date and time stamped, real-time delivery and POD verification, barcode scanning, enhanced visibility to ensure integrity and delivery accuracy, intuitive user interface, guaranteed message delivery and updates, exception reporting, quality control and compliance, GPS, signature capture and bread crumb trails. This integration allows immediate communication with our drivers, accurate positioning and reliable information for efficient load planning and accurate load status tracking. Key indicators of driver performance, and load status service levels are constantly monitored for compliance with service level agreements.
      </span>
    </div>
  </div>
</div>
    <!-- <div class="container-fluid backgroundcolorofcontainer">
        <div class="row mx-md-n5 ">
          <div class="col px-md-5">
            <div class="p-3 border bg-mystyle">
                <div class="col-sm" (click)="goFocusControl()">
                  <button type="button" class="btn buttonstyle  btn-lg btn-block">FOCUSED CONTROL</button>
                </div>
                </div>
                <div class="p-3 border bg-mystyle">
                  <div class="col-sm" (click)="goGPSweb()">
                    <button type="button" class="btn buttonstyle  btn-lg btn-block">GPS WEB INTERFACE</button>
                  </div>
                  </div>
            <div class="p-3 border bg-mystyle">
              <div class="col-sm" (click)="goReqQuotation()">
                <button type="button" class="btn buttonstyle  btn-lg btn-block">REQUEST A QUOTATION</button>
              </div>
              </div>
              <div class="p-3 border bg-mystyle1">
              <div class="col-sm" (click)="goQuickLinks()">
                <button type="button" class="btn buttonstyle1  btn-lg btn-block">QUICK LINKS</button>
              </div>
            </div>
          </div>
        <div class="col px-md-5"><div class="p-3 bg-transparent">
            <div *ngIf="isReqQuotation">
              <section id="about-video" class="about-video">
                <h6 >
                  Requesting a rate is easy.What would you like a quotation for?
                </h6>
               
                <select class="form-control color:#fff">
                  <option value="">Select</option>
                  <option value="">Full Truckload</option>
                  <option value="">Less Than Truckload</option>
                  <option value="">Temperature Controlled Truckload</option>
                  <option value="">Dry Van</option>
                  <option value="">Repair Services</option>
                  <option value="">Other</option>
                </select>
                <br><br>
                
                <button type="button" class="btn btn-light">GET QUOTATION</button>
              </section>
            </div>
            <div *ngIf="isQuickLinks">
              <section id="about-video" class="about-video">
                <ul>
                  <li><a href="#" class="buttletstyle">Contact Us</a></li>
                  <li><a href="#" class="buttletstyle">Careers</a></li>
                 
                </ul>
              </section>
            </div>
            <div *ngIf="isFocuscontrol"  >
                <h6 class="backgroundcolorofcontainer">
                  We have complete control of our technology because we design and build it-we are transportation experts who also know science and engineering. We customize our technology to meet customer's unique needs.
                </h6>
                <ul>
                    <li>Capacity Development and Predictive Modeling</li>
                    <li>Collaborative Planning and Execution</li>
                    <li>Real-time Load Tracking</li>
                    <li>Real-time Metrics</li>
                    <li>Customizable Benchmark-based Reporting</li>
                </ul>
                <h6 class="backgroundcolorofcontainer">The more efficiently we can match our customers freight to the best capacity solution, the lower the cost and the better the service to our customers. Our customers and carriers win with the our technology platform every day.</h6>
            </div>
            <div *ngIf="isGPSweb" >
              <h6 class="backgroundcolorofcontainer" >
                Our web e-portal track & trace scanning technology is used to monitor both attended and unattended deliveries. Our application is capable of monitoring on-time delivery performance, date and time stamped, real-time delivery and POD verification, barcode scanning, enhanced visibility to ensure integrity and delivery accuracy, intuitive user interface, guaranteed message delivery and updates, exception reporting, quality control and compliance, GPS, signature capture and bread crumb trails. This integration allows immediate communication with our drivers, accurate positioning and reliable information for efficient load planning and accurate load status tracking. Key indicators of driver performance, and load status service levels are constantly monitored for compliance with service level agreements.
              </h6>
            
          </div>
          </div></div>
        </div>
       </div> -->

<app-footer></app-footer>