@media (max-width:1270px){
    #carouselExampleCaptionsClient{
        visibility:hidden;
    }
}


.try {
    
    right: 580px;
    bottom:-30px;
}

  .Aboutusbackgroundimage{
      
     position: relative;
      text-align: center;
      color: rgb(17, 17, 17);
      width: 100%;
      filter: brightness(0.3);
     
  }

  
  .page-header {
    font: normal normal bold 25px/30px Barlow;
    color: #FF0639;
          opacity: 1;
  }
  
  .halfpage {
    text-align: justify;
    letter-spacing: 0px;
    
  }


  .caption {
    position: absolute;
    text-decoration: uppercase;
    top: 80%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-family: 'Barlow','regular';
    font-size:5vw;
}

@media (max-width: 1000px){
  .caption {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-family: 'Barlow','regular';
    font-size:5vw;
}
}


  .Linkbuttons {
   text-decoration: none;   
   color: #212529;
  }

  .Linkbuttons:hover {
      color: #fa0404;
  }

  .btn-light:hover {
      background-color: #b90909;
      font-size: 15px;
      color: #fff;
      border-color:#b90909;
  }

  #carouselExampleCaptionsClient{
      position: absolute;
      margin-top:-605px;
      padding-left: 80px;
      width: 670px;
  }

  .info {
      color: #fff;
     font-family: 'Lato', sans-serif;
  }

  /*********************on click event***************************/
 .backgroundcolorofcontainer{
    background-color:#000000;
    padding: 15px;
    font-family: 'Cambria','Cochin',Georgia, sans-serif;
    /* text-transform: uppercase; */
    color:#fff;
    font-size: 17px;
    text-align: justify;
  }

  .buttonstyle {
    font-size:20px;
    width: 100%;
    box-shadow: none !important;
    text-transform: uppercase;
  }

  .buttonstyle:hover {
    background-color: #de1827;
    color: #fff;
    outline: none;
    box-shadow: none;
  }
  
  .buttonstyle1 {
    font-size:20px;
    width: 100%;
    box-shadow: none !important;
  }

  .buttonstyle1:hover {
    background-color: #de1827;
    color: #fff;
    outline: none;
    box-shadow: none;
  }

  .bg-mystyle{
    background-color: #fff;
  }

  .bg-mystyle:hover {
    background-color: #de1827;
    
  }

  .bg-mystyle1{
    background-color: #fff;
  }

  .bg-mystyle1:hover {
    background-color: #de1827;
    
  }

  .buttletstyle {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
  }

  .buttletstyle:hover {
    color: #de1827;
    font-weight: bold;
  }
