@media (max-width:1270px){
  #carouselExampleCaptionsClient{
      visibility:hidden;
  }
}


.try {
  
  right: 580px;
  bottom:-30px;
}

.Aboutusbackgroundimage{
    
   position: relative;
    text-align: center;
    color: rgb(17, 17, 17);
    width: 100%;
    filter: brightness(0.3);
   
}

.Linkbuttons {
 text-decoration: none;   
 color: #212529;
}

.Linkbuttons:hover {
    color: #fa0404;
}

.btn-light:hover {
    background-color: #b90909;
    font-size: 15px;
    color: #fff;
    border-color: #b90909;
}

#carouselExampleCaptionsClient{
    position: absolute;
    margin-top:-605px;
    padding-left: 80px;
    width: 670px;
}

.info {
    color: #fff;
    font-family: 'Lato', sans-serif;
}

/*********************on click event***************************/
.backgroundcolorofcontainer{
  background-image: url(../../../assets/images/bg_truck.jpg);
  
  background-size: cover;
 
  z-index: 1;
  padding: 15px;
 
  
}

.buttonstyle {
  font-size:20px;
  width: 100%;
  box-shadow: none !important;
  text-transform: uppercase;
}

.buttonstyle:hover {
  background-color: #de1827;
  color: #fff;
  outline: none;
  box-shadow: none;
}

.buttonstyle1 {
  font-size:20px;
  width: 100%;
  box-shadow: none !important;
}

.buttonstyle1:hover {
  background-color: #de1827;
  color: #fff;
  outline: none;
  box-shadow: none;
}

.bg-mystyle{
  background-color: #fff;
}

.bg-mystyle:hover {
  background-color: #de1827;
  
}

.bg-mystyle1{
  background-color: #fff;
}

.bg-mystyle1:hover {
  background-color: #de1827;
  color: #fff;
  font-size: 15px;
  
}

.buttletstyle {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

.buttletstyle:hover {
  color: #de1827;
  font-weight: bold;
}

.form-group {
  color: #de1827;
}
.applyform{
padding: 15px;
font-family: 'Open Sans', sans-serif;
text-align: start;
font-size: 17px;
z-index: 9999;

}
.caption {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate( -50%, -50% );
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size:5vw;
}
@media (max-width: 1000px){
  .caption {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-family: 'Barlow','regular';
    font-size:5vw;
  }
  }
  