<div class="container-fluid">
  <img class="Aboutusbackgroundimage img-fluid img-responsive" src="../../../assets/images/IMG_0419.JPG">
  <!-- <h1 class="clientsayboxoverimage text-center">Client Say<hr /></h1> -->
  <div class="caption">
    APPLY
  </div>
  <div id="carouselExampleCaptionsClient" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators try">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
        aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
        aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" id="covermenuabout">
        <div class="row-justify">
          <div class="col-lg-4 ">
            <div class="col-item">
              <div class="info">
                <h2>DO THE RIGHT THING EVERYTIME.</h2>
                <p>WHEEL KING VALUE 1</p>
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="carousel-item">
        <div class="row-justify">
          <div class="col-lg-4 ">
            <div class="col-item">

              <div class="info">
                <h2>HIRE THE BEST</h2>
                <p>WHEEL KING VALUE 2</p>
              </div>
              <!-- <div class="clearfix"></div> -->

            </div>
          </div>


        </div>
      </div>
      <div class="carousel-item">
        <div class="row-justify">
          <div class="col-lg-4 ">
            <div class="col-item">

              <div class="info">
                <h2>LIVE UPTO EVERY PROMISE</h2>
                <p>WHEEL KING VALUE 3</p>

                <!-- <div class="clearfix"></div> -->
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="carousel-item">
        <div class="row-justify">
          <div class="col-lg-4 ">
            <div class="col-item">

              <div class="info">
                <h2>EMBRACE CO-OPETITION.</h2>
                <p>WHEEL KING VALUE 4</p>

                <!-- <div class="clearfix"></div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row-justify">
          <div class="col-lg-4 ">
            <div class="col-item">

              <div class="info">
                <h2>SHARE IN EACH OTHER'S SUCCESS.</h2>
                <p>WHEEL KING VALUE 5</p>

                <!-- <div class="clearfix"></div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row-justify">
          <div class="col-lg-4 ">
            <div class="col-item">

              <div class="info">
                <h2>HAVE FUN</h2>
                <p>WHEEL KING VALUE 6</p>

                <!-- <div class="clearfix"></div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="container-fluid img-fluid img-responsive backgroundcolorofcontainer"  >
  <div class="row mx-md-n5">
        <div *ngIf="isApply" class="applyform">
          <form class="form-inline justify-content-center" >
            <div class="form-group">
              <label for="exampleInputFName">First Name*</label>
              <input type="text" class="form-control" id="exampleInputFName" aria-describedby="emailHelp"
                placeholder="Enter first name" required>
            </div>
            <div class="form-group">
              <label for="exampleInputLName">Last Name*</label>
              <input type="text" class="form-control" id="exampleInputLName" placeholder="Enter last name" required>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address*</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email" required>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputMobileNumber">Phone Number*</label>
              <input type="number" class="form-control" id="exampleInputMobileNumber" placeholder="Enter Phone Number"
                required>
            </div>
            <br>
            <div class="form-group" >
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                <label class="custom-file-label" for="validatedCustomFile"></label>

              </div>
            </div>
            <br>
            <button type="submit" class="btn bg-mystyle1" > Apply</button>
          </form>
          <br>
          <div class="form-group" >
            <h6>For Professional drivers, download the below form</h6>
            <a class="btn bg-mystyle1" href="http://www.wheelkingtranshaul.com/img/uploads/Application_Form.pdf"
              target="_blank">DOWNLOAD APPLICATION FORM</a>
          </div>
          <br>
          <div class="form-group" >
            <h6>For owner operators, Download below form.</h6>
            <a class="btn bg-mystyle1" href="http://www.wheelkingtranshaul.com/img/uploads/WSIB_Form.pdf"
              target="_blank">DOWNLOAD WSIB FORM</a>
          </div>
        </div>
      </div>
    </div>


<app-footer></app-footer>