<div class="container-fluid">
  <img class="Aboutusbackgroundimage img-fluid img-responsive" src="../../../assets/images/P7132325.JPG">
  <!-- <h1 class="clientsayboxoverimage text-center">Client Say<hr /></h1> -->
    <div class="caption">
      SAFETY & SECURITY
    </div>
    <div id="carouselExampleCaptionsClient" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators try">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" id="covermenuabout">
        <div class="row-justify">
          <div class="col-lg-4 ">
              <div class="col-item">
                      <div class="info">
                    <h2>DO THE RIGHT THING EVERYTIME.</h2>
                    <p>WHEEL KING VALUE 1</p>
                </div>
              </div>
          </div>
        
          
      </div>
      </div>
      <div class="carousel-item">
        <div class="row-justify">
          <div class="col-lg-4 ">
              <div class="col-item">
                 
                  <div class="info">
                    <h2>HIRE THE BEST</h2>
                    <p>WHEEL KING VALUE 2</p>
                      </div>
                      <!-- <div class="clearfix"></div> -->
                  
              </div>
          </div>
        
         
      </div>
      </div>
      <div class="carousel-item">
          <div class="row-justify">
            <div class="col-lg-4 ">
                <div class="col-item">
                   
                    <div class="info">
                      <h2>LIVE UPTO EVERY PROMISE</h2>
                      <p>WHEEL KING VALUE 3</p>
                        
                        <!-- <div class="clearfix"></div> -->
                    </div>
                </div>
            </div>
          
           
        </div>
        </div>
        <div class="carousel-item">
          <div class="row-justify">
            <div class="col-lg-4 ">
                <div class="col-item">
                   
                    <div class="info">
                      <h2>EMBRACE CO-OPETITION.</h2>
                      <p>WHEEL KING VALUE 4</p>
                        
                        <!-- <div class="clearfix"></div> -->
                    </div>
                </div>
            </div>                 
        </div>
        </div>
      <div class="carousel-item">
            <div class="row-justify">
              <div class="col-lg-4 ">
                  <div class="col-item">
                     
                      <div class="info">
                        <h2>SHARE IN EACH OTHER'S SUCCESS.</h2>
                        <p>WHEEL KING VALUE 5</p>
                          
                          <!-- <div class="clearfix"></div> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="row-justify">
            <div class="col-lg-4 ">
                <div class="col-item">
                   
                    <div class="info">
                      <h2>HAVE FUN</h2>
                      <p>WHEEL KING VALUE 6</p>
                        
                        <!-- <div class="clearfix"></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
  </div>
<br>
<!-- safety info start -->
<div class="container-fluid p-5 ">
<div class="row">
  <div class="col-md-6 halfpage">
    <h1 class="page-header" >Safety & Compliance</h1><hr>
    <span class="barlow-medium-ship-gray-22px">Safety is number 'ONE'.</span><br>
    <span class="barlow-medium-ship-gray-22px">Our commitment to safety ensures that all equipment is maintained and operated efficiently with minimum downtime. We understand that safety must be a top priority in any moral and profitable organization. All equipment is maintained and operated efficiently and safely, while at the same time reducing our carbon footprint. Our reputation is synonymous with service excellence. A key ingredient to our success is maintaining a strong cultural adherence to safety & compliance.</span><br>
    <span class="barlow-medium-ship-gray-22px">Our entire team is dedicated to taking a leadership role in the area of health and safety. This responsibility begins with working safely, operating vehicles safely, following established safety policies including defensive driving and safe working procedures.</span><br>
    <ul> These Procedures Include:
      <li>Strict adherence to hours of service regulations.</li>
      <li>Scheduled, Joint Health and Safety Committee meetings at each facility.</li>
      <li>Posted minutes of monthly meetings.</li>
      <li>Promote from within policy to engage and develop SLH team members.</li>
      <li>Recognized apprenticeship programs.</li>
      <li>EAP (Employee Assistance Program) for all team members.</li>
      <li>An open door, No question that can not be asked or answered company-wide policy.</li>
      <li>Proactive training and fleet maintenance programs.</li>
      <li>Our safety and on time performance record are second to none.</li>

  </ul>
  </div>
  <div class="col-md-6 halfpage">
    <img src="../../assets/images/p7132349-removebg-preview@1x.png" class="img-fluid" alt="">
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6 halfpage">
    <img src="../../../assets/images/IMG_0391-removebg-preview.png" class="img-fluid" alt="">
  </div>
  <div class="col-md-6 halfpage">
    <h1 class="page-header">Homeland Security Programs</h1><hr>
    <ul>
        <li>ACE - Automated Commercial Environment</li>
        <li>CSA - Customs Self Assessment</li>
        <li>C-TPAT - Customs-Trade Partners Against Terrorism</li>
        <li>FAST - Free and Secure Trade</li>
        <li>PIP - Partners in Protection</li>
    </ul>
      <h1 class="page-header">Hazardous Team</h1><hr>
  <span class="barlow-medium-ship-gray-22px">Our Hazardous Team is highly skilled in hazardous and sensitive freight shipping. We provide hazard recognition training, risk evaluation and on the job safety measures to their co-workers.</span>
  </div>
</div>
<br>
<br>
</div>
<!-- safety info end -->

<app-footer></app-footer>