
    <!-- <img class="TruckBackGround img-fluid" src="../../assets/images/aboutusTruck.jpg">
    <div class="top-left">
        sdfdfdf
    </div> -->
    <div class="container-fluid">
        <img class="Aboutusbackgroundimage img-fluid img-responsive" src="../../assets/images/P7132346.JPG">
        <!-- <h1 class="clientsayboxoverimage text-center">Client Say<hr /></h1> -->
          
          <div id="carouselExampleCaptionsClient" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators try">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" id="covermenuabout">
              <div class="row-justify">
                <div class="col-lg-4 ">
                    <div class="col-item">
                            <div class="info">
                          <h2>DO THE RIGHT THING EVERYTIME.</h2>
                          <p>WHEEL KING VALUE 1</p>
                      </div>
                    </div>
                </div>
              
                
            </div>
            </div>
            <div class="carousel-item">
              <div class="row-justify">
                <div class="col-lg-4 ">
                    <div class="col-item">
                       
                        <div class="info">
                          <h2>HIRE THE BEST</h2>
                          <p>WHEEL KING VALUE 2</p>
                        </div>
                            <!-- <div class="clearfix"></div> -->
                        
                    </div>
                </div>
              
               
            </div>
            </div>
            <div class="carousel-item">
                <div class="row-justify">
                  <div class="col-lg-4 ">
                      <div class="col-item">
                         
                          <div class="info">
                            <h2>LIVE UPTO EVERY PROMISE</h2>
                            <p>WHEEL KING VALUE 3</p>
                              
                              <!-- <div class="clearfix"></div> -->
                          </div>
                      </div>
                  </div>
                
                 
              </div>
              </div>
              <div class="carousel-item">
                <div class="row-justify">
                  <div class="col-lg-4 ">
                      <div class="col-item">
                         
                          <div class="info">
                            <h2>EMBRACE CO-OPETITION.</h2>
                            <p>WHEEL KING VALUE 4</p>
                              
                              <!-- <div class="clearfix"></div> -->
                          </div>
                      </div>
                  </div>                 
              </div>
              </div>
            <div class="carousel-item">
                  <div class="row-justify">
                    <div class="col-lg-4 ">
                        <div class="col-item">
                           
                            <div class="info">
                              <h2>SHARE IN EACH OTHER'S SUCCESS.</h2>
                              <p>WHEEL KING VALUE 5</p>
                                
                                <!-- <div class="clearfix"></div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row-justify">
                  <div class="col-lg-4 ">
                      <div class="col-item">
                         
                          <div class="info">
                            <h2>HAVE FUN</h2>
                            <p>WHEEL KING VALUE 6</p>
                              
                              <!-- <div class="clearfix"></div> -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          </div>
        </div>
        </div>
    <br><br>
    <div class="container aboutuscontainer">
        <div class="row">
            <div class="col-6">
                <h1 style="color: #d10909; font-family: lato;" >About Us</h1>
                <hr style="color: #d10909">
                <p>
                    Freight & Trucking Services in Canada & USA.
                </p>
                <p>
                    We're passionate about performance.
                </p>
                <p>
                    Wheel King Transhaul Inc. is a privately held Canadian company with dedicated fleet services as its core business. Our company is built upon the values and work ethics that are foundational to family operated businesses.
                </p>
                <p>
                    We offer our customers the opportunity of concentrating on their core competency by effectively managing the risk associated with their fleet while anyone can assume risk, not everyone can execute timely customer-centric transitioning and service. Wheel Kings mission is our proactive approach to customer-specific contingency planning, matched with flawless execution. Our quality policy states "Customers are the driving force in our organization. We will fulfill or exceed each customer requirements through our commitment to service excellence. This is the key to our future, our growth and our reputation."
                </p>
                <p>
                    We ensure your fleet is always at the right size by matching seasonal highs and lows. We also look after the smaller details like replacing a driver that is on vacation or off duty because of injury. Your freight is in safe hand with Wheel King.
                </p>
            
               
            </div>
            <div class="col-6 text-center">
                <div id="carouselExampleCaptionsLatestNews" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner text-center">
                      <div class="carousel-item active" id="covermenunews">
                        <div class="row justify">
                            <div class="col-lg-4 ">
                                <div class="col-item">
                                    <img class="content-image25" src="../../assets/images/P7132288.JPG">
                                        
                                </div>
                            </div>                        
                        </div>
                        </div>
                        <div class="carousel-item">
                          <div class="row-justify">
                            <div class="col-lg-4 ">
                                <div class="col-item">                                    
                                    <img class="content-image25" src="../../assets/images/P7132337.JPG">
                                </div>
                            </div>   
                        </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row-justify">
                              <div class="col-lg-4 ">
                                  <div class="col-item"> 
                                    <img class="content-image25" src="../../assets/images/IMG_0432.JPG">
                                  </div>
                              </div>
                            
                             
                          </div>
                          </div>
                </div>
            </div>
            </div>
       
        </div>
    </div>

 <div class="container-fluid backgroundcolorofcontainer">
  <div class="row mx-md-n5">
    <div class="col px-md-5">
      <div class="p-3 border bg-mystyle">
        <div class="col-sm" (click)="goReqQuotation()">
          <button type="button" class="btn buttonstyle  btn-lg btn-block">Request a Quotation</button>
        </div>
        </div>
        <div class="p-3 border bg-mystyle1">
        <div class="col-sm" (click)="goQuickLinks()">
          <button type="button" class="btn buttonstyle1  btn-lg btn-block">Quick Links</button>
        </div>
      </div>
    </div>
  <div class="col px-md-5"><div class="p-3 bg-transparent">
      <div *ngIf="isReqQuotation">
        <section id="about-video" class="about-video">
          <h6 style="color: #fff">
            Requesting a rate is easy. What would you like a quotation for?
          </h6>
         
          <select class="form-control">
            <option id="hoverOK" value="">Select</option>
            <option value="">Full Truckload</option>
            <option value="">Less Than Truckload</option>
            <option value="">Temperature Controlled Truckload</option>
            <option value="">Dry Van</option>
            <option value="">Repair Services</option>
            <option value="">Other</option>
          </select>
          <br><br>
          
          <button type="button" class="btn btn-light">GET QUOTATION</button>
        </section>
      </div>
      <div *ngIf="isQuickLinks">
        <section id="about-video" class="about-video ">
          <ul>
            <li><a href="#" class="buttletstyle">Contact Us</a></li>
            <li><a href="#" class="buttletstyle">Careers</a></li>
           
          </ul>
        </section>
      </div>
    </div></div>
  </div>
 </div>
     <!--Our Team starts-->
 
<!-- <div class="container-fluid">
    <h1 class="ourteam text-center">Our Team<hr/></h1>
   <div class="row">
    <div class="col-md-3">
        <div class="content"> <a href="#">
                <div class="content-overlay"></div> <img class="content-image" src="../../assets/images/thumbnail1.jpg">
                <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">John Doe</h3>
                    <p class="content-text">General Manager</p>
                    <p class="content-text">
                      <i  class="fa fa-facebook-official me-2" aria-hidden="true"></i>
                      <i  class="fa fa-linkedin me-2" aria-hidden="true"></i>
                      <i  class="fa fa-google-plus me-2" aria-hidden="true"></i>
                      <i  class="fa fa-twitter me-2" aria-hidden="true"></i>
                      <i  class="fa fa-instagram me-2" aria-hidden="true"></i>  
                    </p>
  
                </div>
            </a> </div>
    </div>
    <div class="col-md-3">
        <div class="content"> <a href="#">
                <div class="content-overlay"></div> <img class="content-image" src="../../assets/images/thumbnail1.jpg">
                <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">John Doe</h3>
                  <p class="content-text">General Manager</p>
                  <p class="content-text">
                    <i  class="fa fa-facebook-official me-2" aria-hidden="true"></i>
                    <i  class="fa fa-linkedin me-2" aria-hidden="true"></i>
                    <i  class="fa fa-google-plus me-2" aria-hidden="true"></i>
                    <i  class="fa fa-twitter me-2" aria-hidden="true"></i>
                    <i  class="fa fa-instagram me-2" aria-hidden="true"></i>  
                  </p>
  
              </div>
          </a>  </div>
    </div>
    <div class="col-md-3">
        <div class="content"> <a href="#">
                <div class="content-overlay"></div> <img class="content-image" src="../../assets/images/thumbnail.png">
                <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">John Doe</h3>
                  <p class="content-text">General Manager</p>
                  <p class="content-text">
                    <i  class="fa fa-facebook-official me-2" aria-hidden="true"></i>
                    <i  class="fa fa-linkedin me-2" aria-hidden="true"></i>
                    <i  class="fa fa-google-plus me-2" aria-hidden="true"></i>
                    <i  class="fa fa-twitter me-2" aria-hidden="true"></i>
                    <i  class="fa fa-instagram me-2" aria-hidden="true"></i>  
                  </p>
  
              </div>
          </a>  </div>
    </div>
    <div class="col-md-3">
      <div class="content"> <a href="#">
              <div class="content-overlay"></div> <img class="content-image" src="../../assets/images/thumbnail.png">
              <div class="content-details fadeIn-bottom">
                <h3 class="content-title">John Doe</h3>
                <p class="content-text">General Manager</p>
                <p class="content-text">
                  <i  class="fa fa-facebook-official me-2" aria-hidden="true"></i>
                  <i  class="fa fa-linkedin me-2" aria-hidden="true"></i>
                  <i  class="fa fa-google-plus me-2" aria-hidden="true"></i>
                  <i  class="fa fa-twitter me-2" aria-hidden="true"></i>
                  <i  class="fa fa-instagram me-2" aria-hidden="true"></i>  
                </p>
  
            </div>
        </a>  </div>
  </div>
  </div>
  <br>
  <div class="row">
  <div class="col-md-3">
      <div class="content"> <a href="#">
              <div class="content-overlay"></div> <img class="content-image" src="../../assets/images/thumbnail.png">
              <div class="content-details fadeIn-bottom">
                <h3 class="content-title">John Doe</h3>
                <p class="content-text">General Manager</p>
                <p class="content-text">
                  <i  class="fa fa-facebook-official me-2" aria-hidden="true"></i>
                  <i  class="fa fa-linkedin me-2" aria-hidden="true"></i>
                  <i  class="fa fa-google-plus me-2" aria-hidden="true"></i>
                  <i  class="fa fa-twitter me-2" aria-hidden="true"></i>
                  <i  class="fa fa-instagram me-2" aria-hidden="true"></i>  
                </p>
  
            </div>
        </a>  </div>
  </div>
  <div class="col-md-3">
      <div class="content"> <a href="#">
              <div class="content-overlay"></div> <img class="content-image" src="../../assets/images/thumbnail.png">
              <div class="content-details fadeIn-bottom">
                <h3 class="content-title">John Doe</h3>
                <p class="content-text">General Manager</p>
                <p class="content-text">
                  <i  class="fa fa-facebook-official me-2" aria-hidden="true"></i>
                  <i  class="fa fa-linkedin me-2" aria-hidden="true"></i>
                  <i  class="fa fa-google-plus me-2" aria-hidden="true"></i>
                  <i  class="fa fa-twitter me-2" aria-hidden="true"></i>
                  <i  class="fa fa-instagram me-2" aria-hidden="true"></i>  
                </p>
  
            </div>
        </a>  </div>
  </div>
  <div class="col-md-3">
      <div class="content"> <a href="#">
              <div class="content-overlay"></div> <img class="content-image" src="../../assets/images/thumbnail.png">
              <div class="content-details fadeIn-bottom">
                <h3 class="content-title">John Doe</h3>
                <p class="content-text">General Manager</p>
                <p class="content-text">
                  <i  class="fa fa-facebook-official me-2" aria-hidden="true"></i>
                  <i  class="fa fa-linkedin me-2" aria-hidden="true"></i>
                  <i  class="fa fa-google-plus me-2" aria-hidden="true"></i>
                  <i  class="fa fa-twitter me-2" aria-hidden="true"></i>
                  <i  class="fa fa-instagram me-2" aria-hidden="true"></i>  
                </p>
  
            </div>
        </a> </div>
  </div>
  <div class="col-md-3">
    <div class="content"> <a href="#">
            <div class="content-overlay"></div> <img class="content-image" src="../../assets/images/thumbnail.png">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">John Doe</h3>
              <p class="content-text">General Manager</p>
              <p class="content-text">
                <i  class="fa fa-facebook-official me-2" aria-hidden="true"></i>
                <i  class="fa fa-linkedin me-2" aria-hidden="true"></i>
                <i  class="fa fa-google-plus me-2" aria-hidden="true"></i>
                <i  class="fa fa-twitter me-2" aria-hidden="true"></i>
                <i  class="fa fa-instagram me-2" aria-hidden="true"></i>  
              </p>
  
          </div>
      </a>  </div>
  </div>
  </div>
  </div> -->
   <!--Our team ends-->
   <br />
    
<!--Footer starts -->
<app-footer></app-footer>
  <router-outlet></router-outlet>

