@media (max-width:1270px){
    #carouselExampleCaptionsClient{
        visibility:hidden;
    }
}

.info {
  color: #fff;
  font-family: 'Lato',sans-serif;
}

.carousel-inner {
  font-family: 'Lato', sans-serif;
}

.try {
    
    right: 580px;
    bottom:-30px;
}

.aboutuscontainer {
  font-family: 'Cambria','Cochin',Georgia, sans-serif;
  text-align: justify;
  font-size: 17px;
  
}


  .Aboutusbackgroundimage{
      
     position: relative;
      text-align: center;
      color: rgb(17, 17, 17);
      filter: brightness(0.3);
     
  }

  

  .btn-light:hover {
      background-color: #b90909;
      color: #fff;
      font-size: 15px;
      border-color: #b90909;
  }

  #carouselExampleCaptionsClient{
      position: absolute;
      margin-top:-605px;
      padding-left: 80px;
      width: 670px;
  }

  

/*************about us sliding cars*******************/
.content-image25 {
    height:500px;
    width: 472px;
    border-radius: 15px
}



/****************Our Team********************************/
.ourteam {
	position: relative;
	font-weight: bold;
	color:#de1827;
	font-size: 32px;
	}
 .title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px
}

.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
	font-size: 20px;
	box-shadow: 0 10px 20px 0px rgba(8, 4, 43, 0.8);
}
.content-tittle{
	color: #fff;
	
}
.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}

.content:hover .content-overlay {
    opacity: 0.7;
	background-color:#de1827;
	
}

.content-image {
    width: 100%
}

/* img {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px
} */

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase
}

.content-details p {
    color: #fff;
    font-size: 0.8em
}

.fadeIn-bottom {
    top: 80%
}

  /*********************on click event***************************/
  .backgroundcolorofcontainer{
    background-color:#000000;
    padding: 15px;
    color: #fff;
    font-family: 'Cambria','Cochin',Georgia, sans-serif;
    /* text-transform: uppercase; */
  }

  .buttonstyle {
    font-size:20px;
    width: 100%;
    box-shadow: none !important;
    text-transform: uppercase;
    font-family: 'Cambria','Cochin',Georgia, sans-serif;
    font-weight: bold;
  }

  .buttonstyle:hover {
    background-color: #de1827;
    color: #fff;
    outline: none;
    box-shadow: none;
    text-transform: uppercase;
    font-family: 'Cambria','Cochin',Georgia, sans-serif;
    font-weight: bold;
  }
  
  .buttonstyle1 {
    font-size:20px;
    width: 100%;
    box-shadow: none !important;
    text-transform: uppercase;
    font-family: 'Cambria','Cochin',Georgia, sans-serif;
    font-weight: bold;
  }

  .buttonstyle1:hover {
    background-color: #de1827;
    color: #fff;
    outline: none;
    box-shadow: none;
    text-transform: uppercase;
    font-family: 'Cambria','Cochin',Georgia, sans-serif;
    font-weight: bold;
  }

  .bg-mystyle{
    background-color: #fff;
  }

  .bg-mystyle:hover {
    background-color: #de1827;
    
  }

  .bg-mystyle1{
    background-color: #fff;
  }

  .bg-mystyle1:hover {
    background-color: #de1827;
    
  }

  .buttletstyle {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
  }

  .buttletstyle:hover {
    color: #de1827;
    font-weight: bold;
  }

  .about-video {
    font-family: 'Cambria','Cochin',Georgia, sans-serif;
  }
 
  
 