/* .trustlogos {
	content: url(https://www.authenticireland.com/wp-content/uploads/2018/04/TopTrust1.png);
	margin: 10px auto;
	max-width: 100%;
  } */

  .bg-dark123{
	background-color: #fff ;
}

.bg-dark1{
	background-color: #000;
}
	
.footerimage{
	/* / width: 314px; / */
	
}

.qaz {
  height: 3px;
  cursor: pointer;
  border-radius: 22px;
  background-color: #000;
  margin: auto 0px;
  transition: margin 3s;
}

.qaz:hover{
  margin:auto 110px;
}


.img-thumbnail{
  height: auto;
  width: 62%;
}

.footer-widget {
  /* / font-family: 'Lato', sans-serif; / */
  text-align:left;font-size:27px;font-family: 'lato','regular';
}

  .footer-widget h3{
	
	  
	  color: #000;
	  text-align:left;font-size:27px;
	  font-family: 'lato','regular';
	  font-weight: bold;
  }

  .footer-widget h3:hover{
	color: #FF0639;
  }

  
  .contact-link{
	display:inline-block;
	width: 100%;
	color: #000;
	font-size: 20px;
	font-family: 'Lato','regular';
	text-decoration: none;
  }

  .contact-link:hover{
	color:#FF0639;
  }
   /* / footer social / */
  .footer-social ul{
	
	  padding-left: 0;}

	  .footer-social ul li{
		list-style: none;
		float: left;
		padding: 0 10px;
		
	  }

	  .footer-social ul li a {
		font-size: 20px;
		  color: #000;
	  }

	  .footer-social ul li a:hover { 
		color:#FF0639}
		
	  
	  
	
  
  
  /* / // opening hour / */
  .opening-time{
	padding-left:0;
	color: #000;
	font-size: 18px;
	font-family: 'Lato', 'regular';
  }
	.opening-time li{
	  list-style: none;
	}
	  .opening-time span{
		float:left;
		padding-right: 10px;
	  }
		
   
  
  /* / // latest event / */
  .media-body a{
	
	  color: #000;
  font-size: 18px;
font-family: 'Lato','regular';}

	  .media-body a:hover{
		color: #FF0639;
	  }
	
	.media-body span{
		color: #969696;
		font-size: 18px;
	  }

	  .media-object {
		  height:auto;
		  width:auto;
	  }
	  
	  .img-thumbnail{
		  border:none !important;
		  background-color: transparent;
	  }
  
	  /****links*****/
	  .links{
		  text-decoration: none;
		  font-size: 20px;
		  color: #000;
		  font-family: 'Lato','regular';
		  cursor: pointer;
	  }

	  .links :hover{
		  color: #FF0639;
	  }
  /* / // gallery image / */
  /* .images-gellary ul{
   
	  padding-left: 0;}

	  .images-gellary ul li{
		list-style: none;
		float: left;
		margin: 0 3% 2% 0;
		width: 31%;
		position: relative;} */

	   
		/***********Social media*********************/

		.right-text { display: none; }

@media (max-width: 500px) {
  .right-text { display: inline-block; 
  color: #ffffff;}
  .left-text { display: none; }
}
