<footer class="footer bg-dark123">
  <div class="container-fluid">
   <div class="container-fluid">
    <div class="row">
      <br><br>
      <div class="col-sm-3 p-3">
        <div class="footer-widget" >
          <img src="../../../assets/images/logowking.png" class="footerimage img-fluid">
        </div>
        <br><br>
        <div class="footer-widget">
          <div class="row left-text">       
            <!-- <div class="footer-widget-content">
                <div class="images-gellary">
                 <ul>
                   <li><a href="#"><img src="../../assets/images/th1.png" alt="Instagram 01"></a></li>
                   <li><a href="#"><img src="../../assets/images/th2.jpg" alt="Instagram 02"></a></li>
                   <li><a href="#"><img src="../../assets/images/th3.jpg" alt="Instagram 03"></a></li>
                   <li><a href="#"><img src="../../assets/images/th1.png" alt="Instagram 04"></a></li>
                              
                 </ul>
               </div></div> -->     
                 <div class="col-12">
                   <a href="https://www.instagram.com/wheelkingtranshaul/" target="_blank">
                     <img src="../../assets/images/instagram.png" style="width: 40px; height: 40px;"  alt="">
                     </a>&nbsp;&nbsp;&nbsp;&nbsp;
             <!-- </li> -->
             <!-- <li class="nav-item dropdown"> -->
                 <a href="https://business.twitter.com/en/basics/create-a-twitter-business-profile.html"
                 target="_blank">
                 <img src="../../assets/images/twitter.png" style="width: 40px; height: 40px;"  alt="">
             </a>&nbsp;&nbsp;&nbsp;&nbsp;
             <a href="https://www.instagram.com/wheelkingtranshaul/" target="_blank">
               <img src="../../assets/images/facebook.png" style="width: 40px; height: 40px;"  alt="">
           </a>&nbsp;&nbsp;&nbsp;&nbsp;
       <!-- </li> -->
       <!-- <li class="nav-item dropdown"> -->
           <a href="https://business.twitter.com/en/basics/create-a-twitter-business-profile.html"
           target="_blank">
           <img src="../../assets/images/linkedin.png" style="width: 40px; height: 40px;"  alt="">
       </a>
                 </div>
                     <!-- <li class="nav-item "> -->
                      
                 <!-- </li> -->
                 <!-- <li class="nav-item dropdown"> -->
                    
                 <!-- </li> -->
                   
               
                 
             </div>
       </div>
         <!--  <hr class="qaz w-25">
          <div class="footer-widget-content" >
            <a href="mailto:sales@example.com" class="contact-link">sales@example.com</a>
            <a href="mailto:support@example.com" class="contact-link"> support@example.com </a>
            <a href="tel:0121234" class="contact-link">(123) 456-789</a>
            
          </div>
        </div> -->
        
        
      </div>
      <div class="col-sm-3 p-3" >
        <div class="footer-widget" style="text-align: left;">
         
        <h3>LATEST EVENTS</h3>
        <hr class="qaz w-25">
        <div class="footer-widget-content ">
          <div class="media">
              <div class="media-left">
                 <a href="#"><img src="../../../assets/images/P7132329.png" alt="..." class="img-thumbnail">
                 </a> 
              </div>
              <div class="media-body">
                 <p><a href="#" style="text-decoration: none;">Latest News.</a><br>
                 <a href="#" style="text-decoration: none;">Latest News1. </a><br>
                 </p>
                 
              </div>
           </div>
          <!-- <div class="media">
              <div class="media-left">
                <a href="#" style="text-decoration:none;"><img src="../../../assets/images/P7132329.png" alt="..." class="img-thumbnail">
                </a> 
              </div>
              <div class="media-body">
                 <p><a href="#">Latest News. </a></p>
                 <span>May 08, 2021 </span>
              </div>
           </div> -->
        </div>
        </div>
      </div>
      <div class="col-sm-3 p-3">
      <div class="footer-widget" style=" text-align: left;">
        <h3>QUICK LINKS</h3>
        <hr class="qaz w-25">
        <div class="footer-widget-content">
        <div class="open-time ">
          <ul class="links" >
            <br>        
            <li >Careers</li>
            
            <li >Contact</li> 
            <!-- <li><span><i class="fa fa-check"></i></span><p><strong>holydays :</strong> 12pm-12am</p></li> -->
          </ul>
           </div>
        </div>
        </div>
        
      </div>
      
      <div class="col-sm-3 p-3" >
        <div class="footer-widget" style=" text-align: left;">
          
        <h3>STAY IN TOUCH </h3>
        <hr class="qaz w-25">
        <!-- <div class="row">
          <div class="footer-widget-content" >
            <a class="contact-link">Monday - Friday : 8AM-6PM</a>
            <a class="contact-link">Saturday - Sunday : 8AM-5AM</a>
                    
          </div>
        </div> -->
        <div class="footer-widget-content" >
          <a href="mailto:sales@example.com" class="contact-link">sales@example.com</a>
          <a href="mailto:support@example.com" class="contact-link"> support@example.com </a>
          <a href="tel:0121234" class="contact-link">(123) 456-789</a>
          
        </div>
        
        
        </div>
        <br>
        <div class="row right-text">       
          <!-- <div class="footer-widget-content">
              <div class="images-gellary">
               <ul>
                 <li><a href="#"><img src="../../assets/images/th1.png" alt="Instagram 01"></a></li>
                 <li><a href="#"><img src="../../assets/images/th2.jpg" alt="Instagram 02"></a></li>
                 <li><a href="#"><img src="../../assets/images/th3.jpg" alt="Instagram 03"></a></li>
                 <li><a href="#"><img src="../../assets/images/th1.png" alt="Instagram 04"></a></li>
                            
               </ul>
             </div></div> -->     
               <div class="col-12">
                 <a href="https://www.instagram.com/wheelkingtranshaul/" target="_blank">
                   <img src="../../assets/images/instagram.png" style="width: 40px; height: 40px;"  alt="">
                   </a>&nbsp;&nbsp;&nbsp;&nbsp;
           <!-- </li> -->
           <!-- <li class="nav-item dropdown"> -->
               <a href="https://business.twitter.com/en/basics/create-a-twitter-business-profile.html"
               target="_blank">
               <img src="../../assets/images/twitter.png" style="width: 40px; height: 40px;"  alt="">
           </a>&nbsp;&nbsp;&nbsp;&nbsp;
           <a href="https://www.instagram.com/wheelkingtranshaul/" target="_blank">
             <img src="../../assets/images/facebook.png" style="width: 40px; height: 40px;"  alt="">
         </a>&nbsp;&nbsp;&nbsp;&nbsp;
     <!-- </li> -->
     <!-- <li class="nav-item dropdown"> -->
         <a href="https://business.twitter.com/en/basics/create-a-twitter-business-profile.html"
         target="_blank">
         <img src="../../assets/images/linkedin.png" style="width: 40px; height: 40px;"  alt="">
     </a>
               </div>
                   <!-- <li class="nav-item "> -->
                    
               <!-- </li> -->
               <!-- <li class="nav-item dropdown"> -->
                  
               <!-- </li> -->
                 
             
               
           </div>
        
      
    </div>
  </div>
  </div>
  </div>
  
  <!-- Copyright -->
  <div class="text-center p-3 bg-dark1 text-light">
    
    <a class="text-light text-decoration-none" style="font-size:22px;font-family: Lato; cursor:pointer;" href="">© 2020 Design by: Technogrowth Software Solutions Pvt Ltd.</a>
  </div>
  <!-- Copyright -->
  </footer>