<div class="container-fluid">
  <img class="Aboutusbackgroundimage img-fluid img-responsive" src="../../../assets/images/P7132331.JPG">
  <!-- <h1 class="clientsayboxoverimage text-center">Client Say<hr /></h1> -->
    <div class="caption">
      PHILOSOPHY
    </div>
    <div id="carouselExampleCaptionsClient" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators try">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" id="covermenuabout">
        <div class="row-justify">
          <div class="col-lg-4 ">
              <div class="col-item">
                      <div class="info">
                    <h2>DO THE RIGHT THING EVERYTIME.</h2>
                    <p>WHEEL KING VALUE 1</p>
                </div>
              </div>
          </div>
        
          
      </div>
      </div>
      <div class="carousel-item">
        <div class="row-justify">
          <div class="col-lg-4 ">
              <div class="col-item">
                 
                  <div class="info">
                    <h2>HIRE THE BEST</h2>
                    <p>WHEEL KING VALUE 2</p>
                      </div>
                      <!-- <div class="clearfix"></div> -->
                  
              </div>
          </div>
        
         
      </div>
      </div>
      <div class="carousel-item">
          <div class="row-justify">
            <div class="col-lg-4 ">
                <div class="col-item">
                   
                    <div class="info">
                      <h2>LIVE UPTO EVERY PROMISE</h2>
                      <p>WHEEL KING VALUE 3</p>
                        
                        <!-- <div class="clearfix"></div> -->
                    </div>
                </div>
            </div>
          
           
        </div>
        </div>
        <div class="carousel-item">
          <div class="row-justify">
            <div class="col-lg-4 ">
                <div class="col-item">
                   
                    <div class="info">
                      <h2>EMBRACE CO-OPETITION.</h2>
                      <p>WHEEL KING VALUE 4</p>
                        
                        <!-- <div class="clearfix"></div> -->
                    </div>
                </div>
            </div>                 
        </div>
        </div>
      <div class="carousel-item">
            <div class="row-justify">
              <div class="col-lg-4 ">
                  <div class="col-item">
                     
                      <div class="info">
                        <h2>SHARE IN EACH OTHER'S SUCCESS.</h2>
                        <p>WHEEL KING VALUE 5</p>
                          
                          <!-- <div class="clearfix"></div> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="row-justify">
            <div class="col-lg-4 ">
                <div class="col-item">
                   
                    <div class="info">
                      <h2>HAVE FUN</h2>
                      <p>WHEEL KING VALUE 6</p>
                        
                        <!-- <div class="clearfix"></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
  </div>
<br>
<!--Philosophy page information start -->
<div class="container-fluid p-5 ">
<div class="row">
  <div class="col-md-6 halfpage">
    <h1 class="page-header" >WE ARE COMMITTED</h1><hr>
    <span class="barlow-medium-ship-gray-22px"> We are true to our word. We provide the best experience in the industry for our customers. We put culture, process, and innovation ahead of cost in order to get the job done every time, without fail and without compromise. When we say we are going to do something, we do it.</span><br>

  </div>
  <div class="col-md-6 halfpage">
    <img src="../../assets/images/p7132349-removebg-preview@1x.png" class="img-fluid" alt="">
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6 halfpage">
    <img src="../../../assets/images/IMG_0391-removebg-preview.png" class="img-fluid" alt="">
  </div>
  <div class="col-md-6 halfpage">
    <h1 class="page-header">OUR SOCIAL RESPONSIBILITY</h1><hr>
    <span class="barlow-medium-ship-gray-22px">
      Since our starting, corporate social responsibility has been in our DNA. We constantly strives to benefit the environment and the communities in which we operate. Despite the challenges that come from managing impressive growth, we continue to improve on our key performance indicators. We remain focused on disrupting the status quo and reducing waste, whether it's in the form of electricity, materials, or empty miles—the miles a truck travels without hauling freight-on the highway. It is part of who we are, and therefore we excel at serving our customers, and maximizing both efficiency and value in the transportation industry. </span><br>
      <br>
      <h1 class="page-header">WE CARE</h1><hr>
  <span class="barlow-medium-ship-gray-22px">Whether you need to arrange the transport of one load or a hundred, Wheel King has the capacity to meet your requirements. If not with our own fleet we have the added resources of our freight management specialists to handle unexpected peaks in your activity.</span>
  </div>
</div>
<br>
<br>
</div>
<!--Philosophy page information end -->



<app-footer></app-footer>