<div class="container-fluid">
  <img class="Aboutusbackgroundimage img-responsive" src="../../../assets/images/P7132316.JPG">
  <div class="caption">
    PROFILES
  </div>
  <div id="carouselExampleCaptionsClient" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators try">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
        aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
        aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" id="covermenuabout">
        <div class="row-justify">
          <div class="col-lg-4 ">
            <div class="col-item">
              <div class="info">
                <h2>DO THE RIGHT THING EVERYTIME.</h2>
                <p>WHEEL KING VALUE 1</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row-justify">
          <div class="col-lg-4 ">
            <div class="col-item">
              <div class="info">
                <h2>HIRE THE BEST</h2>
                <p>WHEEL KING VALUE 2</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row-justify">
          <div class="col-lg-4 ">
            <div class="col-item">
              <div class="info">
                <h2>LIVE UPTO EVERY PROMISE</h2>
                <p>WHEEL KING VALUE 3</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row-justify">
          <div class="col-lg-4 ">
            <div class="col-item">
              <div class="info">
                <h2>EMBRACE CO-OPETITION.</h2>
                <p>WHEEL KING VALUE 4</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row-justify">
          <div class="col-lg-4 ">
            <div class="col-item">
              <div class="info">
                <h2>SHARE IN EACH OTHER'S SUCCESS.</h2>
                <p>WHEEL KING VALUE 5</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row-justify">
          <div class="col-lg-4 ">
            <div class="col-item">
              <div class="info">
                <h2>HAVE FUN</h2>
                <p>WHEEL KING VALUE 6</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container-fluid p-5 ">
  <div class="row">
    <div class="col-md-6 halfpage">
      <h1 class="mainheadingtittle">ABOUT WHEELKING</h1>
      <hr class="w-25">
      <span class="innerdata">Your reputation is safe in our hands.</span><br>
      <span class="innerdata">
        Every product has been on a truck or train at some point—your computer, your phone, the bed you sleep in, the
        food you eat. We specializes in how each of those products ends up where it needs to be. We are one of the
        fastest growing full service transportation and LTL logistics companies in North America.
      </span><br>
    </div>
    <div class="col-md-6 halfpage">
      <img src="../../assets/images/p7132349-removebg-preview@1x.png" class="img-fluid" alt="">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6 halfpage">
      <img src="../../../assets/images/IMG_0391-removebg-preview.png" class="img-fluid" alt="">
    </div>
    <div class="col-md-6 halfpage">
      <h1 class="mainheadingtittle">CAREERS</h1>
      <hr class="w-25">
      <span class="innerdata">
        Wheel King Transhaul Inc is a great choice for your Canadian truckload requirements. Delivering Satisfaction by
        the Truckload.
      </span><br>
      <span class="innerdata">
        We want the brilliant ones, the tenacious ones, the ones who have the initiative and instincts to think outside
        the box. We want people who are resilient, team-oriented, and driven. We want all of this because we are
        intensely focused on customer service and helping our customers and carriers grow their businesses. We and our
        people make our business what it is—one of the best places to work.
      </span><br>

    </div>
  </div>
</div>
<app-footer></app-footer>