

    
    <div class="container-fluid">
        
        <img class="Aboutusbackgroundimage img-fluid img-responsive" src="../../assets/images/P7132346.JPG">
        <!-- <h1 class="clientsayboxoverimage text-center">Client Say<hr /></h1> -->
        <div class="caption">
          ABOUT US
      </div>
          <div id="carouselExampleCaptionsClient" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators try">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" id="covermenuabout">
              <div class="row-justify">
                <div class="col-lg-4 ">
                    <div class="col-item">
                            <div class="info">
                          <h2>DO THE RIGHT THING EVERYTIME.</h2>
                          <p>WHEEL KING VALUE 1</p>
                      </div>
                    </div>
                </div>
              
                
            </div>
            </div>
            <div class="carousel-item">
              <div class="row-justify">
                <div class="col-lg-4 ">
                    <div class="col-item">
                       
                        <div class="info">
                          <h2>HIRE THE BEST</h2>
                          <p>WHEEL KING VALUE 2</p>
                        </div>
                            
                        
                    </div>
                </div>
              
               
            </div>
            </div>
            <div class="carousel-item">
                <div class="row-justify">
                  <div class="col-lg-4 ">
                      <div class="col-item">
                         
                          <div class="info">
                            <h2>LIVE UPTO EVERY PROMISE</h2>
                            <p>WHEEL KING VALUE 3</p>
                              
                              <!-- <div class="clearfix"></div> -->
                          </div>
                      </div>
                  </div>
                
                 
              </div>
              </div>
              <div class="carousel-item">
                <div class="row-justify">
                  <div class="col-lg-4 ">
                      <div class="col-item">
                         
                          <div class="info">
                            <h2>EMBRACE CO-OPETITION.</h2>
                            <p>WHEEL KING VALUE 4</p>
                              
                              <!-- <div class="clearfix"></div> -->
                          </div>
                      </div>
                  </div>                 
              </div>
              </div>
            <div class="carousel-item">
                  <div class="row-justify">
                    <div class="col-lg-4 ">
                        <div class="col-item">
                           
                            <div class="info">
                              <h2>SHARE IN EACH OTHER'S SUCCESS.</h2>
                              <p>WHEEL KING VALUE 5</p>
                                
                                <!-- <div class="clearfix"></div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row-justify">
                  <div class="col-lg-4 ">
                      <div class="col-item">
                         
                          <div class="info">
                            <h2>HAVE FUN</h2>
                            <p>WHEEL KING VALUE 6</p>
                              
                              <!-- <div class="clearfix"></div> -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          </div>
        </div>
        </div>
    <br><br>
    <!-- about us info start -->
    <div class="container historyFont">
        <div class="row">
          <div class="col-md-6">
            <h3 class="page-header" >About Us</h3><hr class="w-50">
              <span class="auinfo">
                Freight & Trucking Services in Canada & USA.<br> We're passionate about performance.     
            </span><br>
            <span class="auinfo">
                Wheel King Transhaul Inc. is a privately held Canadian company with dedicated fleet services as its core business. Our company is built upon the values and work ethics that are foundational to family operated businesses.
            </span><br>
            <span class="auinfo">
                 We offer our customers the opportunity of concentrating on their core competency by effectively managing the risk associated with their fleet while anyone can assume risk, not everyone can execute timely customer-centric transitioning and service. Wheel Kings mission is our proactive approach to customer-specific contingency planning, matched with flawless execution. Our quality policy states "Customers are the driving force in our organization. We will fulfill or exceed each customer requirements through our commitment to service excellence. This is the key to our future, our growth and our reputation."
           </span><br>
           
          </div>
          <div class="col-md-6 halfpage">
            <img src="../../assets/images/p7132349-removebg-preview@1x.png" class="img-fluid" alt="">
          </div>
        </div>
          
        </div>
    <!-- about us info end -->
    
     
   <br />
    
<!--Footer starts -->
<app-footer></app-footer>
  <router-outlet></router-outlet>

