@media (max-width:1270px){
    #carouselExampleCaptionsClient{
        visibility:hidden;
    }
}

.info {
  color: #fff;
  font-family: 'Lato',sans-serif;
}

.carousel-inner {
  font-family: 'Lato', sans-serif;
}

.try {
    
    right: 580px;
    bottom:-30px;
}

.aboutuscontainer {
  font-family: 'lato','regular';
  text-align: justify;
  font-size: 17px;
  
}

.caption {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate( -50%, -50% );
  text-align: center;
  color: white;
  font-family: 'Barlow','regular';
  font-size:5vw;
}

@media (max-width: 1000px){
.caption {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate( -50%, -50% );
  text-align: center;
  color: white;
  font-family: 'Barlow','regular';
  font-size:5vw;
}
}


  .Aboutusbackgroundimage{
      
     position: relative;
      text-align: center;
      color: rgb(17, 17, 17);
      filter: brightness(0.3);
     
  }

  

  .btn-light:hover {
      background-color: #b90909;
      color: #fff;
      font-size: 15px;
      border-color: #b90909;
  }

  #carouselExampleCaptionsClient{
      position: absolute;
      margin-top:-605px;
      padding-left: 80px;
      width: 670px;
  }

  .historyFont{
     
    text-align: justify;
    letter-spacing: 0px;
   
    color: black;
}
h3{
   font-family: 'Barlow','regular';
   font-size: 30px;
   font-weight: bold;
    color: #FF0639;
	opacity: 1;
}
.auinfo{
  font-family: 'lato','regular';
  font-size: 20px;
}





  
 