<div class="container-fluid">
  <img class="Aboutusbackgroundimage img-fluid img-responsive" src="../../assets/images/IMG_0394.JPG">
  <!-- <h1 class="clientsayboxoverimage text-center">Client Say<hr /></h1> -->
  <div class="caption">
   CONTACT
  </div>
    <div id="carouselExampleCaptionsClient" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators try">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" id="covermenuabout">
        <div class="row-justify">
          <div class="col-lg-4 ">
              <div class="col-item">
                      <div class="info">
                    <h2>DO THE RIGHT THING EVERYTIME.</h2>
                    <p>WHEEL KING VALUE 1</p>
                </div>
              </div>
          </div>
        
          
      </div>
      </div>
      <div class="carousel-item">
        <div class="row-justify">
          <div class="col-lg-4 ">
              <div class="col-item">
                 
                  <div class="info">
                    <h2>HIRE THE BEST</h2>
                    <p>WHEEL KING VALUE 2</p>
                      </div>
                      <!-- <div class="clearfix"></div> -->
                  
              </div>
          </div>
        
         
      </div>
      </div>
      <div class="carousel-item">
          <div class="row-justify">
            <div class="col-lg-4 ">
                <div class="col-item">
                   
                    <div class="info">
                      <h2>LIVE UPTO EVERY PROMISE</h2>
                      <p>WHEEL KING VALUE 3</p>
                        
                        <!-- <div class="clearfix"></div> -->
                    </div>
                </div>
            </div>
          
           
        </div>
        </div>
        <div class="carousel-item">
          <div class="row-justify">
            <div class="col-lg-4 ">
                <div class="col-item">
                   
                    <div class="info">
                      <h2>EMBRACE CO-OPETITION.</h2>
                      <p>WHEEL KING VALUE 4</p>
                        
                        <!-- <div class="clearfix"></div> -->
                    </div>
                </div>
            </div>                 
        </div>
        </div>
      <div class="carousel-item">
            <div class="row-justify">
              <div class="col-lg-4 ">
                  <div class="col-item">
                     
                      <div class="info">
                        <h2>SHARE IN EACH OTHER'S SUCCESS.</h2>
                        <p>WHEEL KING VALUE 5</p>
                          
                          <!-- <div class="clearfix"></div> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="row-justify">
            <div class="col-lg-4 ">
                <div class="col-item">
                   
                    <div class="info">
                      <h2>HAVE FUN</h2>
                      <p>WHEEL KING VALUE 6</p>
                        
                        <!-- <div class="clearfix"></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
  </div>
<br><br>
  <div class="container-fluid  img-fluid img-responsive backgroundcolorofcontainer">
      <div class="row mx-md-n5">
        <div class="col px-md-5">
          <div class="p-3 border bg-mystyle">
              <div class="col-sm" (click)="goApply()">
                <button type="button" class="btn buttonstyle  btn-lg btn-block" style="font-weight: bold;"> Contact Us</button>
              </div>
              </div>
              <div class="p-3 border bg-mystyle1">
                  <div class="col-sm" (click)="goQuickLinks()">
                    <button type="button" class="btn buttonstyle1  btn-lg btn-block" style="font-weight: bold;">HEAD OFFICE</button>
                  </div>
                </div>
                <div class="p-3 border bg-mystyle1">
                  <div class="col-sm" (click)="goQuickLinks2()">
                    <button type="button" class="btn buttonstyle1  btn-lg btn-block" style="font-weight: bold;">OTHER LOCATIONS</button>
                  </div>
                </div>
          <div class="p-3 border bg-mystyle">
            <div class="col-sm" (click)="goReqQuotation()">
              <button type="button" class="btn buttonstyle  btn-lg btn-block" style="font-weight: bold;">Contact Details</button>
            </div>
            </div>
            
        </div>
      <div class="col px-md-4"><div class="p-3 bg-transparent">
          <div *ngIf="isReqQuotation">
            <section id="about-video" class="about-video">
              <h6 >
                  Toll Free: 1-844-943-3558 <br>
                  Phone: (905)-636-1711<br>
                  Fax: (905)-636-9546<br>
                  Email: info@wheelkingtranshaul.com<br>
              </h6>
             
              
            </section>
          </div>
          <div *ngIf="isQuickLinks">
            <section id="about-video" class="about-video">
             <h6 >475 Harrop Drive,<br>
              Milton,<br>
              ON L9T 3H3, Canada</h6>
              <p class="text-muted">Note: An additional fenced yard is available at: 16 Escarpment Way, Milton ON
                strategically & conveniently located closest to Exit 320 of Highway 401</p><br><hr>
                <agm-map [latitude]="lat" [longitude]="lng">
                  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
            </section>
          </div>
          <div *ngIf="isApply" >
              <form>
                  <div class="form-group">
                    <label for="exampleInputFName">First Name*</label>
                    <input type="text" class="form-control" id="exampleInputFName" aria-describedby="emailHelp" placeholder="Enter first name" required>

                    <!-- <label for="validationServer01">First name</label>
                    <input type="text" class="form-control is-valid" id="validationServer01" placeholder="First name" value="Mark" required>
                    <div class="valid-feedback">
                      Looks good!
                    </div> -->
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                  </div>
                  <div class="form-group">
                    <label for="exampleInputLName">Last Name*</label>
                    <input type="text" class="form-control" id="exampleInputLName" placeholder="Enter last name" required>
                  </div>
                  <br>
                  <div class="form-group">
                      <div class="row">
                          <div class="col-sm-3">
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                  <label class="form-check-label" for="gridRadios1">
                                      I'm a shipper
                                  </label>
                                </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                  <label class="form-check-label" for="gridRadios2">
                                      I'm a carrier
                                  </label>
                                </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                                  <label class="form-check-label" for="gridRadios3">
                                      I'm a job seeker
                                  </label>
                                </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                                  <label class="form-check-label" for="gridRadios4">
                                    Other
                                  </label>
                                </div>
                          </div>
                      </div>
                  </div>
                  <br>
                  <div class="form-group">
                      <label for="exampleInputEmail1">Email address*</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputMobileNumber">Phone Number*</label>
                      <input type="number" class="form-control" id="exampleInputMobileNumber" placeholder="Enter Phone Number" required>
                    </div>
                    <br>
                    <div class="form-group">
                      <label for="exampleInputCName">Company Name*</label>
                      <input type="text" class="form-control" id="exampleInputCName" placeholder="Enter company name" required>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Message*</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
                    </div>
                  <br>
                  <button type="submit" class="btn bg-mystyle1">Submit</button>
                </form>
               
          </div>
          <div *ngIf="isQuickLinks2">
            <section id="about-video" class="about-video">
              <h6 style="color:red">
                WheelkingMEX LLC</h6>
                <h6>
Venustiano Carranza, PE RIF. Luis Echeverria Y,<br>
Saltillo Coah. 25280<br>
MEXICO<br>
              </h6>
              <h6 style="color:red">
                WheelkingUSA LLC</h6>
                <h6>
                  13701 CabezutDrive, Laredo, TX 78045<br>
                  U.S.A.
              </h6>
              <h6 style="color: red">WKT Logistics Pvt Ltd.</h6>
              <h6 >
                Dibon Building, 5th Floor, ITC Plot #2, Sector 67,</h6>
                <h6>
                Mohali, Punjab 160062<br>
                INDIA</h6>  
                <h6 style="color:red">WheelkingChicago / Akra Express Inc.</h6>
                <h6>
                  2202 W 166th Street<br>
                  Markham, IL 60428<br>
                  U.S.A.</h6>
                  <h6 style="color:red">Wheelking</h6>
                  <h6>
                    151 Ave Reverchon<br>
                    Pointe-Claire, QC H9P 1K1<br>
                    CANADA</h6>
            </section>
          </div>
        </div></div>
      </div>
     </div>

<app-footer></app-footer>