.ourservicebackgroundimage {
	
	position: absolute !important ;
	width: 100%;
	height: 670px;
	background-color: #1a1a1a;
	background-size: auto;
	filter: brightness(0.3);
	z-index: -2;
	margin-top: -15px;
}

.qaz {
	height: 3px;
	cursor: pointer;
	border-radius: 22px;
	background-color: #FF0639;
	margin: auto 0px;
	transition: margin 3s;
}

.qaz:hover{
	margin:auto 110px;
}

.clientsay{
    font-family: 'Barlow','regular';
    font-weight: bold;
    font-size: 30px;
    color: #FF0639;
    opacity: 1;
}