<div class="container-fluid">
  <img class="ourservicebackgroundimage" src="../../assets/images/P7132296.JPG">
<div class="container-fluid my-4 w-75 ml-auto">
    <h1 class="clientsay text-center" >Client Say<hr></h1>
    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
  
      <!--Controls-->
      <!-- <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating " href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div> -->
      <!--/.Controls-->
  
      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->
  
      <!--Slides-->
      <div class="carousel-inner" style="font-family: 'lato','regular';" role="listbox">
  
        <!--First slide-->
        <div class="carousel-item active">
  
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2 img-responsive ">
                <img class="card-img-top rounded-circle"  src="../../assets/images/thumbnail.png"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-center" style="font-weight: bold;">Jon Doe </h4>
                  <p class="card-text">" WHEEL KING REALLY DIFFERENTIATED THEMSELVES FROM THE SCORES OF OTHER COMPANIES WHO DON'T HAVE ASSETS."</p>
                    </div>
              </div>
            </div>
  
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2 img-responsive ">
                <img class="card-img-top rounded-circle"  src="../../assets/images/thumbnail.png"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-center" style="font-weight: bold;">Jon Doe </h4>
                  <p class="card-text">"I'VE DEALT WITH A MILLION CARRIERS OVER THE YEARS. I'VE TO SAY YOU GUYS ARE THE BEST! THANK YOU."</p>
                    </div>
              </div>
            </div>
  
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2 img-responsive ">
                <img class="card-img-top rounded-circle"  src="../../assets/images/thumbnail.png"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-center" style="font-weight: bold;">Jon Doe </h4>
                  <p class="card-text">"I GET BOMBARDED BY COMPANIES ALL THE TIME, BUT WHEEL KING PROVIDE SERVICE WHICH LEAVE THEM BEHIND. "</p>
                    </div>
              </div>
            </div>
          </div>
  
        </div>
        <!--/.First slide-->
  
        <!--Second slide-->
        <div class="carousel-item">
  
          <div class="row" >
            <div class="col-md-4">
              <div class="card mb-2 img-responsive ">
                <img class="card-img-top rounded-circle"  src="../../assets/images/thumbnail.png"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-center" style="font-weight: bold;">Jon Doe </h4>
                  <p class="card-text">"I'VE DEALT WITH A MILLION CARRIERS OVER THE YEARS. I'VE TO SAY YOU GUYS ARE THE BEST! THANK YOU."</p>
                    </div>
              </div>
            </div>
  
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2 img-responsive ">
                <img class="card-img-top rounded-circle"  src="../../assets/images/thumbnail.png"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-center" style="font-weight: bold;">Jon Doe </h4>
                  <p class="card-text">"I'VE DEALT WITH A MILLION CARRIERS OVER THE YEARS. I'VE TO SAY YOU GUYS ARE THE BEST! THANK YOU."</p>
                    </div>
              </div>
            </div>
  
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2 img-responsive ">
                <img class="card-img-top rounded-circle"  src="../../assets/images/thumbnail.png"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-center" style="font-weight: bold;">Jon Doe </h4>
                  <p class="card-text">"I'VE DEALT WITH A MILLION CARRIERS OVER THE YEARS. I'VE TO SAY YOU GUYS ARE THE BEST! THANK YOU."</p>
                    </div>
              </div>
            </div>
          </div>
  
        </div>
        <!--/.Second slide-->
  
        <!--Third slide-->
        <!-- <div class="carousel-item">
  
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/IMG_0420.JPG"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
  
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/IMG_0391.JPG"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
  
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/IMG_0391.JPG"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
          </div>
  
        </div> -->
        <!--/.Third slide-->
  
      </div>
      <!--/.Slides-->
  
    </div>
    <!--/.Carousel Wrapper-->
  
  
  </div>
</div>