/**@import url(https://fonts.googleapis.com/css?family=Raleway); 

@import url(//fonts.googleapis.com/css?family=Muli:300,400,700); client say**/

/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100&display=swap'); */

.showclick {
	font-family: 'Lato', 'regular';
	font-size: 20px;
}


@media only screen and (max-width: 411px) {/**for hide and show text over our services***/
    

	.para111 {
		color: rgb(0, 0, 0);
	}
	
}

@media (max-width: 1000px) {
    

	.carousel-caption .list-group .list-group-flush{
        
		font-size: 12px;
	
}
}

#covermenu {
    background-size: cover;
    height:100%;
}

.carousel-caption {
    /* background-color: #333; */
    margin-bottom: 20%;
	
    
}


#carouselExampleCaptions {
	z-index: -1;
}

 
      /***************2nd slider*****************/

.sp-container {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
	background: -webkit-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
	background: -moz-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
	background: -ms-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
	background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
}
.sp-content {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 1000;
}
.sp-container h2 {
	position: absolute;
	top: 50%;
	line-height: 100px;
	height: 90px;
	margin-top: -50px;
	font-size: 90px;
	width: 100%;
	text-align: center;
	color: transparent;
	/* -webkit-animation: blurFadeInOut 3s ease-in backwards;
	-moz-animation: blurFadeInOut 3s ease-in backwards;
	-ms-animation: blurFadeInOut 3s ease-in backwards;
	animation: blurFadeInOut 3s ease-in backwards; */
}
/* .sp-container h2.frame-1 {
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
	animation-delay: 0s;
}
.sp-container h2.frame-2 {
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	-ms-animation-delay: 3s;
	animation-delay: 3s;
}
.sp-container h2.frame-3 {
	-webkit-animation-delay: 6s;
	-moz-animation-delay: 6s;
	-ms-animation-delay: 6s;
	animation-delay: 6s;
}*/

/* .sp-container h2.frame-4 {
	margin-bottom: 25%;
	-webkit-animation: blurFadeIn 2s ease-in 0s backwards;
	-moz-animation: blurFadeIn 1s ease-in 0s backwards;
	-ms-animation: blurFadeIn 2s ease-in 0s backwards;
	animation: blurFadeIn 2s ease-in 0s backwards;
	color: transparent;
	text-shadow: 0px 0px 1px #fff;
} */
.sp-container h2.frame-5 {
	-webkit-animation: none;
	-moz-animation: none;
	-ms-animation: none;
	animation: none;
	color: transparent;
	text-shadow: 0px 0px 1px #fff;
	
}

.sp-container h2.frame-5 span {
	-webkit-animation: blurFadeIn 1s ease-in 2s backwards;
	-moz-animation: blurFadeIn 1s ease-in 2s backwards;
	-ms-animation: blurFadeIn 1s ease-in 2s backwards;
	animation: blurFadeIn 1s ease-in 2s backwards;
	color: transparent;
	text-shadow: 0px 0px 1px #fff;
	text-align: center;
}
.sp-container h2.frame-5 span:nth-child(2) {
	-webkit-animation-delay: 2.5s;
	-moz-animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
.sp-container h2.frame-5 span:nth-child(3) {
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	-ms-animation-delay: 3;
	animation-delay: 3s;
}

/**/

@-webkit-keyframes blurFadeInOut {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-webkit-transform: scale(1.3);
	}
	20%, 75% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-webkit-transform: scale(1);
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		-webkit-transform: scale(0);
	}
}
@-webkit-keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-webkit-transform: scale(1.3);
	}
	50% {
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		-webkit-transform: scale(1.1);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-webkit-transform: scale(1);
	}
}
@-webkit-keyframes fadeInBack {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
	}
	50% {
		opacity: 0.4;
		-webkit-transform: scale(2);
	}
	100% {
		opacity: 0.2;
		-webkit-transform: scale(5);
	}
}
@-webkit-keyframes fadeInRotate {
	0% {
		opacity: 0;
		-webkit-transform: scale(0) rotate(360deg);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1) rotate(0deg);
	}
}
/**/

@-moz-keyframes blurFadeInOut {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-moz-transform: scale(1.3);
	}
	20%, 75% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-moz-transform: scale(1);
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		-moz-transform: scale(0);
	}
}
@-moz-keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-moz-transform: scale(1.3);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-moz-transform: scale(1);
	}
}
@-moz-keyframes fadeInBack {
	0% {
		opacity: 0;
		-moz-transform: scale(0);
	}
	50% {
		opacity: 0.4;
		-moz-transform: scale(2);
	}
	100% {
		opacity: 0.2;
		-moz-transform: scale(5);
	}
}
@-moz-keyframes fadeInRotate {
	0% {
		opacity: 0;
		-moz-transform: scale(0) rotate(360deg);
	}
	100% {
		opacity: 1;
		-moz-transform: scale(1) rotate(0deg);
	}
}
/**/

@keyframes blurFadeInOut {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(1.3);
	}
	20%, 75% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		transform: scale(0);
	}
}
@keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(1.3);
	}
	50% {
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
}
@keyframes fadeInBack {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	50% {
		opacity: 0.4;
		transform: scale(2);
	}
	100% {
		opacity: 0.2;
		transform: scale(5);
	}
}
@keyframes fadeInRotate {
	0% {
		opacity: 0;
		transform: scale(0) rotate(360deg);
	}
	100% {
		opacity: 1;
		transform: scale(1) rotate(0deg);
	}
}

/***********slide 1*********************/


/* Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}



.animated {
    
    font-size: 40px;
    animation-duration: 3s;
    animation-fill-mode: both;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    color: transparent;
	text-shadow: px 10px 0px #fff;
    
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.list-group-item {
	background-color:transparent;
	color:#fff;
	font-size: 52px;
	padding-top: 25px;
	border-width: 0 0 0px 0px;
	text-shadow: 0px 0px 1px;
}


/*****3rd slider***********/





.polu  div {
  display:inline;
  overflow:hidden;
  white-space:nowrap;
}

.polu div:first-of-type {    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup 7s infinite;
  font-size: 62px;
  
}

.polu div:last-of-type {
  width:50px;
  animation: reveal 7s infinite;
  font-size: 62px;
  
}

.polu div:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}

	/***************best pricees get free quote 24/7 section************/

	.viewblock1 {
		border-radius: 20%;
	}

	.viewblockinside {
		text-align: center;
		color: #fff;
		font-family: normal normal medium 20px/25px Barlow;
		/* text-align: justify; */
		text-align: center;
		cursor: pointer;
	}

	.card-title {
		text-align: center;
		color: #fff;
		font-family: normal normal 600 50px/67px Barlow;
		font-size: 33px;
		cursor: pointer;
	}

	.sliderblockline {
		height: 3px;
		border-radius: 22px;
		background-color: #fff;
		margin: auto 110px;
		transition: margin 3s;
	}

	.hr {
		height: 3px;
		border-radius: 22px;
		background-color: #fff;
		margin: auto 110px;
		transition: margin 3s;
	}
	

	hr:hover {
		margin: auto 80px;
	}
	.serviceline :hover{
		margin: auto 380px;
	}
	.serviceline {
		align-items: center;
		height: 3px;
		border-radius: 22px;
		background-color: #fff;
		margin: auto 580px;
		transition: margin 3s;
	}

	
	
	.overlaycard {
		z-index: 2;
		margin: -140px 0px 0px;
		border-radius: 100px;
		
	}

	.cardtextfontstyle{
		padding: 50px;
		/* text-align: justify; */
		
	}
	.quotetext{
		
		background-color: #3F4049;
	}

	.getquotebutton {
		background-color: #fff;
	}
	.getquotebutton:hover {
		background-color: #de1827;
		color: #fff;
		font: normal normal  20px/30px Barlow;
	}
	
	.bestpriceandsupporttext{
		background-color: #FF0639;
		color: #fff;
		font: normal normal  20px/30px Barlow;
		letter-spacing: 0px;
		text-align: justify;
		
	}
	
	.bg-warning11{
		background-color: #f89100;
	}

	/* thumbnail img */
	/* img{
		background: transparent 
	    0% 0% no-repeat padding-box;
        opacity: 1;
	} */
  /****footer*******/

  .trustlogos {
	content: url(https://www.authenticireland.com/wp-content/uploads/2018/04/TopTrust1.png);
	margin: 10px auto;
	max-width: 100%;
  }
  
  .footer_trust_top {
	width: 100%;
	margin: 20px auto;
	text-align: center;
	margin-top: 150px;
  }
  
  .footer_trust_top p {
	/* font-family: montserrat; */
	font-size: 18px;
	font-weight: 400;
	color: rgb(0, 0, 0, 0.5);
  }

.footer{
	
	font-family: 'Cambria','Cochin',Georgia, sans-serif;
	/* padding: 10px 0; */
  }
  
	.footer-widget h3{
	  
		margin-bottom: 30px;
		color: #fff;
	}
  
	.footer-widget h3:hover{
	  color: #de1827;
	}
  
	
	.contact-link{
	  display:inline-block;
	  width: 100%;
	  color: #fff;
	}
  
	.contact-link:hover{
	  color:#de1827;
	}
	 /* footer social */
	.footer-social ul{
	  
		padding-left: 0;}
  
		.footer-social ul li{
		  list-style: none;
		  float: left;
		  padding: 0 10px;
		  
		}
  
		.footer-social ul li a {
		  font-size: 20px;
			color: #fff;
		}
  
		.footer-social ul li a:hover { 
		  color:#de1827}
		  
		
		
	  
	
	
	/* // opening hour */
	.opening-time{
	  padding-left:0;
	  color: #fff;
	}
	  .opening-time li{
		list-style: none;
	  }
		.opening-time span{
		  float:left;
		  padding-right: 10px;
		}
		  
	 
	
	/* // latest event */
	.media-body a{
	  
		color: #fff;}
  
		.media-body a:hover{
		  color: #de1827;
		}
	  
	  .media-body span{
		  color: #969696;
		}
	
	
	/* // gallery image */
	.images-gellary ul{
	 
		padding-left: 0;}
  
		.images-gellary ul li{
		  list-style: none;
		  float: left;
		  margin: 0 3% 2% 0;
		  width: 31%;
		  position: relative;}

		  /**********************our services*********************/
		  /* styles reset */
			
		  /****************/


		  
.card-group {
    margin: 40px 60px;
	/* font-family: 'Lato', sans-serif; */
	/* font-family: 'Cambria','Cochin',Georgia, sans-serif; */
	/* font-size:20px */
	text-align: center;
    font: normal normal normal 18px Lato;
    letter-spacing: 0px;
    color: #3F3E41;
    opacity: 1;
}

.card-footer {
    visibility: hidden;
   
}


.bg-warningcustomcolor{
    border-radius: 20px;
    background-color:#FF0639;
}

.card-title {
	color: rgb(56, 55, 54);
}

.ourservicebackgroundimage {
	
	position: absolute !important ;
	width: 100%;
	height: 670px;
	background-color: #1a1a1a;
	background-size: auto;
	filter: brightness(0.1);
	z-index: -2;
	margin-top: -15px;
}

.ourservices {
	position: relative;
	/* font-family: Verdana, Geneva, Tahoma, sans-serif; */
	text-align: justify;
	/* color:#de1827; */
	/* font-size: 32px; */
	padding-top: 114px;
	/* font: normal normal bold 30px/35px Barlow; */
	font-size: 30px;
	font-family: 'barlow', 'regular';
    letter-spacing: 0px;
    color: #FF0639;
    text-transform: uppercase;
    opacity: 1;
	font-weight:bold;
	}

.para111 {
	/* color: #fff; */
	/* text-align: center; */
	/* font-family: 'Lato', sans-serif; */
	/* font-family: 'Cambria','Cochin',Georgia, sans-serif; */
	/* font-size: 20px; */
	text-align: center;
    /* font: normal normal normal 18px Lato; */
	font-size: 20px;
	font-family: 'Lato','regular';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
	/* text-align: justify; */
	/* padding: 5px; */
}
.short-text { display: none; }

@media (max-width: 700px) {
    .short-text { display: inline-block; 
	color: #ffffff;}
    .full-text { display: none; }
}

/***********cards hovering effect*********************/

	
/****for card button *******/
 .card-group .row  :hover .card-footer {
	visibility: visible;
    color:#FF0639;
	
    
  }

 
.card1:hover {
    color: #FF0639;  
    box-shadow: 0 10px 60px 0px rgba(8, 4, 43, 0.8);    
}
.card2:hover {
    color: #FF0639; 
    box-shadow: 0 10px 60px 0px rgba(8, 4, 43, 0.8);
}
/* .card3:hover {
    color: rgb(233, 106, 2);  
    box-shadow: 0 10px 60px 0px rgba(8, 4, 43, 0.8);
}
.card4:hover {
    color: rgb(233, 106, 2);  
    box-shadow: 0 10px 60px 0px rgba(8, 4, 43, 0.8);    
}
.card5:hover {
    color: rgb(233, 106, 2);  
    box-shadow: 0 10px 60px 0px rgba(8, 4, 43, 0.8);
}
.card6:hover {
    color: rgb(233, 106, 2);  
    box-shadow: 0 10px 60px 0px rgba(8, 4, 43, 0.8);
} */
 
   

 /****************Our Team********************************/
 .ourteam {
	position: relative;
	font-weight: bold;
	color:#de1827;
	font-size: 32px;
	}
 .title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px
}

.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
	font-size: 20px;
	box-shadow: 0 10px 20px 0px rgba(8, 4, 43, 0.8);
}
.content-tittle{
	color: #fff;
	
}
.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}

.content:hover .content-overlay {
    opacity: 0.7;
	background-color:#de1827;
	
}

.content-image {
    width: 100%
}

/* img {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px
} */

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase
}

.content-details p {
    color: #fff;
    font-size: 0.8em
}

.fadeIn-bottom {
    top: 80%
}


/*** client say*****/

	/* .rounded-circle {
		
		padding:10px;
	}

	

	.clientsayinsidebox {
		border-radius: 5px;
		font-family: 'Cambria','Cochin',Georgia, sans-serif;
		text-align: justify;
		background-color:#e7e7e7;
		font-size: 17px;
		font-weight: bold;
		
	}

	.clientsayinsidebox:hover{
		background-color: #de1827;
		color: #fff;
		border-radius: 10px;
		border: 1px solid rgba(51, 50, 50, 0.904);
		font-size:20px;
		
	}

	.photo {
		text-align: center;
	}

	.clientbackgroundimage {
		width: 100%;
		height: 500px;
		filter:brightness(0.3);
		z-index: -5;
	}

	
	#carouselExampleCaptionsClient {
		z-index: 5;
	}

	.clientsayboxoverimage {
		position: relative;
		font-family: Arial, Helvetica, sans-serif;
		text-align: justify;
		color:#fff;
		font-size: 32px;
		margin-top: -400px;
		z-index: 8;
		}

		@media (max-width: 1100px) {
			
			.clientsayboxoverimage { display: none; }

			.footer_trust_top { margin-top: 10px;}
		}
 */
		
/*******azhar**************/


.onclickimagechangeevent {
	/* font-family: 'Cambria','Cochin',Georgia, sans-serif; */
	text-align: justify;
	letter-spacing: 0px;
	/* font-size: 17px; */
}

.onclickchangehovercolor {
	color: #000;
}

.onclickchangehovercolor:hover {
	
	color: #fff;
}
.btn-info{
	width: 180px;
    height: 155px;
    border-radius:8px;
    color: #000;
    background-color: #fff;
	border-color: rgba(0, 0, 0, 0.281);
}

.btn-info:hover {
	background-color: #FF0639;
}
/******************latest news*********************************/

.Latestnews {
	position: relative;
	font-family: 'barlow', 'regular';
	color:#de1827;
	font-size: 32px;
	margin-top:100px;
	}

	.latestnewsimagestyleclass{
		margin-top: 15px;
		border-radius: 5px;
	}
  
.newscard1 {
	background-color: #f7f5f3;
	border-radius: 5px;
	border:#474645 1px solid;
}

.newscard1:hover {
	color: #de1827;
    box-shadow: 0 10px 60px 0px rgba(8, 4, 43, 0.8);    

  }

  
/**********************IMAGE****************************/

.IMAGEModule{
	position: relative;
	
  }

  .imagestyle{
	
	text-decoration: solid;
	text-shadow: #1a1a1a;
	height: 458px; width: 100%;
}
	.lineimage{
		background:url(../../assets/images/line.png);
	}

  .text-block {
	position: absolute;
	
	bottom: 90px;
	right: 120px;
	
	color: white;
	
  }

  .text-block1 {
	position: absolute;
	font-size:24px;
	bottom: 90px;
  	/* left: 120px; */
	/* background-color: black; */
	color: white;
	padding-left: 50px;
	padding-right: 20px;
  }

  .btn-IMAGE {
	  background-color: #de1827;
	  color: white;
	  font-size: 20px;
	  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
	  border-radius:25px;
	 
    padding: 3px 63px 8px 63px;
    margin-left: 40px;
  }

  .btn-IMAGE:hover {
	  background-color: #474645;
	  color: #000;
  }

  .stylingbullets {
	list-style: none;
	padding-left: 0;
  }
  .stylingbullets li {
	position: relative;
	padding-left: 1.5em;  /* space to preserve indentation on wrap */
  }
  .stylingbullets li:before {
	content: '';  /* placeholder for the SVG */
	position: absolute;
	left: 0;  /* place the SVG at the start of the padding */
	width: 1em;
	height: 1em;
	background: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='utf-8'?><svg width='18' height='18' fill='firebrick' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'><path d='M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z'/></svg>") no-repeat;
  }


  /*********************What we work***********************************/

  .title-arch {
	text-align: center;
	margin: 50px 0;
	
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: Verdana;
	
	color:#de1827;
	font-size: 34px;
}

.project {

height: 500px;
background-image: url(../../assets/images/1.png);
background-size: cover;
background-position: center;
padding: 0 !important;
float:left;
}

.project-2 {
background-image: url(../../assets/images/2.png);
}

.project-3 {
background-image: url(../../assets/images/3.png);
}

.project-4 {
background-image: url(../../assets/images/4.png);
}

.project-hover {
width: 100%;
height: 100%;
color: #fff;
opacity: 0;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
background-color: rgba(246,98,8, 0.7);
padding: 40% 30px !important;
}

.project-hover hr {
height: 30px;
width: 0;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
background-color: rgba(255, 255, 255, 1);
border: 0;
}

.project-hover a {
color: rgba(255, 255, 255, 1);
padding: 2px 22px;
line-height: 40px;
border: 2px solid rgba(255, 255, 255, 0.5);
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.project-hover a:hover {
border-color: rgb(255, 255, 255);
color: rgb(255, 255, 255);
background-color: rgba(255, 255, 255, 0.5);
}

.project:hover .project-hover {
opacity: 1;
}

.project:hover .project-hover hr {
width: 100%;
height: 5px;
}
  