<!-- <app-nav1></app-nav1> -->
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
	<div class="carousel-indicators">
	  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
	  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
	  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
	  <div class="carousel-item active" id="covermenu">
		<img src="../../assets/images/WKTruck.png" class="d-block w-100"  alt="...">
		  <div class="carousel-caption d-sm-block">
			<div class="slider1">
			  <div class="animated animatedFadeInUp fadeInUp">
				<!-- <ul class="list-group list-group-flush">
				  <li class="list-group-item">Transportation Types</li>
				  <li class="list-group-item">Air</li>
				  <li class="list-group-item">Land</li>
				  <li class="list-group-item">Water</li>
				  
				</ul> -->
			  </div>
			  <!-- <div class="animated animatedFadeInUp fadeInUp">
				<h1>Land transportation</h1>
			  </div> 
			  <div class="animated animatedFadeInUp fadeInUp">
				<h1>Air of transportation</h1>
			  </div> 
			  <div class="animated animatedFadeInUp fadeInUp">
				<h1>Water of transportation</h1>
			  </div>  -->
			</div>       
		  </div>
	  </div>
	  <div class="carousel-item">
		<img src="../../assets/images/WKTruck1.png"  class="d-block w-100" alt="...">
		<!-- <div class="carousel-caption d-none d-md-block">         
		  <div class="sp-container">
			<div class="sp-content">
			  
		
			  <h2 class="frame-5">
				
				<span>Warehouse,</span>
				<span>Storage,</span>
				<span>Freight Forwarding</span>
			  </h2>
			  
			</div>
		  </div>
  
		</div> -->
	  </div>
	  <div class="carousel-item">
		<img src="../../assets/images/WKTruck2.png"  class="d-block w-100" alt="...">
		<!-- <div class="carousel-caption  d-sm-block">
		  <div class="polu" style="height: 80px;">
			<div>We Transport   </div> 
  <div> 
  <span> Anything</span>
  </div>
		  </div>
		  
		</div> -->
	  </div>
	</div>
	<!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Next</span>
	</button> -->
  </div>
  
  <!--Our Services starts -->
  

  <main class="overlaycard">
	<div class="container w-75 ml-auto">
	
		<div class="card-group viewblock1 ">
			<div class="card" style="background-color:#FF0639;">
				<br><br>
				<img class="card-img-top rounded mx-auto d-block img-responsive" src="../../assets/images/best-price-icon@1x.png" alt="Card image cap" style="height: 24%; width: 33%;">
					<div class="card-body viewblockinside">
						<h5 class="card-title" style="color: #fff; font-weight: bold;">BEST PRICES</h5>
						<hr class="sliderblockline"><br>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer content than the first to show that equal height action..</p>		      			
					</div>
			  </div>
			  <div class="card" style="background-color:#3F4049">
				  <br><br><br><br>
				<!-- <img class="card-img-top" src=".../100px180/"> -->
					<div class="card-body viewblockinside">
						<h5 class="card-title" style="color:#FF5D1C;font-size: 26px;font-weight: bolder;">GET FREE QUOTE</h5>
						<hr class="sliderblockline">
						<br>
						  <p class="card-text">
							  <input type="text" style="border-radius: 25px;"  class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Enter Name">
							  <br>
							  <input type="text" style="border-radius: 25px;"  class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Enter Email">
							  <br>
							  <button type="button" class="btn btn-secondary btn-lg btn-block w-100" style="border-radius: 25px; background-color: #FF0639;">GET QUOTE</button>
						  </p>
					</div>
			  </div>
			<div class="card" style="background-color:#FF0639;">
				<br><br>
				<img class="card-img-top rounded mx-auto d-block img-responsive" src="../../assets/images/phone1.png" alt="Card image cap" style="height: 27%; width: 50%;">
					<div class="card-body viewblockinside">
						  <h5 class="card-title" style="color: #fff;font-weight: bold; ">24/7 SUPPORT</h5>
						  <hr class="sliderblockline"><br>
						  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
						  
					</div>
			 </div>
		</div>
	
</div>
  
	<!--On click event starts-->
	<div>
  
	  <div *ngIf="isHome">
		<section id="about-video" class="about-video">
		  <div class="container" data-aos="fade-up">
	
			<div class="row">
	
			 <div class="col-lg-6 pt-3 pt-lg-0 onclickimagechangeevent" data-aos="fade-left" data-aos-delay="100">
				<h1 style="font-family: 'barlow', 'regular';font-weight: bold;font-size: 30px; color: #FF0639;
				opacity: 1;">INTRODUCTION</h1><hr>
				<span class="showclick"
				>
				  Wheel King Transhaul Inc. is an asset-based truckload carrier servicing North
				  America. We provide dry van and refrigerated van service to various clients,
				  including the automotive, industrial, paper and food industries.
				</span><br><br>             
				<span class="showclick">
				  We have a significant fleet as well as terminals located in several locations
				  throughout North-America so we can provide our clients with excellent service,
				  while providing our employees with a good work life balance. We count on our
				  employees to deliver value to our clients.
				</span><br><br>
				<span class="showclick">Our Transportation industry leading on-time performance and commitment to
				  customer service are our greatest source of pride and continues to drive our
				  growth as a dedicated transportation provider. These core values keep us
				  consistently focused on the most important aspect of our business, serving the
				  best interests of our valued customers.</span>
			  </div>
			  <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
				<img src="../../assets/images/P7132296.png" style="width: 1384px;height: 400px;" class="img-fluid" alt="">
				
			  </div>
			</div>
	
		  </div>
		</section>
	  </div>
	  <div *ngIf="isMenu">
		<section id="about-video" class="about-video">
		  <div class="container" data-aos="fade-up">
	
			<div class="row">
	
			  <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
				<img src="../../assets/images/P7132296.png" class="img-fluid" alt="">
				
			  </div>
	
			  <div class="col-lg-6 pt-3 pt-lg-0 onclickimagechangeevent" data-aos="fade-left" data-aos-delay="100">
				<div class="row">
				  <div class="col-6 showclick"><ul>FLEET SIZE
					<li>300 Tractors</li>
					<li>800 Trailers – 53’ dry tandem</li>
					<li>180 Company Owned</li>
					<li>120 Owner Operators</li>
					<li>95 Teams</li>
				  </ul>
				</div>
				  <div class="col-6 showclick"><ul>TERMINAL LOCATIONS
					<li>Milton, Ontario CANADA</li>
					<li>Pointe Claire, Quebec CANADA</li>
					<li>Laredo, Texas U.S.A.</li>
					<li>Markham, Illinois U.S.A.</li>
					<li>Silao MEXICO</li>
				  </ul>
				</div>
				</div>
				
				
				<ul>YARD LOCATIONS
				  <li>Milton, Ontario CANADA</li>
				  <li>Saint Laurent, Quebec CANADA</li>
				  <li>Laredo, Texas U.S.A.</li>
				  <li>El Paso, Texas U.S.A.</li>
				  <li>Chicago, Illinois U.S.A.</li>
				  <li>Bowling Green, Kentucky U.S.A.</li>
				</ul>
				
			  </div>
	
			</div>
	
		  </div>
		</section>
	  </div>
	  <div *ngIf="isTrash">
		<section id="about-video" class="about-video">
		  <div class="container" data-aos="fade-up">
	
			<div class="row">
	
			  <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
				<img src="../../assets/images/P7132296.png" style="width: 1384px;height: 460px;" class="img-fluid" alt="">
				
			  </div>
	
			  <div class="col-lg-6 pt-3 pt-lg-0 onclickimagechangeevent" data-aos="fade-left" data-aos-delay="100">
				<h3 class="showclick">Culture</h3><br>
				<span class="barlow-medium-ship-gray-22px">
				  We work together within a team environment of mutual
				  respect, honesty, and integrity. We approach our work
				  with a proactive, positive, and enthusiastic attitude.
				</span><br><br>
			   <h3>Diversity</h3>
				<span class="showclick">
				  <b>Equal Employment Opportunity Statement</b><br>
				  The Company provides equal employment opportunities to all
				  employees and applicants for employment without regard to race,
				  colour, religion, gender, sexual orientation, gender identity, national
				  origin, age, disability, genetic information, maritial status, amnesty or
				  status as a covered veteran in accordance with applicable legislation
				  and laws. The Company complies with all applicable legislation and
				  local laws governing nondiscrimination in employment in every
				  location in which the Company has facilities. This policy applies to all
				  terms and conditions of employment.
				</span><br><br>
				<span class="showclick">The Company expressly prohibits any form of unlawful employee
				  harassment based on race, colour, religion, gender, sexual orientation,
				  national origin, age, genetic information, disability or veteran status.</span>
			  </div>
	
			</div>
	
		  </div>
		</section>
	  </div>
  <br><br>
	  <!-- <div class="container">
		<div class="row text-center">
		  <div class="col-lg-4" (click)="goHome()">
			<button class="btn" style="border: 1px solid ;background-color: #de1827;"><i class="fa fa-globe fa-5x onclickchangehovercolor" (click)="goHome()"></i> </button>
		  </div>
		  <div class="col-lg-4" (click)="goMenu()">
			<button class="btn" style="border: 1px solid; background-color: #de1827;"><i class="fa fa-clock-o fa-5x onclickchangehovercolor"></i> </button>
		  </div>
		  <div class="col-lg-4" (click)="goTrash()">
			<button class="btn" style="border: 1px solid ; background-color: #de1827;"><i class="fa fa-superpowers fa-5x onclickchangehovercolor"></i> </button>
		  </div>
		  
		</div>
	  </div> -->
	</div>
	<br><br>

	 <!-- <div class="container ml-auto w-50">
        <div class="row text-center">
            <div class="col-lg-4" (click)="goHome()" style="background-color: #FF0639;border: #fff solid 10px; border-radius: 30px;">
            
            
			  <span class="material-icons p-3 onclickchangehovercolor" (click)="goHome()" style="font-size:50px">
				language
				</span>
             <h6 style="color: #fff;" >WORLD WIDE</h6>
            </div>
            <div class="col-lg-4" (click)="goMenu()"  style="background-color: #FF0639;border: #fff solid 10px; border-radius: 30px;">
               
				<i class="fa fa-clock-o p-3 onclickchangehovercolor" style="font-size: 50px;" aria-hidden="true"></i>
                <h6 style="color: #fff;">TIME</h6>
            </div>
            <div class="col-lg-4" (click)="goTrash()"  style="background-color: #FF0639;border: #fff solid 10px; border-radius: 30px;">
                
				<i class="fa fa-truck p-3 onclickchangehovercolor" style="font-size: 50px;" aria-hidden="true"></i>
                <h6 style="color: #fff;">DELIVERY</h6>
               </div>
        </div>
    </div> -->
	<div class="container ml-auto w-50" style="margin-top:-62px">
        <div class="row text-center">

            <div class="col-lg-4" (click)="goHome()">
             <!-- <img src="../../assets/images/icon-awesome-truck-moving@1x.png"> -->
             <!-- <button class="button"><i class="fa fa-globe p-3 "style="font-size:50px;" aria-hidden="true"></i>
              <h6>WORLD WIDE</h6>
             </button>
			  -->
			  <button type="submit" placeholder="" class="btn btn-info" (click)="goHome()"><i class="fa fa-globe p-3 "style="font-size:50px;" aria-hidden="true"></i>
				
              <h6>WORLD WIDE</h6></button>
			  <!-- <span class="material-icons p-3 onclickchangehovercolor"style="font-size:50px">
				language
				</span> -->
				<!-- <span class="material-icons-two-tone p-3 onclickchangehovercolor"style="font-size:50px">
                language
                </span> -->
             
            </div>
            <div class="col-lg-4" (click)="goMenu()">
                <!-- <img src="../../assets/images/icon-awesome-truck-moving@1x.png"> -->
				<!-- <button class="button"><i class="fa fa-clock-o p-3 onclickchangehovercolor" style="font-size: 50px;" aria-hidden="true"></i>
                <h6 >TIME</h6></button> -->
                <button type="submit" placeholder="" class="btn btn-info"><i class="fa fa-clock-o p-3 "style="font-size:50px;" aria-hidden="true"></i>
              <h6>TIME</h6></button>
            </div>
            <div class="col-lg-4" (click)="goTrash()">
                <!-- <img src="../../assets/images/icon-material-watch-later@1x.png"> -->
				<!-- <button class="button"><i class="fa fa-truck p-3 onclickchangehovercolor" style="font-size: 50px;" aria-hidden="true"></i>
                <h6>DELIVERY</h6></button> -->
                <button type="submit" placeholder="" class="btn btn-info"><i class="fa fa-truck p-3 "style="font-size:50px;" aria-hidden="true"></i>
              <h6>DELIVERY</h6></button>
               </div>
        </div>
    </div>
	<br><br>
	<!--On click event ends-->
	
   <!--What we work starts-->
   <!-- <div class="container-fluid">
	<div class="title-arch">Our Work</div>
	<hr />
	  <div class="row">
	  <div class="col-lg-3 project animated4 fadeInLeft">
			<div class="project-hover">
			  <h2>TITLE</h2>
				
				<hr />
				<p>Lorem ipsum dolor sit amet, </p> 
				<a href="#">See Project</a>
			</div>
		</div>
	  <div class="col-lg-3 project project-2 animated3 fadeInLeft">
		  <div class="project-hover">
			  <h2>TITLE</h2>
				<hr />
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar ex pulvinar est laoreet ullamcorper.</p>
				<a href="#">See Project</a>
			</div>
		</div>
	  <div class="col-lg-3 project project-3 animated2 fadeInLeft">
		  <div class="project-hover">
			  <h2>TITLE</h2>
				<hr />
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar ex pulvinar est laoreet ullamcorper.</p>
				<a href="#">See Project</a>
			</div>
		</div>
	  <div class="col-lg-3 project project-4 animated2 fadeInLeft">
		  <div class="project-hover">
			  <h2>TITLE</h2>
				<hr />
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar ex pulvinar est laoreet ullamcorper.</p>
				<a href="#">See Project</a>
			</div>
		</div>
		</div>
	   
	</div>
  <br><br><br> -->
	<!--what we work ends-->
  
	<!--Our services start-->
<div class="container-fluid" style="margin-left: -12px;" >
	<img class="ourservicebackgroundimage img-fluid" src="../../assets/images/P7132296.JPG">
	
  <h1 class="ourservices text-center">Our Services</h1>
 
  <div class="container w-75">
  <p class="full-text para111 text-center">Our vision is to position Wheel King as the largest, fully scaled, centralized
	network in North America.
	We invest in the future - we call this smarter logistics. Every decision that we
	make today is based on a long-term growth strategy. This includes hiring
	decisions, training programs, customized technology and strategy services.</p>
  <p class="short-text para111 text-center">Our vision is to position Wheel King as the largest, fully scaled, centralized
	network in North America.
	We invest in the future - we call this smarter logistics. Every decision that we
	make today is based on a long-term growth strategy.</p>
</div>
  
<div class="card-group text-center">
	<div class="row">
		<div class="col-2"></div>
	 <div class="card card1 col-sm">
		 <i class="fa fa-road fa-3x" aria-hidden="true" (click)=onShow()></i>
	   <div class="card-body">
		 <h1 class="card-title" style="font: normal normal  25px/35px Lato;">OVER THE ROAD</h1>
		 <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
	   </div>
	   <div class="card-footer">
		 <button style="color: #fff;" class="btn btn-lg bg-warningcustomcolor btn-icon-right"(click)=onShow()>
			 Learn More   
			 </button>
	   </div>
	 </div>
	 <div class="card card2 col-sm">
		 <i class="fa fa-home fa-3x" aria-hidden="true" (click)=onRepair()></i>
	   <div class="card-body">
		 <h1 class="card-title" style="font: normal normal  25px/35px Lato;">REPAIR SHOP</h1>
		 <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
	   </div>
	   <div class="card-footer">
		 <button style="color: #fff;" class="btn btn-lg bg-warningcustomcolor btn-icon-right" (click)=onRepair()>
			 Learn More
			   
		 </button>
	   </div>
	 </div>
	 <div class="col-2"></div>
	 
	 </div>
	 
   </div>
  </div>  
   <!--Our services ends -->
  <br><br><br><br>
   <app-latest-news></app-latest-news>
  
  <!--IMAGE starts-->
  <!-- <br>
  <br> -->
  <br>
  <br>
  <div class="container-fluid IMAGEModule" style="height: 458px;">
<!-- <img src="../../assets/images/IMAGE3.jpg" class="img-fluid img-responsive imagestyle" style="width:1500px; font-weight:900;" alt="IMAGE"> -->
<img src="../../assets/images/11.png" class="img-fluid img-responsive imagestyle" alt="IMAGE">
<img class="img-responsive lineimage">
<!-- <div class="text-block d-none d-md-block">
  <h1 style="font-size:30px; font-family: 'Barlow', ;" >Are you a shipper?</h1>
  <ul style="list-style: none;">
   
  <li style="font-size:20px;font-family: 'Barlow', ;"><i class="fa fa-check" style="color: #d16309"></i>  Customer & Tax Representation</li>
  <li style="font-size:16px;font-family: 'Barlow', ;"><i class="fa fa-check" style="color: #d16309"></i>  Reusable packaging</li>
  <li style="font-size:16px;font-family: 'Barlow', ;"><i class="fa fa-check" style="color: #d16309"></i>  Warehousing</li>
  <li style="font-size:16px;font-family: 'Barlow', ;"><i class="fa fa-check" style="color: #d16309"></i>  Finished Vehicle Logistics</li>
  <li style="font-size:16x;font-family: 'Barlow', ;"><i class="fa fa-check" style="color: #d16309"></i>  Control Tower</li>
  </ul>
  <br>
  <button type="button" class="btn btn-IMAGE">Read More</button>
</div> -->

<!-- <div class="text-block1 d-none d-md-block">
  <h1 style="font-size:30px; font-family: 'Barlow', ;">Are you a sender?</h1>
  <ul style="list-style: none;">
    <li style="font-size:16px;font-family: 'Barlow', ;"><i class="fa fa-check" style="color: #d16309"></i>  Core-Freight</li>
    <li style="font-size:16px;font-family: 'Barlow', ;"><i class="fa fa-check" style="color: #d16309"></i>  Ingetratin Logistics</li>
    <li style="font-size:16px;font-family: 'Barlow', ;"><i class="fa fa-check" style="color: #d16309"></i>  Strategistic</li>
    <li style="font-size:16px;font-family: 'Barlow', ;"><i class="fa fa-check" style="color: #d16309"></i>  One time solutions</li>
    <li style="font-size:16px;font-family: 'Barlow', ;"><i class="fa fa-check" style="color: #d16309"></i>  Geo-Gateways</li>
    </ul>
  
<br>
  <button type="button" class="btn btn-IMAGE">Read More</button>
</div> -->
</div>
<br><br><br>

  <!--IMAGE ends-->
  
   <!--Our Team starts-->
   <app-ourteam></app-ourteam>
   
   <!--Our team ends-->
   
  <!--client say starts-->
  
  <!--client say ends-->
  </main>
  <br>
  
  <app-sponsor></app-sponsor>
  <!--Footer starts -->
  <app-footer></app-footer>
  <!--footer ends-->