#mainLogo {
	margin: 20px 0 20px 0;
	text-align: center;
  }
  
  .dropdown:hover .dropdown-menu {
	display: block;
	margin: 0;
  }
  
  .dropdown:hover {
	-webkit-transition-delay: 3s;
  }
  
  .dropdown-toggle::after {
	display: none;
  }
  
  .navbar,
  .navbar-brand {
	font-size: 18px;
	text-transform: uppercase;
  }
  
  .navbar,
  .navbar-expand-lg,
  .navbar-light,
  .bg-light {
	background-color: transparent !important;
  }
  
  .navbar-light .navbar-nav .nav-link {
	color: #000000;
  }
  
  .dropdown-menu {
    color: #ff0000; 
   background-color: #ffffff;
   text-align: left;
   font-size: 16px;
 }
  
  .navbar-nav,
  .mr-auto {
	margin: auto !important;
	display: flex;
	justify-content: space-between;
  }

  .image {
    height:180vh;
    min-height:400px;
    background-size:cover;
background-image: url(../../assets/images/img-0391@1x.png);   
	
}
.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 15px;

}
.header_change {
	position: fixed;
	
	color: #fff;
	top: 0;
	width: 100%;
	z-index: 1;
    display: none;

}
.inbetweentwonav{

  height: 3px;
		border-radius: 22px;
		background-color:#ff0639;
	
   width: 95%;
    /* border: 2px solid #ffffff; */
  border-radius: 10%;
}
#icon-spacer {
  color: #ff0639;

}

#snip1217 {
  
  font-family: 'lato','regular';
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 18px;
  text-shadow: 5em;
  font-weight: bold;
}
#snip1217 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
#snip1217 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1.5em;
  padding: 0;
}
#snip1217 a {
  padding: 0.3em 0;
  color: rgb(255, 0, 0);
  position: relative;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}
#snip1217 a:before,
#snip1217 a:after {
  height: 4px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s cubic-bezier(0.42, 0, 0.47, 1.87);
  background-color: #ff0639;
  width: 0;
  
}
#snip1217 a:before {
  top: 0;
  left: 0;
}
#snip1217 a:after {
  bottom: 0;
  right: 0;
}
#snip1217 a:hover,
#snip1217 .current a {
  color: #000000;
  background-color:transparent;
  /* font-size: 1vw; */
}
#snip1217 a:hover:before,
#snip1217 .current a:before,
#snip1217 a:hover:after,
#snip1217 .current a:after {
  width: 100%;
}

/* .dropdown-menu {
   color: #ff0000; 
  background-color: #000000ef;
  border-radius: 5px;
} */

.button123{
  border-radius: 30px;
  width: 150px;
  font-weight: bold;
  background-color: #de1827;
  border-color: #de1827;
  color: #fff;
}

.button123:hover{
  background-color: #000000;
  border-color: #000000;
}

.getQuote {
  border-radius: 30px;
 width: 150px;
  font-weight: bold;
  background-color: #de1827;
  border-color: #de1827;
  color: #fff;
}

.getQuote:hover{
  background-color: #000000;
  border-color: #000000;
}
/***********/

.navbar {
  padding:0rem;
  margin-bottom:2rem;
}

.dropdown .dropdown-menu {
  border-radius:0;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.55);
  border: none;
  padding-left: 5px;
 }


/* Medium devices (tablets, 768px and up) 
The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  border-radius:0;
 }
}

.navtop{
  font-family: 'lato','regular';
  font-size: 18px;
  color: #ff0639;
}