<!-- html code  start here -->
<header>
    <div style="width: 100%;
max-width: 100%;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- One of the primary actions on mobile is to call a business - This displays a phone button on mobile only -->
            <div class="navbar-toggler-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse flex-column " style="padding-top: 10px;;" id="navbar">
                <ul class="navbar-nav d-flex justify-content-start w-100  px-5">
                    <li class="nav-item ">
                        <a class="navbar-brand navtop " href="#">
                            <i id="icon-spacer" class="fa fa-phone" aria-hidden="true">&nbsp;  </i>Toll Free 1-844-943-3558
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="navbar-brand  navtop" href="#">
                            <i id="icon-spacer" class="fa fa-envelope" aria-hidden="true">&nbsp; 
                            </i>info@wheelkingtranshaul.com
                        </a>
                    </li>
                    <div class="navbar-nav justify-content-end w-100">
                        <a href="https://www.instagram.com/wheelkingtranshaul/" target="_blank">
                            <img class=" d-lg-block" src="../../assets/images/instagram.png"
                                style="width: 40px; height: 40px;" alt="">
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://business.twitter.com/en/basics/create-a-twitter-business-profile.html"
                            target="_blank">
                            <img class=" d-lg-block" src="../../assets/images/twitter.png"
                                style="width: 40px; height: 40px;" alt="">
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://www.instagram.com/wheelkingtranshaul/" target="_blank">
                            <img class=" d-lg-block" src="../../assets/images/facebook.png"
                                style="width: 40px; height: 40px;" alt="">
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://business.twitter.com/en/basics/create-a-twitter-business-profile.html"
                            target="_blank">
                            <img class=" d-lg-block" src="../../assets/images/linkedin.png"
                                style="width: 40px; height: 40px;" alt="">
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </ul>
                <hr class="inbetweentwonav " />
                <ul id="snip1217" class="navbar-nav  w-100 d-flex justify-content-end pb-0 px-5">
                    <ul class="navbar-nav  d-flex justify-content-start w-100">

                        <a class="navbar-brand " href="#">
                            <img class="d-none d-lg-block" src="../../assets/images/logo.jpg" width="250" height="80"
                                alt="wheelkingtranshaul">
                        </a>

                    </ul>
                    <li class="nav-item pt-4">
                        <!-- <a class="nav-link" href="#">Home</a> -->
                        <a routerLink="/home1" routerLinkActive="active" class="nav-link active" aria-current="page"
                            href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Home
                        </a>
                    </li>



                    <li class="nav-item dropdown  pt-4">
                        <a class="nav-link dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">About</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a routerLink="/aboutus" class="dropdown-item" href="#">ABOUT US</a>
                            <a routerLink="/history" class="dropdown-item" href="#">HISTORY</a>
                            <a routerLink="/philosophy" class="dropdown-item" href="#">PHILOSOPHY</a>
                            <a routerLink="/safetyANDsecurity" class="dropdown-item" href="#">SAFETY & SECURITY</a>
                            <a routerLink="/greeninitiative" class="dropdown-item" href="#">GREEN INITIATIVES</a>
                            <a routerLink="/usefulLinks" class="dropdown-item" href="#">USEFUL LINKS</a>

                        </div>
                    </li>
                    <li class="nav-item dropdown  pt-4">
                        <a class="nav-link dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">SERVICES</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a routerLink="/overtheroad" class="dropdown-item" href="#">OVER THE ROAD</a>
                            <a routerLink="/repairshop" class="dropdown-item" href="#">REPAIR SHOP</a>

                        </div>
                    </li>
                    <li class="nav-item dropdown  pt-4">
                        <a class="nav-link dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">WHY US</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a routerLink="/specialities" class="dropdown-item" href="#">SPECIALITIES</a>
                            <a routerLink="/technology" class="dropdown-item" href="#">TECHNOLOGY</a>
                            <a routerLink="certifications" class="dropdown-item" href="#">CERTIFICATIONS</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown  pt-4">
                        <a class="nav-link dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">CAREERS</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a routerLink="/profiles" class="dropdown-item" href="#">PROFILES</a>
                            <a routerLink="/apply" class="dropdown-item" href="#">APPLY</a>
                            <a routerLink="/jobopenings" class="dropdown-item" href="#">JOB OPENINGS</a>
                        </div>
                    </li>
                    <li class="nav-item  pt-4">
                        <a routerLink="contact" class="nav-link" href="#">CONTACT</a>
                    </li>

                    <li class="nav-item  pt-4">
                        <button class="btn btn-outline-warning my-sm-0 button123" type="submit">Track Order</button>
                    </li>

                    <li class="nav-item  pt-4">
                        <button class="btn btn-outline-warning my-2 my-sm-0 getQuote" type="submit">Get Quote</button>
                    </li>
                </ul>


            </div>

        </nav>
    </div>
</header>