<div class="container-fluid">
    <img class="Aboutusbackgroundimage img-responsive" src="../../../assets/images/P7132298.JPG" style="margin-left: -18px;">
    <!-- <h1 class="clientsayboxoverimage text-center">Client Say<hr /></h1> -->
    <div class="caption">
     REPAIR SHOP
  </div>
      <div id="carouselExampleCaptionsClient" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators try">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" id="covermenuabout">
          <div class="row-justify">
            <div class="col-lg-4 ">
                <div class="col-item">
                        <div class="info">
                      <h2>DO THE RIGHT THING EVERYTIME.</h2>
                      <p>WHEEL KING VALUE 1</p>
                  </div>
                </div>
            </div>
          
            
        </div>
        </div>
        <div class="carousel-item">
          <div class="row-justify">
            <div class="col-lg-4 ">
                <div class="col-item">
                   
                    <div class="info">
                      <h2>HIRE THE BEST</h2>
                      <p>WHEEL KING VALUE 2</p>
                        </div>
                        <!-- <div class="clearfix"></div> -->
                    
                </div>
            </div>
          
           
        </div>
        </div>
        <div class="carousel-item">
            <div class="row-justify">
              <div class="col-lg-4 ">
                  <div class="col-item">
                     
                      <div class="info">
                        <h2>LIVE UPTO EVERY PROMISE</h2>
                        <p>WHEEL KING VALUE 3</p>
                          
                          <!-- <div class="clearfix"></div> -->
                      </div>
                  </div>
              </div>
            
             
          </div>
          </div>
          <div class="carousel-item">
            <div class="row-justify">
              <div class="col-lg-4 ">
                  <div class="col-item">
                     
                      <div class="info">
                        <h2>EMBRACE CO-OPETITION.</h2>
                        <p>WHEEL KING VALUE 4</p>
                          
                          <!-- <div class="clearfix"></div> -->
                      </div>
                  </div>
              </div>                 
          </div>
          </div>
        <div class="carousel-item">
              <div class="row-justify">
                <div class="col-lg-4 ">
                    <div class="col-item">
                       
                        <div class="info">
                          <h2>SHARE IN EACH OTHER'S SUCCESS.</h2>
                          <p>WHEEL KING VALUE 5</p>
                            
                            <!-- <div class="clearfix"></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row-justify">
              <div class="col-lg-4 ">
                  <div class="col-item">
                     
                      <div class="info">
                        <h2>HAVE FUN</h2>
                        <p>WHEEL KING VALUE 6</p>
                          
                          <!-- <div class="clearfix"></div> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
    </div>
    <br>
<div class="container-fluid p-5">
  <div class="row">
    <div class="col-md-6 halfpage">
      <h1 class="page-header" >OUR NETWORK</h1><hr class="w-25">
      <span class="barlow-medium-ship-gray-22px">
        Wheelking Transhual Inc. also has an on-site repairs division named Platinum Truck & Trailer Repairs. We provide full comprehensive maintenance for our fleet on-site.
    </span>
    <ul class="barlow-medium-ship-gray-22px">
        Platinum Truck and Trailer Repair center provide following services:

        <li>Full service and Oil change.</li>
        <li>Safety for trucks and trailers</li>
        <li>Major and minor repairs.</li>
    </ul>
    </div>
    <div class="col-md-6 halfpage">
      <img src="../../assets/images/p7132349-removebg-preview@1x.png" class="img-fluid" alt="">
    </div>
  </div>
</div>
    <!-- <div class="container-fluid backgroundcolorofcontainer">
        <div class="row mx-md-n5">
          <div class="col px-md-5">
            <div class="p-3 border bg-mystyle">
                <div class="col-sm" (click)="goGreeninitiative()">
                  <button type="button" class="btn buttonstyle  btn-lg btn-block">Repair Shop Services</button>
                </div>
                </div>
            <div class="p-3 border bg-mystyle">
              <div class="col-sm" (click)="goReqQuotation()">
                <button type="button" class="btn buttonstyle  btn-lg btn-block">REQUEST A QUOTATION</button>
              </div>
              </div>
              <div class="p-3 border bg-mystyle1">
              <div class="col-sm" (click)="goQuickLinks()">
                <button type="button" class="btn buttonstyle1  btn-lg btn-block">QUICK LINKS</button>
              </div>
            </div>
          </div>
        <div class="col px-md-5"><div class="p-3 bg-transparent">
            <div *ngIf="isReqQuotation">
              <section id="about-video" class="about-video">
                <h6 style="color: #fff">
                  Requesting a rate is easy.What would you like a quotation for?
                </h6>
               
                <select class="form-control color:#fff">
                  <option value="">Select</option>
                  <option value="">Full Truckload</option>
                  <option value="">Less Than Truckload</option>
                  <option value="">Temperature Controlled Truckload</option>
                  <option value="">Dry Van</option>
                  <option value="">Repair Services</option>
                  <option value="">Other</option>
                </select>
                <br><br>
                
                <button type="button" class="btn btn-light">GET QUOTATION</button>
              </section>
            </div>
            <div *ngIf="isQuickLinks">
              <section id="about-video" class="about-video">
                <ul>
                  <li><a href="#" class="buttletstyle">Contact Us</a></li>
                  <li><a href="#" class="buttletstyle">Careers</a></li>
                 
                </ul>
              </section>
            </div>
            <div *ngIf="isGreeninitiative" style="font-family: 'Cambria','Cochin',Georgia, sans-serif; font-size: 17px;">
                <h6>
                    Wheelking Transhual Inc. also has an on-site repairs division named Platinum Truck & Trailer Repairs. We provide full comprehensive maintenance for our fleet on-site.
                </h6>
                <ul>
                    Platinum Truck and Trailer Repair center provide following services:

                    <li>Full service and Oil change.</li>
                    <li>Safety for trucks and trailers</li>
                    <li>Major and minor repairs.</li>
                </ul>

            </div>
          </div></div>
        </div>
       </div> -->

<app-footer></app-footer>