@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

@media (min-width: 570px) {
    
  #icon-spacer {
    font-size:12px;
    }	
}


#icon-spacer {    
    padding: 0 10px;
   margin-left: 20px;
    font-size:1.4vw;
    color: #fff;
    
}

#icon-spacer:hover {
  color: #de1827;
  font-size:1.3vw;
  
}

.bg-dark123 {
  background-color:#000;
  /* background-color: transparent; */
}
.inbetweentwonav {
  border-color:solid #de1827;
  background-color:#de1827;
  color: #de1827;
  margin: 1px;
}
.dropdown-menu {
  /* color: #ff0000; */
  background-color: #000000ef;
}

.bgcolor {
  /* background-color:rgba(124, 6, 6, 0.863); */
  background-color:rgba(255, 255, 255, 0.863);
}

#snip1217 {
  
  font-family: 'Lato', Tahoma, Geneva, Verdana, sans-serif;
  
  text-transform: uppercase;
 
  letter-spacing: 1px;
  font-size: 19px;
  text-shadow: 5em;
}
#snip1217 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
#snip1217 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1.5em;
  padding: 0;
}
#snip1217 a {
  padding: 0.3em 0;
  color: rgba(255, 255, 255);
  position: relative;
  text-decoration: none;
  display: inline-block;
}
#snip1217 a:before,
#snip1217 a:after {
  height: 4px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s cubic-bezier(0.42, 0, 0.47, 1.87);
  background-color: #ff0202;
  width: 0;
  
}
#snip1217 a:before {
  top: 0;
  left: 0;
}
#snip1217 a:after {
  bottom: 0;
  right: 0;
}
#snip1217 a:hover,
#snip1217 .current a {
  color: #ff0000;
  background-color:transparent;
  /* font-size: 1vw; */
}
#snip1217 a:hover:before,
#snip1217 .current a:before,
#snip1217 a:hover:after,
#snip1217 .current a:after {
  width: 100%;
}

.brandName {
  height:50px;
  width: 175px;
}

.brandstyle {
  background-color:#fff;
}      

/* .button123 {
  border-color: #de1827;
  border-radius: 25px;
  color: #de1827;
} */
.button123 {
  color: #fff;
  font-weight: bold;
  background-color:#de1827;
  border-radius: 25px;
  border-color: #de1827;
}