<div class="container-fluid">
  <img class="Aboutusbackgroundimage img-fluid img-responsive" src="../../../assets/images/P7132318.JPG">
  <!-- <h1 class="clientsayboxoverimage text-center">Client Say<hr /></h1> -->
  <div class="caption">
    USEFUL LINKS
  </div>
    <div id="carouselExampleCaptionsClient" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators try">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" id="covermenuabout">
        <div class="row-justify">
          <div class="col-lg-4 ">
              <div class="col-item">
                      <div class="info">
                    <h2>DO THE RIGHT THING EVERYTIME.</h2>
                    <p>WHEEL KING VALUE 1</p>
                </div>
              </div>
          </div>
        
          
      </div>
      </div>
      <div class="carousel-item">
        <div class="row-justify">
          <div class="col-lg-4 ">
              <div class="col-item">
                 
                  <div class="info">
                    <h2>HIRE THE BEST</h2>
                    <p>WHEEL KING VALUE 2</p>
                      </div>
                      <!-- <div class="clearfix"></div> -->
                  
              </div>
          </div>
        
         
      </div>
      </div>
      <div class="carousel-item">
          <div class="row-justify">
            <div class="col-lg-4 ">
                <div class="col-item">
                   
                    <div class="info">
                      <h2>LIVE UPTO EVERY PROMISE</h2>
                      <p>WHEEL KING VALUE 3</p>
                        
                        <!-- <div class="clearfix"></div> -->
                    </div>
                </div>
            </div>
          
           
        </div>
        </div>
        <div class="carousel-item">
          <div class="row-justify">
            <div class="col-lg-4 ">
                <div class="col-item">
                   
                    <div class="info">
                      <h2>EMBRACE CO-OPETITION.</h2>
                      <p>WHEEL KING VALUE 4</p>
                        
                        <!-- <div class="clearfix"></div> -->
                    </div>
                </div>
            </div>                 
        </div>
        </div>
      <div class="carousel-item">
            <div class="row-justify">
              <div class="col-lg-4 ">
                  <div class="col-item">
                     
                      <div class="info">
                        <h2>SHARE IN EACH OTHER'S SUCCESS.</h2>
                        <p>WHEEL KING VALUE 5</p>
                          
                          <!-- <div class="clearfix"></div> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="row-justify">
            <div class="col-lg-4 ">
                <div class="col-item">
                   
                    <div class="info">
                      <h2>HAVE FUN</h2>
                      <p>WHEEL KING VALUE 6</p>
                        
                        <!-- <div class="clearfix"></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
  </div>
  <!-- useful link info start -->
  <div class="container-fluid p-5 ">
    <div class="row">
      <div class="col-md-6 halfpage">
        <h1 class="page-header" >Transportation and Logistics Organizations </h1><hr>
        
        <ul>
          <li><a href="http://www.aar.org/" >Association of American Railroads</a></li>
          <li><a href="http://www.truckline.com/" >American Trucking Association</a></li>
          <li><a href="http://www.dltl.org/" >Distribution and LTL Carriers Association</a></li>
          <li><a href="http://www.cvsa.org/home.php">Commercial Vehicle Safety Alliance</a></li>
          <li><a href="http://www.truckload.org/">Truckload Carriers Association</a></li>
          <li><a href="http://cscmp.org/">Council of Supply Chain Management Professionals</a></li>
          <li><a href="http://www.nasstrac.org/" >National Shippers Strategic Transportation Council</a></li>
          <li><a href="http://www.mhia.org/" >Material Handling Industry of America</a></li>
          <li><a href="http://www.nmfta.org/">National Motor Freight Traffic Association</a></li>
          <li><a href="http://www.nptc.org/">National Private Truck Council</a></li>
          <li><a href="http://www.sole.org/">SOLE International Society of Logistics</a></li>
          <li><a href="http://www.intermodal.org/" >Intermodal Association of North America</a></li>
          <li><a href="http://www.transportlink.com/" >TransportLink</a></li>
          <li><a href="http://www.ndtahq.com/" >National Defense Transportation Association</a></li>
          <li><a href="http://www.tianet.org/AM/template.cfm?section=Home" >Transportation Intermediaries Association</a></li>
          <li><a href="http://www.trala.org/" >Truck Renting and Leasing Association</a></li>                     
        </ul>
      </div>
      <div class="col-md-6 halfpage">
        <img src="../../assets/images/p7132349-removebg-preview@1x.png" class="img-fluid" alt="">
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>
  <div class="container-fluid p-5 ">
    <div class="row">
      <div class="col-md-6 halfpage">
        <img src="../../assets/images/p7132349-removebg-preview@1x.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-6 halfpage">
        <h1 class="page-header" >U.S. Government and Misc. Resources </h1><hr>
        
        <ul>
          <li><a href="http://www.cbp.gov/" >Customs and Border Protection</a></li>
          <li><a href="http://www.onlineconversion.com/weight_common.htm">Converter: Weight</a></li>
          <li><a href="http://www.dhs.gov/index.shtm">Department of Homeland Security</a></li>
          <li><a href="http://www.dot.gov/" >Department of Transportation</a></li>
          <li><a href="http://www.dol.gov/">Department of Labor</a></li>
          <li><a href="https://aesdirect.census.gov/">AES Direct</a></li>
          <li><a href="http://www.xe.com/">Converter: Currency</a></li>
          <li><a href="http://www.fmcsa.dot.gov/">Federal Motor Carrier Safety Administration</a></li>
          <li><a href="http://www.fhwa.dot.gov/" >Federal Highway Administration</a></li>
          <li><a href="http://ai.fmcsa.dot.gov/SMS/Default.aspx" >Motor Carrier Safety Measurement System</a></li>
          <li><a href="http://www.census.gov/foreign-trade/schedules/b/#search" >Schedule B Export Codes</a></li>
          <li><a href="http://www.volpe.dot.gov/" >Volpe National Transportation Systems Center</a></li>
          <li><a href="http://www.timeanddate.com/worldclock/" >World Clock</a></li>
      </ul>
      </div>
      
    </div>
    <br>
    <br>
    <br>
  </div>
   <!-- useful link info end -->

  
 <app-footer></app-footer>
