@media (max-width:1270px){
  #carouselExampleCaptionsClient{
      visibility:hidden;
  }
}


.try {
  
  right: 580px;
  bottom:-30px;
}
.halfpage {
text-align: justify;
letter-spacing: 0px;

}
.page-header {
font: normal normal bold 25px/30px Barlow;
color: #FF0639;
opacity: 1;
}
.caption {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate( -50%, -50% );
  text-align: center;
  color: white;
  font-family: 'Barlow','regular';
  font-size:5vw;
  }
  
  @media (max-width: 1000px){
  .caption {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate( -50%, -50% );
  text-align: center;
  color: white;
  font-family: 'Barlow','regular';
  font-size:5vw;
  }
  }

.Aboutusbackgroundimage{
    
   position: relative;
    text-align: center;
    color: rgb(17, 17, 17);
    width: 100%;
    filter:brightness(0.3);
   
}

/* .Linkbuttons {
 text-decoration: none;   
 color: #212529;
}

.Linkbuttons:hover {
    color: #fa0404;
} */

.btn-light:hover {
    background-color: #b90909;
    border-color: #b90909;
    color: #fff;
    font-size: 15px;
}

#carouselExampleCaptionsClient{
    position: absolute;
    margin-top:-605px;
    padding-left: 80px;
    width: 670px;
}

.info {
    color: #fff;
    font-family: 'Lato', sans-serif;
}

/*********************on click event***************************/
