<div class="card-group text-center">
   <div class="row">
    <div class="card card1 col-sm">
        <i class="fa fa-ship fa-4x" aria-hidden="true"></i>
      <div class="card-body">
        <h1 class="card-title">Ocean Freight</h1>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-sm bg-warningcustomcolor btn-icon-right">
            <span>LEARN MORE   
            </span></a>
      </div>
    </div>
    <div class="card card2 col-sm">
        <i class="fa fa-truck fa-4x" aria-hidden="true"></i>
      <div class="card-body">
        <h1 class="card-title">Land Freight</h1>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-sm bg-warningcustomcolor btn-icon-right">
            <span>LEARN MORE
              
            </span></a>
      </div>
    </div>
    <div class="card card3 col-sm">
        <i class="fa fa-plane fa-4x" aria-hidden="true"></i>
      <div class="card-body">
        <h1 class="card-title">Air Freight</h1>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-sm bg-warningcustomcolor btn-icon-right">
            <span>LEARN MORE
              
            </span></a>
      </div>
    </div>
    </div>
    <div class="row">
        <div class="card card4 col-sm">
            <i class="fa fa-ship fa-4x" aria-hidden="true"></i>
          <div class="card-body">
            <h1 class="card-title">Ocean Freight</h1>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-sm bg-warningcustomcolor btn-icon-right">
                <span>LEARN MORE   
                </span></a>
          </div>
        </div>
        <div class="card card5 col-sm">
            <i class="fa fa-truck fa-4x" aria-hidden="true"></i>
          <div class="card-body">
            <h1 class="card-title">Land Freight</h1>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-sm bg-warningcustomcolor btn-icon-right">
                <span>LEARN MORE
                  
                </span></a>
          </div>
        </div>
        <div class="card card6 col-sm">
            <i class="fa fa-plane fa-4x" aria-hidden="true"></i>
          <div class="card-body">
            <h1 class="card-title">Air Freight</h1>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-sm bg-warningcustomcolor btn-icon-right">
                <span>LEARN MORE
                  
                </span></a>
          </div>
        </div>
    </div>
  </div>

  
