.card-group {
    margin: 40px 60px;
}

.card-footer {
    visibility: hidden;
   
}

.bg-warningcustomcolor{
    border-radius: 20px;
    background-color:rgb(233, 106, 2);
}

.card-title {
    color: rgb(0, 0, 0);
}

/***********cards hovering effect*********************/

/****for card button *******/
 .card-group .row  :hover .card-footer {
	visibility: visible;
    color:rgb(233, 106, 2);
    
  }

.card-group .card-title:hover {
    color:rgb(233, 106, 2);
}  

.card1:hover {
    color: rgb(233, 106, 2);  
    box-shadow: 0 10px 60px 0px rgba(8, 4, 43, 0.8);    
}
.card2:hover {
    color: rgb(233, 106, 2);  
    box-shadow: 0 10px 60px 0px rgba(8, 4, 43, 0.8);
}
.card3:hover {
    color: rgb(233, 106, 2);  
    box-shadow: 0 10px 60px 0px rgba(8, 4, 43, 0.8);
}
.card4:hover {
    color: rgb(233, 106, 2);  
    box-shadow: 0 10px 60px 0px rgba(8, 4, 43, 0.8);    
}
.card5:hover {
    color: rgb(233, 106, 2);  
    box-shadow: 0 10px 60px 0px rgba(8, 4, 43, 0.8);
}
.card6:hover {
    color: rgb(233, 106, 2);  
    box-shadow: 0 10px 60px 0px rgba(8, 4, 43, 0.8);
}