

<div class="container-fluid my-4 w-75 ml-auto">
    <h1 class="Latestnews text-center" style="font-family: 'barlow', 'regular'; font-weight: bold; font-size: 30px;color: #FF0639;
    opacity: 1;">Latest News<hr /></h1>
    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
  
      <!--Controls-->
      <!-- <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating " href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div> -->
      <!--/.Controls-->
  
      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->
  
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
  
        <!--First slide-->
        <div class="carousel-item active" >
  
          <div class="row" style="font-family: 'Lato', sans-serif;">
            <div class="col-md-4">
              <div class="card mb-2 img-responsive" style="border-radius: 10px;">
                <img class="card-img-top" src="../../assets/images/latest1.jpg"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Transportation </h4>
                  <p class="card-text"><i class="fa fa-calendar" aria-hidden="true"></i>18 May 2021</p>
                  <a class="btn btn-danger"><i class="fa fa-arrow-circle-o-right" aria-hidden="true">&nbsp;</i>read more</a>
                </div>
              </div>
            </div>
  
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2 img-responsive" style="border-radius: 10px;">
                <img class="card-img-top" src="../../assets/images/latest2.jpg"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Connection Devices</h4>
                  <p class="card-text"><i class="fa fa-calendar" aria-hidden="true"></i>18 May 2021</p>
                  <a class="btn btn-danger"><i class="fa fa-arrow-circle-o-right" aria-hidden="true">&nbsp;</i>read more</a>
                </div>
              </div>
            </div>
  
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2 img-responsive" style="border-radius: 10px;">
                <img class="card-img-top" src="../../assets/images/latest3.jpg"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Storage Management </h4>
                  <p class="card-text"><i class="fa fa-calendar" aria-hidden="true"></i>18 May 2021</p>
                  <a class="btn btn-danger"><i class="fa fa-arrow-circle-o-right" aria-hidden="true">&nbsp;</i>read more</a>
                </div>
              </div>
            </div>
          </div>
  
        </div>
        <!--/.First slide-->
  
        <!--Second slide-->
        <div class="carousel-item">
  
          <div class="row"  style="font-family: 'Lato', sans-serif;" >
            <div class="col-md-4">
              <div class="card mb-2 img-responsive" style="border-radius: 10px;">
                <img class="card-img-top" src="../../assets/images/P7132348 (1).JPG"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Transportation Facility</h4>
                  <p class="card-text"><i class="fa fa-calendar" aria-hidden="true"></i>18 May 2021</p>
                  <a class="btn btn-danger"><i class="fa fa-arrow-circle-o-right" aria-hidden="true">&nbsp;</i>read more</a>
                </div>
              </div>
            </div>
  
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2 img-responsive" style="border-radius: 10px;">
                <img class="card-img-top" src="../../assets/images/P7132348 (1).JPG"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Freight Forwarding</h4>
                  <p class="card-text"><i class="fa fa-calendar" aria-hidden="true"></i>18 May 2021</p>
                    <a class="btn btn-danger"><i class="fa fa-arrow-circle-o-right" aria-hidden="true">&nbsp;</i>read more</a>
                </div>
              </div>
            </div>
  
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2 img-responsive" style="border-radius: 10px;">
                <img class="card-img-top" src="../../assets/images/P7132348 (1).JPG"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Data Management</h4>
                  <p class="card-text"><i class="fa fa-calendar" aria-hidden="true"></i>18 May 2021</p>
                    <a class="btn btn-danger"><i class="fa fa-arrow-circle-o-right" aria-hidden="true">&nbsp;</i>read more</a>
                </div>
              </div>
            </div>
          </div>
  
        </div>
        <!--/.Second slide-->
  
        <!--Third slide-->
        <!-- <div class="carousel-item">
  
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/IMG_0420.JPG"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
  
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/IMG_0391.JPG"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
  
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/IMG_0391.JPG"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
          </div>
  
        </div> -->
        <!--/.Third slide-->
  
      </div>
      <!--/.Slides-->
  
    </div>
    <!--/.Carousel Wrapper-->
  
  
  </div>
