<div class="container-fluid">
  <img class="Aboutusbackgroundimage img-fluid img-responsive" src="../../../assets/images/P7132332.JPG">
  <!-- <h1 class="clientsayboxoverimage text-center">Client Say<hr /></h1> -->
    <div class="caption">
      GREEN INITIATIVES
    </div>
    <div id="carouselExampleCaptionsClient" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators try">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" id="covermenuabout">
        <div class="row-justify">
          <div class="col-lg-4 ">
              <div class="col-item">
                      <div class="info">
                    <h2>DO THE RIGHT THING EVERYTIME.</h2>
                    <p>WHEEL KING VALUE 1</p>
                </div>
              </div>
          </div>
        
          
      </div>
      </div>
      <div class="carousel-item">
        <div class="row-justify">
          <div class="col-lg-4 ">
              <div class="col-item">
                 
                  <div class="info">
                    <h2>HIRE THE BEST</h2>
                    <p>WHEEL KING VALUE 2</p>
                      </div>
                      <!-- <div class="clearfix"></div> -->
                  
              </div>
          </div>
        
         
      </div>
      </div>
      <div class="carousel-item">
          <div class="row-justify">
            <div class="col-lg-4 ">
                <div class="col-item">
                   
                    <div class="info">
                      <h2>LIVE UPTO EVERY PROMISE</h2>
                      <p>WHEEL KING VALUE 3</p>
                        
                        <!-- <div class="clearfix"></div> -->
                    </div>
                </div>
            </div>
          
           
        </div>
        </div>
        <div class="carousel-item">
          <div class="row-justify">
            <div class="col-lg-4 ">
                <div class="col-item">
                   
                    <div class="info">
                      <h2>EMBRACE CO-OPETITION.</h2>
                      <p>WHEEL KING VALUE 4</p>
                        
                        <!-- <div class="clearfix"></div> -->
                    </div>
                </div>
            </div>                 
        </div>
        </div>
      <div class="carousel-item">
            <div class="row-justify">
              <div class="col-lg-4 ">
                  <div class="col-item">
                     
                      <div class="info">
                        <h2>SHARE IN EACH OTHER'S SUCCESS.</h2>
                        <p>WHEEL KING VALUE 5</p>
                          
                          <!-- <div class="clearfix"></div> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="row-justify">
            <div class="col-lg-4 ">
                <div class="col-item">
                   
                    <div class="info">
                      <h2>HAVE FUN</h2>
                      <p>WHEEL KING VALUE 6</p>
                        
                        <!-- <div class="clearfix"></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
  </div>

  <!-- green initiative start -->
  <div class="container-fluid p-5 ">
    <div class="row">
      <div class="col-md-6 halfpage">
        <h1 class="page-header" >Our Green Initiatives </h1><hr>
        <span class="barlow-medium-ship-gray-22px">We optimize routes and drive efficiencies.</span><br>
        <span class="barlow-medium-ship-gray-22px">Wheel King is committed to making our equipment run cleaner and more efficiently. We are constantly reviewing emerging technologies and implementing energy saving protocols to help reduce our overall carbon footprint. Several technologies and operational practices that we have implemented to improve fuel efficiency include:-</span><br>
        <br>
        <ul>
          <li>Regular checks to maintain pressure in our advanced low rolling resistance tires improves fuel economy, regardless of the age of the truck.</li>
          <li>Improved aerodynamics through front fairings, rear fairings and side fairings.</li>
          <li>Tuning engines to operate efficiently for specific types of routes. For example, trucks that are tuned to operate on flat routes are not as efficient for routes with high elevation.</li>
          <li>Optimized route selection, which can identify not just the shortest route but also the one with the least congestion or stop‐and‐go traffic.</li>
          <li>The use of low-viscosity lubricants, reducing idling times, highway speeds and investigating the use of alternative fuels.</li>
      </ul>
      </div>
      <div class="col-md-6 halfpage">
        <img src="../../assets/images/p7132349-removebg-preview@1x.png" class="img-fluid" alt="">
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>
  <!-- green initiative end -->

  

<app-footer></app-footer>