<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" id="covermenu">
        <img src="../../assets/images/truck2.jpg" class="d-block w-100"  alt="...">
          <div class="carousel-caption d-sm-block">  
            <h1>First slide label</h1>     
            
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/back3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-sm-block">   
            <h1>Second slide label</h1>        
        </div>
      </div>

        
      
      <div class="carousel-item">
        <img src="../../assets/images/P7132358.JPG" class="d-block w-100" alt="...">
        <div class="carousel-caption  d-sm-block">
            <h1>Third slide label</h1>
      </div>
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> 
