<div class="container-fluid">
    <img class="Aboutusbackgroundimage img-responsive" src="../../../assets/images/P7132316.JPG">
    <!-- <h1 class="clientsayboxoverimage text-center">Client Say<hr /></h1> -->
      
      <div class="caption">
        OVER THE ROAD
    </div>
      <div id="carouselExampleCaptionsClient" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators try">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" id="covermenuabout">
          <div class="row-justify">
            <div class="col-lg-4 ">
                <div class="col-item">
                        <div class="info">
                      <h2>DO THE RIGHT THING EVERYTIME.</h2>
                      <p>WHEEL KING VALUE 1</p>
                  </div>
                </div>
            </div>
          
            
        </div>
        </div>
        <div class="carousel-item">
          <div class="row-justify">
            <div class="col-lg-4 ">
                <div class="col-item">
                   
                    <div class="info">
                      <h2>HIRE THE BEST</h2>
                      <p>WHEEL KING VALUE 2</p>
                        </div>
                        <!-- <div class="clearfix"></div> -->
                    
                </div>
            </div>
          
           
        </div>
        </div>
        <div class="carousel-item">
            <div class="row-justify">
              <div class="col-lg-4 ">
                  <div class="col-item">
                     
                      <div class="info">
                        <h2>LIVE UPTO EVERY PROMISE</h2>
                        <p>WHEEL KING VALUE 3</p>
                          
                          <!-- <div class="clearfix"></div> -->
                      </div>
                  </div>
              </div>
            
             
          </div>
          </div>
          <div class="carousel-item">
            <div class="row-justify">
              <div class="col-lg-4 ">
                  <div class="col-item">
                     
                      <div class="info">
                        <h2>EMBRACE CO-OPETITION.</h2>
                        <p>WHEEL KING VALUE 4</p>
                          
                          <!-- <div class="clearfix"></div> -->
                      </div>
                  </div>
              </div>                 
          </div>
          </div>
        <div class="carousel-item">
              <div class="row-justify">
                <div class="col-lg-4 ">
                    <div class="col-item">
                       
                        <div class="info">
                          <h2>SHARE IN EACH OTHER'S SUCCESS.</h2>
                          <p>WHEEL KING VALUE 5</p>
                            
                            <!-- <div class="clearfix"></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row-justify">
              <div class="col-lg-4 ">
                  <div class="col-item">
                     
                      <div class="info">
                        <h2>HAVE FUN</h2>
                        <p>WHEEL KING VALUE 6</p>
                          
                          <!-- <div class="clearfix"></div> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
    </div>
<br>

<div class="container-fluid p-5 ">
  <div class="row">
    <div class="col-md-6 halfpage">
      <h1 class="page-header" >OUR NETWORK</h1><hr class="w-25">
      <span class="barlow-medium-ship-gray-22px">Your reputation is safe in our hands.</span><br>
      <span class="barlow-medium-ship-gray-22px">
        Our mission and culture enhance our ability to react quickly to all customer requests. We get to know your operations thoroughly and then offer customized supply chain solutions that evolve with your requirements. Our approach is proactive with customer-specific contingency planning, and our ability to execute in a flawless and consistent fashion.
    </span><br>
    <span class="barlow-medium-ship-gray-22px">
        When you work with Wheel King, we understand that you are putting your company's reputation in our hands. We begin with our each employee by working hard to earn your confidence and trust. We take a process-oriented approach to solve your complex supply chain challenges. Solutions are implemented as required and can be adapted quickly to reflect operational changes. This approach provides savings and increased benefits to our customers. Our ability to adapt during periods of rapid growth, economic change or when dealing with your fleet’s surge requirements, are a specialty of Wheel King. We promise Peace of Mind, On-Time Pickup, On-Time Delivery and Damage-Free Delivery on every shipment. We provide services like Just-in-time deliveries, staffing challenges, equipment maintenance, insurance, scheduling, capital expenditures for trucks, trailers and shunting equipment. 
    </span><br>
    <span class="barlow-medium-ship-gray-22px">
        Our dedication to service is enhanced by our continuing investment in leading edge technology. We routinely measure our progress against key performance indicators to ensure we are hitting our mutual goals and mission. Through this process, we're able to provide customers with solutions that fit their needs and improve their bottom line. We are truly dedicated to serve you better through our Transportation service.
    </span>

    </div>
    <div class="col-md-6 halfpage">
      <img src="../../assets/images/p7132349-removebg-preview@1x.png" class="img-fluid" alt="">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6 halfpage">
      <img src="../../../assets/images/IMG_0391-removebg-preview.png" class="img-fluid" alt="">
    </div>
    <div class="col-md-6 halfpage">
      <h1 class="page-header">Canadian Truckload</h1><hr class="w-25">
      <span class="barlow-medium-ship-gray-22px">
        Wheel King Transhaul Inc is a great choice for your Canadian truckload requirements. Delivering Satisfaction by the Truckload.
    </span><br>
    <span class="barlow-medium-ship-gray-22px">
        Wheel King was created to bring efficiency to the transportation segment of the supply chain. Serving the wide range of vendors and retail outlets (throughout Canada and the USA) was a great foundation and training ground for delivering just in time truckload services.
    </span><br>
    <span class="barlow-medium-ship-gray-22px">
        Key market coverage includes services. Equipment and our well-maintained fleet and award-winning drivers round out, our offering. Truckload Services.
    </span><br>
    <span class="barlow-medium-ship-gray-22px">
        Our specialization is the truckload transport of dry goods with our modern fleet of 53' tandem vans. Our modern fleet is equipped with the latest satellite technology including individual untethered satellite trailer tracking for improved freight management and load security.
    </span><br>
    <h1></h1>
    <h1 class="page-header">Capacity You Need</h1><hr class="w-25">
    <span class="barlow-medium-ship-gray-22px">Whether you need to arrange the transport of one load or a hundred, Wheel King has the capacity to meet your requirements. If not with our own fleet we have the added resources of our freight management specialists to handle unexpected peaks in your activity.</span>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6 halfpage">
      <h1 class="page-header">Specialized Transportation Services</h1><hr class="w-25">
      <span class="barlow-medium-ship-gray-22px">
        Our specialty is the transport of dry goods with our fleet of satellite tracked 53' tandem vans that span the country.
      </span>
    <ul class="barlow-medium-ship-gray-22px">
        Other features include:
        <li>Retail appointments</li>
        <li>Tail gate deliveries</li>
        <li>Online track and trace</li>
        <li>Online track and trace</li>
        <li>Expedited freight</li>
        <li>Heated and refrigerated transport</li>
        <li>Services – Cross – Border Truckload</li>
        <li>Daily Schedules to and From the USA</li>
    </ul>
    <span class="barlow-medium-ship-gray-22px">
        Equal in importance to our domestic operations, our cross-border expertise takes us North America wide. The bulk of our customers tend to be between Ontario and Quebec centres and the U.S. states. Our reach extends to every corner of the continental USA and we use a combination of our fleet and our freight management arm to handle our customers' complete requirements
    </span>

    </div>
    <div class="col-md-6 halfpage"><img src="../../assets/images/IMG_0421.JPG" class="img-fluid" alt=""></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6 halfpage"> <img src="../../assets/images/p7132349-removebg-preview@1x.png" class="img-fluid" alt=""></div>
    <div class="col-md-6 halfpage">
      <h1 class="page-header">LTL Express</h1><hr class="w-25">
      <span class="barlow-medium-ship-gray-22px">
        Cross border LTL Express Service. Connecting the Greater Toronto Area (GTA) with the Continental USA.
      </span><br>
      <span class="barlow-medium-ship-gray-22px">
        We are proud to announce an expansion of our exciting pallet program that delivers second day LTL service to and from the following US states: Illinois, Indiana, Kansas, Kentucky, Michigan, Ohio and Wisconsin. In addition to: Connecticut, Delaware, Main, Maryland ,Massachusetts, New Hampshire, New Jersey, New York, Pennsylvania, Rhode Island and Vermont.
    </span><br>
    <span class="barlow-medium-ship-gray-22px">
        And industry leading transit times to the balance of the USA as shown in our North American Transit map. With unbeatable coverage and service levels, your LTL shipments are delivered super quickly at a super price.
    </span><br>
    <span class="barlow-medium-ship-gray-22px">
        We complement our domestic and cross border truckload services with a full menu of freight management services that increase our capabilities and capacity across North America. With a specialization in full load intermodal and truckload markets, our expertise carries on to everything from LTL (less than truckload) to specialized loads.
    </span>
    </div>
  </div> <div class="row">
    <div class="col-md-6 halfpage">
      <h1 class="page-header">Dedicated Fleet Outsourcing</h1><hr class="w-25">
      <span class="barlow-medium-ship-gray-22px">
        Better customer service, flexible capacity, less risk exposure and improved profits.
    </span><br>
    <span class="barlow-medium-ship-gray-22px">
        Wheel King offers companies the opportunity to concentrate on their core competency by outsourcing their transportation and supply chain management requirements to us. We manage the complex issues involved in moving freight and we assume the risk associated with driver compensation, cargo liability, insurance coverage, asset investment and maintenance. We assume all risk, handle all labour issues and leave your branding intact.
    </span>
    <h1></h1>
    <h1 class="page-header">Exemplary customer service</h1><hr class="w-25">
      <span class="barlow-medium-ship-gray-22px">
        <ul class="barlow-medium-ship-gray-22px">
          <li>Co-developed Key Performance Indicators (KPIs) to ensure Wheel King’s accountability</li>
          <li>Focused attention to safety and compliance</li>
          <li>Ongoing investments in the latest technologies</li>
          <li>Elimination of risk associated with compensation, cargo liability, insurance coverage, asset investment and maintenance</li>
          <li>Enhance fleet efficiencies through route optimization</li>
      </ul>
      </span>
    </div>
    <div class="col-md-6 halfpage"> <img src="../../../assets/images/IMG_0408-removebg-preview.png" class="img-fluid" alt=""></div>
  </div> 
    <!-- <div class="row mx-md-n5">
      <div class="col px-md-5">
        <div class="p-3 border bg-mystyle1">
            <div class="col-sm" (click)="goNetwork()">
              <button type="button" class="btn buttonstyle1  btn-lg btn-block">OUR NETWORK</button>
            </div>
          </div>
          <div class="p-3 border bg-mystyle1">
            <div class="col-sm" (click)="goTruckload()">
              <button type="button" class="btn buttonstyle1  btn-lg btn-block">Canadian Truckload</button>
            </div>
          </div>
          <div class="p-3 border bg-mystyle1">
            <div class="col-sm" (click)="goCapacity()">
              <button type="button" class="btn buttonstyle1  btn-lg btn-block">Capacity You Need</button>
            </div>
          </div>
          <div class="p-3 border bg-mystyle1">
            <div class="col-sm" (click)="goSpecialisedService()">
              <button type="button" class="btn buttonstyle1  btn-lg btn-block">Specialized Transportation Services</button>
            </div>
          </div>
          <div class="p-3 border bg-mystyle1">
            <div class="col-sm" (click)="goisLTLExpress()">
              <button type="button" class="btn buttonstyle1  btn-lg btn-block">LTL Express</button>
            </div>
          </div>
        <div class="p-3 border bg-mystyle1">
            <div class="col-sm" (click)="goOutsourcing()">
              <button type="button" class="btn buttonstyle1  btn-lg btn-block">Dedicated Fleet Outsourcing</button>
            </div>
          </div>
          <div class="p-3 border bg-mystyle1">
            <div class="col-sm" (click)="goCustomerService()">
              <button type="button" class="btn buttonstyle1  btn-lg btn-block">Exemplary customer service</button>
            </div>
          </div>
          <div class="p-3 border bg-mystyle">
            <div class="col-sm" (click)="goReqQuotation()">
                <button type="button" class="btn buttonstyle  btn-lg btn-block">REQUEST A QUOTATION</button>
            </div>
          </div>
          <div class="p-3 border bg-mystyle1">
          <div class="col-sm" (click)="goQuickLinks()">
            <button type="button" class="btn buttonstyle1  btn-lg btn-block">QUICK LINKS</button>
          </div>
        </div>    
      </div>
    <div class="col px-md-5"><div class="p-3 bg-transparent">
        <div *ngIf="isReqQuotation">
          <section id="about-video" class="about-video">
            <h6 style="color: #fff">
              Requesting a rate is easy.What would you like a quotation for?
            </h6>
           
            <select class="form-control color:#fff">
              <option value="">Select</option>
              <option value="">Full Truckload</option>
              <option value="">Less Than Truckload</option>
              <option value="">Temperature Controlled Truckload</option>
              <option value="">Dry Van</option>
              <option value="">Repair Services</option>
              <option value="">Other</option>
            </select>
            <br><br>
            
            <button type="button" class="btn btn-light">GET QUOTATION</button>
          </section>
        </div>
        <div *ngIf="isQuickLinks">
          <section id="about-video" class="about-video">
            <ul>
              <li><a href="#" class="buttletstyle">Contact Us</a></li>
              <li><a href="#" class="buttletstyle">Careers</a></li>
             
            </ul>
          </section>
        </div>
        <div *ngIf="isNetwork">
            <p>
                Your reputation is safe in our hands.
            </p>
            <p>
                Our mission and culture enhance our ability to react quickly to all customer requests. We get to know your operations thoroughly and then offer customized supply chain solutions that evolve with your requirements. Our approach is proactive with customer-specific contingency planning, and our ability to execute in a flawless and consistent fashion.
            </p>
            <p>
                When you work with Wheel King, we understand that you are putting your company's reputation in our hands. We begin with our each employee by working hard to earn your confidence and trust. We take a process-oriented approach to solve your complex supply chain challenges. Solutions are implemented as required and can be adapted quickly to reflect operational changes. This approach provides savings and increased benefits to our customers. Our ability to adapt during periods of rapid growth, economic change or when dealing with your fleet’s surge requirements, are a specialty of Wheel King. We promise Peace of Mind, On-Time Pickup, On-Time Delivery and Damage-Free Delivery on every shipment. We provide services like Just-in-time deliveries, staffing challenges, equipment maintenance, insurance, scheduling, capital expenditures for trucks, trailers and shunting equipment. 
            </p>
            <p>
                Our dedication to service is enhanced by our continuing investment in leading edge technology. We routinely measure our progress against key performance indicators to ensure we are hitting our mutual goals and mission. Through this process, we're able to provide customers with solutions that fit their needs and improve their bottom line. We are truly dedicated to serve you better through our Transportation service.
            </p>
        </div>
        <div *ngIf="isTruckload">
            <p>
                Wheel King Transhaul Inc is a great choice for your Canadian truckload requirements. Delivering Satisfaction by the Truckload.
            </p>
            <p>
                Wheel King was created to bring efficiency to the transportation segment of the supply chain. Serving the wide range of vendors and retail outlets (throughout Canada and the USA) was a great foundation and training ground for delivering just in time truckload services.
            </p> 
            <p>
                Key market coverage includes services. Equipment and our well-maintained fleet and award-winning drivers round out, our offering. Truckload Services.
            </p> 
            <p>
                Our specialization is the truckload transport of dry goods with our modern fleet of 53' tandem vans. Our modern fleet is equipped with the latest satellite technology including individual untethered satellite trailer tracking for improved freight management and load security.
            </p>
        </div>
        <div *ngIf="isCapacity">
            <p>Whether you need to arrange the transport of one load or a hundred, Wheel King has the capacity to meet your requirements. If not with our own fleet we have the added resources of our freight management specialists to handle unexpected peaks in your activity.</p>
        </div>
        <div *ngIf="isSpecialisedService">
            <p>
                Our specialty is the transport of dry goods with our fleet of satellite tracked 53' tandem vans that span the country.
            </p>
            <ul>
                Other features include:
                <li>Retail appointments</li>
                <li>Tail gate deliveries</li>
                <li>Online track and trace</li>
                <li>Online track and trace</li>
                <li>Expedited freight</li>
                <li>Heated and refrigerated transport</li>
                <li>Services – Cross – Border Truckload</li>
                <li>Daily Schedules to and From the USA</li>
            </ul>
            <p>
                Equal in importance to our domestic operations, our cross-border expertise takes us North America wide. The bulk of our customers tend to be between Ontario and Quebec centres and the U.S. states. Our reach extends to every corner of the continental USA and we use a combination of our fleet and our freight management arm to handle our customers' complete requirements
            </p>
           
        </div>
        <div *ngIf="isLTLExpress">
            <p>
                Cross border LTL Express Service. Connecting the Greater Toronto Area (GTA) with the Continental USA.
            </p>
            <p>
                We are proud to announce an expansion of our exciting pallet program that delivers second day LTL service to and from the following US states: Illinois, Indiana, Kansas, Kentucky, Michigan, Ohio and Wisconsin. In addition to: Connecticut, Delaware, Main, Maryland ,Massachusetts, New Hampshire, New Jersey, New York, Pennsylvania, Rhode Island and Vermont.
            </p>
            <p>
                And industry leading transit times to the balance of the USA as shown in our North American Transit map. With unbeatable coverage and service levels, your LTL shipments are delivered super quickly at a super price.
            </p>
            <p>
                We complement our domestic and cross border truckload services with a full menu of freight management services that increase our capabilities and capacity across North America. With a specialization in full load intermodal and truckload markets, our expertise carries on to everything from LTL (less than truckload) to specialized loads.
            </p>
        </div>
        <div *ngIf="isOutsourcing">
            <p>
                Better customer service, flexible capacity, less risk exposure and improved profits.
            </p>
            <p>
                Wheel King offers companies the opportunity to concentrate on their core competency by outsourcing their transportation and supply chain management requirements to us. We manage the complex issues involved in moving freight and we assume the risk associated with driver compensation, cargo liability, insurance coverage, asset investment and maintenance. We assume all risk, handle all labour issues and leave your branding intact.
            </p>
            
        </div>
        <div *ngIf="isCustomerService">
           
            <ul>
                <li>Co-developed Key Performance Indicators (KPIs) to ensure Wheel King’s accountability</li>
                <li>Focused attention to safety and compliance</li>
                <li>Ongoing investments in the latest technologies</li>
                <li>Elimination of risk associated with compensation, cargo liability, insurance coverage, asset investment and maintenance</li>
                <li>Enhance fleet efficiencies through route optimization</li>
            </ul>
        </div>
      </div></div>
    </div> -->
   </div>

<app-footer></app-footer>