<div class="container-fluid">

  <img class="Aboutusbackgroundimage img-responsive" src="../../../assets/images/P7132316.JPG">
  <div class="container-fluid">
    <div class="caption">
      CERTIFICATIONS
    </div>
  </div>
  <div id="carouselExampleCaptionsClient" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators try">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
        aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
        aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" id="covermenuabout">
        <div class="row-justify">
          <div class="col-lg-4 ">
            <div class="col-item">
              <div class="info">
                <h2>DO THE RIGHT THING EVERYTIME.</h2>
                <p>WHEEL KING VALUE 1</p>
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="carousel-item">
        <div class="row-justify">
          <div class="col-lg-4 ">
            <div class="col-item">

              <div class="info">
                <h2>HIRE THE BEST</h2>
                <p>WHEEL KING VALUE 2</p>
              </div>
              <!-- <div class="clearfix"></div> -->

            </div>
          </div>


        </div>
      </div>
      <div class="carousel-item">
        <div class="row-justify">
          <div class="col-lg-4 ">
            <div class="col-item">

              <div class="info">
                <h2>LIVE UPTO EVERY PROMISE</h2>
                <p>WHEEL KING VALUE 3</p>

                <!-- <div class="clearfix"></div> -->
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="carousel-item">
        <div class="row-justify">
          <div class="col-lg-4 ">
            <div class="col-item">

              <div class="info">
                <h2>EMBRACE CO-OPETITION.</h2>
                <p>WHEEL KING VALUE 4</p>

                <!-- <div class="clearfix"></div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row-justify">
          <div class="col-lg-4 ">
            <div class="col-item">

              <div class="info">
                <h2>SHARE IN EACH OTHER'S SUCCESS.</h2>
                <p>WHEEL KING VALUE 5</p>

                <!-- <div class="clearfix"></div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row-justify">
          <div class="col-lg-4 ">
            <div class="col-item">

              <div class="info">
                <h2>HAVE FUN</h2>
                <p>WHEEL KING VALUE 6</p>

                <!-- <div class="clearfix"></div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="container-fluid ">
  <div class="row">

    <div class="col-md-6 halfpage">

      <h3 class="mainheadingtittle">C-TPAT</h3>
      <img src="../../../assets/images/csa.png" class="img-fluid" alt=""><br>
      <span class="insidedata">
        The Customs-Trade Partnership Against Terrorism (C-TPAT) is a voluntary partnership between Customs and Border
        Protection (CBP) and the trade to secure the international supply chain. In return for partners securing their
        supply chains, CBP offers C-TPAT shipments expedited processing and provides C-TPAT participants with other
        benefits.
      </span><br><br>
      <h3 class="mainheadingtittle">CSA</h3>
      <hr class="w-25">
      <img src="../../../assets/images/csa.png" class="img-fluid" alt=""><br>
      <span class="insidedata">
        The Customs Self Assessment (CSA) is a CBSA program which gives approved importers the benefits of a streamlined
        accounting and payment process for all imported goods. As an alternative clearance stream for low-risk,
        high-volume imports, CSA essentially shifts customs accounting and payment away from single transactions in
        favor of an approach based on monthly reporting. CSA is the first step in becoming FAST approved northbound into
        Canada. Much like FAST, the carrier, driver and importer all must be CSA approved.
      </span><br>

    </div>
    <div class="col-md-6 halfpage">
      <img src="../../assets/images/p7132349-removebg-preview@1x.png" class="img-fluid" alt="">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6 halfpage">
      <img src="../../../assets/images/IMG_0391-removebg-preview.png" class="img-fluid" alt="">
    </div>
    <div class="col-md-6 halfpage">
      <h1 class="mainheadingtittle">FAST</h1>
      <hr class="w-25">
      <img src="../../../assets/images/csa.png" class="img-fluid" alt=""><br>
      <span class="insidedata">
        Free And Secure Trade - A commercial clearance program designed to ensure safety and security while expediting
        legitimate cross border trade.
      </span><br>
      <h1 class="mainheadingtittle">PIP</h1>
      <hr class="w-25">
      <img src="../../../assets/images/csa.png" class="img-fluid" alt=""><br>
      <span class="insidedata">Partners in Protection (PIP) is a Canada Border Services Agency (CBSA)
        program that enlists the cooperation of private industry to enhance border and trade chain security, combat
        organized crime and terrorism and help detect and prevent contraband smuggling.</span>
    </div>
  </div>
  <br>

</div>

<app-footer></app-footer>