
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" id="covermenu">
      <img src="../../assets/images/P7132281.JPG" class="d-block w-100" style="filter:brightness(0.3)" alt="...">
        <div class="carousel-caption d-sm-block">
          <div class="slider1">
            <div class="animated animatedFadeInUp fadeInUp">
              <!-- <ul class="list-group list-group-flush">
                <li class="list-group-item">Transportation Types</li>
                <li class="list-group-item">Air</li>
                <li class="list-group-item">Land</li>
                <li class="list-group-item">Water</li>
                
              </ul> -->
            </div>
            <!-- <div class="animated animatedFadeInUp fadeInUp">
              <h1>Land transportation</h1>
            </div> 
            <div class="animated animatedFadeInUp fadeInUp">
              <h1>Air of transportation</h1>
            </div> 
            <div class="animated animatedFadeInUp fadeInUp">
              <h1>Water of transportation</h1>
            </div>  -->
          </div>       
        </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/P7132303.JPG" style="filter:brightness(0.3)" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">         
        <div class="sp-container">
          <div class="sp-content">
            
            
            <!-- <h2 class="frame-2">2.TEXT ANIMATION EFFECT</h2> -->
            <!-- <h2 class="frame-3">BUILD WITH CSS3</h2> -->
            <!-- <h2 class="frame-4">Our Services!</h2> -->
            <h2 class="frame-5">
              
              <span>Warehouse,</span>
              <span>Storage,</span>
              <span>Freight Forwarding</span>
            </h2>
            
          </div>
        </div>

      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/P7132358.JPG" style="filter: brightness(0.3);" class="d-block w-100" alt="...">
      <div class="carousel-caption  d-sm-block">
        <div class="polu" style="height: 180px;">
          <div>We Transport   </div> 
<div> 
<span> Anything</span>
</div>
        </div>
        
      </div>
    </div>
  </div>
  <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button> -->
</div>

<!--Our Services starts -->
<main class="overlaycard">
  <div class="card-group">
    <div class="card text-center">
      <i class="fa fa-usd fa-4x pt-5" style="background-color: #de1827; color:#fff" aria-hidden="true"></i>
      <div class="card-body bestpriceandsupporttext">
        <h1 class="card-title" style="color: #fff; font-family:Century Gothic; text-align: center;">BEST PRICES</h1>
        <hr />
        <p class="card-text cardtextfontstyle">Filler text is text that shares some characteristics of a real written text, but is random or otherwise generated. It may be used to display a sample of fonts, generate text for testing, or to spoof an e-mail spam filter.</p>
        
      </div>
    </div>
    <div class="card text-center">
      
      <div class="card-body quotetext">
        <h1 class="card-title  pt-5" style="font-size:Century Gothic; color :#fff" aria-hidden="true">GET FREE QUOTE</h1>
        <hr />
        <div class="input-group mb-3 pt-5" style="margin-top:58px">
          
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Enter Name">
        </div>
        <div class="input-group">            
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Enter Email">
        </div>
        <div class="container bg-transparent pt-3">
          <!-- <div class="col-sm-4 text-center ml-1"> -->
            <div>
              <button type="button" class="btn getquotebutton"><strong>Get Quote</strong></button>
              
          </div>
      </div>
      </div>
    </div>
    <div class="card text-center">
      <i class="fa fa-phone fa-4x pt-5"  style="background-color: #de1827; color:#fff" aria-hidden="true"></i>
      <div class="card-body bestpriceandsupporttext">
        <h1 class="card-title" style="color: #fff; text-align: center;">24/7 SUPPORT</h1>
        <hr />
        <p class="card-text cardtextfontstyle">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        
      </div>
    </div>
  </div>

  <!--On click event starts-->
  <div>

    <div *ngIf="isHome">
      <section id="about-video" class="about-video">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
  
            <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
              <img src="../../assets/images/IMG_0394.JPG" class="img-fluid" alt="">
              
            </div>
  
            <div class="col-lg-6 pt-3 pt-lg-0 onclickimagechangeevent" data-aos="fade-left" data-aos-delay="100">
              <h1 style="color:#de1827;font-family:Lato;font-size: 30px;">INTRODUCTION</h1><hr>
              <p>
                Wheel King Transhaul Inc. is an asset-based truckload carrier servicing North
                America. We provide dry van and refrigerated van service to various clients,
                including the automotive, industrial, paper and food industries.
              </p>              
              <p>
                We have a significant fleet as well as terminals located in several locations
                throughout North-America so we can provide our clients with excellent service,
                while providing our employees with a good work life balance. We count on our
                employees to deliver value to our clients.
              </p>
              <p>Our Transportation industry leading on-time performance and commitment to
                customer service are our greatest source of pride and continues to drive our
                growth as a dedicated transportation provider. These core values keep us
                consistently focused on the most important aspect of our business, serving the
                best interests of our valued customers.</p>
            </div>
  
          </div>
  
        </div>
      </section>
    </div>
    <div *ngIf="isMenu">
      <section id="about-video" class="about-video">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
  
            <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
              <img src="../../assets/images/IMG_0408.JPG" class="img-fluid" alt="">
              
            </div>
  
            <div class="col-lg-6 pt-3 pt-lg-0 onclickimagechangeevent" data-aos="fade-left" data-aos-delay="100">
              <div class="row">
                <div class="col-6"><ul>FLEET SIZE
                  <li>300 Tractors</li>
                  <li>800 Trailers – 53’ dry tandem</li>
                  <li>180 Company Owned</li>
                  <li>120 Owner Operators</li>
                  <li>95 Teams</li>
                </ul>
              </div>
                <div class="col-6"><ul>TERMINAL LOCATIONS
                  <li>Milton, Ontario CANADA</li>
                  <li>Pointe Claire, Quebec CANADA</li>
                  <li>Laredo, Texas U.S.A.</li>
                  <li>Markham, Illinois U.S.A.</li>
                  <li>Silao MEXICO</li>
                </ul>
              </div>
              </div>
              
              
              <ul>YARD LOCATIONS
                <li>Milton, Ontario CANADA</li>
                <li>Saint Laurent, Quebec CANADA</li>
                <li>Laredo, Texas U.S.A.</li>
                <li>El Paso, Texas U.S.A.</li>
                <li>Chicago, Illinois U.S.A.</li>
                <li>Bowling Green, Kentucky U.S.A.</li>
              </ul>
              
            </div>
  
          </div>
  
        </div>
      </section>
    </div>
    <div *ngIf="isTrash">
      <section id="about-video" class="about-video">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
  
            <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
              <img src="../../assets/images/IMG_0421.JPG" class="img-fluid" alt="">
              
            </div>
  
            <div class="col-lg-6 pt-3 pt-lg-0 onclickimagechangeevent" data-aos="fade-left" data-aos-delay="100">
              <h3>Culture</h3>
              <p>
                We work together within a team environment of mutual
                respect, honesty, and integrity. We approach our work
                with a proactive, positive, and enthusiastic attitude.
              </p>
             <h3>Diversity</h3>
              <p>
                <b>Equal Employment Opportunity Statement</b><br>
                The Company provides equal employment opportunities to all
                employees and applicants for employment without regard to race,
                colour, religion, gender, sexual orientation, gender identity, national
                origin, age, disability, genetic information, maritial status, amnesty or
                status as a covered veteran in accordance with applicable legislation
                and laws. The Company complies with all applicable legislation and
                local laws governing nondiscrimination in employment in every
                location in which the Company has facilities. This policy applies to all
                terms and conditions of employment.
              </p>
              <p>The Company expressly prohibits any form of unlawful employee
                harassment based on race, colour, religion, gender, sexual orientation,
                national origin, age, genetic information, disability or veteran status.</p>
            </div>
  
          </div>
  
        </div>
      </section>
    </div>
<br><br>
    <div class="container">
      <div class="row text-center">
        <div class="col-sm" (click)="goHome()">
          <button class="btn" style="border: 1px solid ;background-color: #de1827;"><i class="fa fa-globe fa-5x onclickchangehovercolor" (click)="goHome()"></i> </button>
        </div>
        <div class="col-sm" (click)="goMenu()">
          <button class="btn" style="border: 1px solid; background-color: #de1827;"><i class="fa fa-clock-o fa-5x onclickchangehovercolor"></i> </button>
        </div>
        <div class="col-sm" (click)="goTrash()">
          <button class="btn" style="border: 1px solid ; background-color: #de1827;"><i class="fa fa-superpowers fa-5x onclickchangehovercolor"></i> </button>
        </div>
        <!-- <button class="btn"><i class="fa fa-close"></i> Close</button>
<button class="btn"><i class="fa fa-folder"></i> Foler</button> -->
      </div>
    </div>
  </div>
  <br><br>
  <!--On click event ends-->
  
 <!--What we work starts-->
 <!-- <div class="container-fluid">
  <div class="title-arch">Our Work</div>
  <hr />
    <div class="row">
    <div class="col-lg-3 project animated4 fadeInLeft">
          <div class="project-hover">
            <h2>TITLE</h2>
              
              <hr />
              <p>Lorem ipsum dolor sit amet, </p> 
              <a href="#">See Project</a>
          </div>
      </div>
    <div class="col-lg-3 project project-2 animated3 fadeInLeft">
        <div class="project-hover">
            <h2>TITLE</h2>
              <hr />
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar ex pulvinar est laoreet ullamcorper.</p>
              <a href="#">See Project</a>
          </div>
      </div>
    <div class="col-lg-3 project project-3 animated2 fadeInLeft">
        <div class="project-hover">
            <h2>TITLE</h2>
              <hr />
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar ex pulvinar est laoreet ullamcorper.</p>
              <a href="#">See Project</a>
          </div>
      </div>
    <div class="col-lg-3 project project-4 animated2 fadeInLeft">
        <div class="project-hover">
            <h2>TITLE</h2>
              <hr />
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar ex pulvinar est laoreet ullamcorper.</p>
              <a href="#">See Project</a>
          </div>
      </div>
      </div>
     
  </div>
<br><br><br> -->
  <!--what we work ends-->

  <!--Our services start-->
  <div class="container-fluid">
  <img class="ourservicebackgroundimage img-fluid" src="../../assets/images/P7132320.JPG">
  
<h1 class="ourservices text-center">Our Services<hr /></h1>

<p class="full-text para111">Our vision is to position Wheel King as the largest, fully scaled, centralized
  network in North America.
  We invest in the future - we call this smarter logistics. Every decision that we
  make today is based on a long-term growth strategy. This includes hiring
  decisions, training programs, customized technology and strategy services.</p>
<p class="short-text para111">Our vision is to position Wheel King as the largest, fully scaled, centralized
  network in North America.
  We invest in the future - we call this smarter logistics. Every decision that we
  make today is based on a long-term growth strategy. This includes hiring
  decisions, training programs, customized technology and strategy services.</p>

   <div class="card-group text-center ">
  <div class="row">
   <div class="card card1 col-sm">
       <i class="fa fa-road fa-4x" aria-hidden="true" (click)=onShow()></i>
     <div class="card-body">
       <h1 class="card-title">OVER THE ROAD</h1>
       <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
     </div>
     <div class="card-footer">
       <a class="btn btn-sm bg-warningcustomcolor btn-icon-right"(click)=onShow()>
           <span>LEARN MORE   
           </span></a>
     </div>
   </div>
   <div class="card card2 col-sm">
       <i class="fa fa-home fa-4x" aria-hidden="true" (click)=onRepair()></i>
     <div class="card-body">
       <h1 class="card-title">REPAIR SHOP</h1>
       <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
     </div>
     <div class="card-footer">
       <a class="btn btn-sm bg-warningcustomcolor btn-icon-right" (click)=onRepair()>
           <span>LEARN MORE
             
           </span></a>
     </div>
   </div>
   <!-- <div class="card card3 col-sm">
       <i class="fa fa-plane fa-4x" aria-hidden="true"></i>
     <div class="card-body">
       <h1 class="card-title">Air Freight</h1>
       <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
     </div>
     <div class="card-footer">
       <a href="#" class="btn btn-sm bg-warningcustomcolor btn-icon-right">
           <span>LEARN MORE
             
           </span></a>
     </div>
   </div> -->
   </div>
   <!-- <div class="row">
       <div class="card card4 col-sm">
           <i class="fa fa-ship fa-4x" aria-hidden="true"></i>
         <div class="card-body">
           <h1 class="card-title">Warehousing</h1>
           <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
         </div>
         <div class="card-footer">
           <a href="#" class="btn btn-sm bg-warningcustomcolor btn-icon-right">
               <span>LEARN MORE   
               </span></a>
         </div>
       </div>
       <div class="card card5 col-sm">
           <i class="fa fa-truck fa-4x" aria-hidden="true"></i>
         <div class="card-body">
           <h1 class="card-title">Storage Solutions</h1>
           <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
         </div>
         <div class="card-footer">
           <a href="#" class="btn btn-sm bg-warningcustomcolor btn-icon-right">
               <span>LEARN MORE
                 
               </span></a>
         </div>
       </div>
       <div class="card card6 col-sm">
           <i class="fa fa-plane fa-4x" aria-hidden="true"></i>
         <div class="card-body">
           <h1 class="card-title">Freight Forwarding</h1>
           <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
         </div>
         <div class="card-footer">
           <a href="#" class="btn btn-sm bg-warningcustomcolor btn-icon-right">
               <span>LEARN MORE
                 
               </span></a>
         </div>
       </div>
   </div> -->
 </div>
</div>  
 <!--Our services ends -->

<!--Latest news start-->
<div class="container align-center text-center">
  
  <h1 class="Latestnews text-center">Latest News<hr /></h1>
    
    <div id="carouselExampleCaptionsLatestNews" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner text-center">
        <div class="carousel-item active" id="covermenunews">
          <div class="row justify-content-around">
            <div class="col-sm-4">
                <div class="col-item">
                  <div class="newscard1" style="width: 18rem;">
                    <div class="latestnewsimagestyleclass"><div class="content img-responsive"><a href="#">
                      <div class="content-overlay"></div>
                      <img class="content-image" src="../../assets/images/IMG_0418.JPG">
                      <div class="content-details fadeIn-bottom">                        
                        <p class="content-text">
                          <i class="fa fa-truck fa-5x" aria-hidden="true"></i>
                        </p>
                    </div>
                </a>  
              </div>
              </div>
                  <div class="card-body">
                    <h2 class="card-title">Transportation & Logistics</h2>
                    <div class="d-flex justify-content-sm-around">
                      <div class="p-2"><i class="fa fa-calendar" aria-hidden="true"></i>18 May 2021</div>
                      <div class="p-2" style="cursor: pointer;"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>Read More</div>                     
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="col-item">
                <div class="newscard1" style="width: 18rem;">
                  <div class="latestnewsimagestyleclass"><div class="content img-responsive"><a href="#">
                    <div class="content-overlay"></div>
                     <img class="content-image" src="../../assets/images/IMG_0410.JPG">
                    <div class="content-details fadeIn-bottom">
                      <p class="content-text">         
                        <i class="fa fa-truck fa-5x" aria-hidden="true"></i>
                      </p>
                  </div>
              </a>  </div></div>
                  <div class="card-body">
                    <h2 class="card-title">Connection Devices</h2>
                    <div class="d-flex justify-content-sm-around">
                      <div class="p-2"><i class="fa fa-calendar" aria-hidden="true"></i>18 May 2021</div>
                      <div class="p-2" style="cursor: pointer;"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>Read More</div>                     
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-sm-4">
            <div class="col-item">
              <div class="newscard1" style="width: 18rem;">
                <div class="latestnewsimagestyleclass"><div class="content img-responsive"><a href="#">
                  <div class="content-overlay"></div>
                   <img class="content-image" src="../../assets/images/IMG_0418.JPG">
                  <div class="content-details fadeIn-bottom">
                    <p class="content-text">
                      <i class="fa fa-truck fa-5x" aria-hidden="true"></i>
                    </p>
                </div>
            </a>  </div></div>
                <div class="card-body">
                  <h2 class="card-title">Storage Management</h2>
                  <div class="d-flex justify-content-sm-around">
                    <div class="p-2"><i class="fa fa-calendar" aria-hidden="true"></i>18 May 2021</div>
                      <div class="p-2" style="cursor: pointer;"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>Read More</div>                     
                  </div>
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row justify-content-around">
          <div class="col-sm-4">
              <div class="col-item">
                <div class="col-item">
                  <div class="newscard1" style="width: 18rem;">
                    <div class="latestnewsimagestyleclass"><div class="content img-responsive"><a href="#">
                      <div class="content-overlay"></div>
                       <img class="content-image" src="../../assets/images/IMG_0410.JPG">
                      <div class="content-details fadeIn-bottom">
                        <p class="content-text">
                          <i class="fa fa-truck fa-5x" aria-hidden="true"></i>
                        </p>
                    </div>
                </a>  </div></div>
                    <div class="card-body">
                      <h2 class="card-title">Transportation Facility</h2>
                      <div class="d-flex justify-content-sm-around">
                        <div class="p-2"><i class="fa fa-calendar" aria-hidden="true"></i>18 May 2021</div>
                      <div class="p-2" style="cursor: pointer;"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>Read More</div>                    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="col-item">
                <div class="col-item">
                  <div class="newscard1" style="width: 18rem;">
                    <div class="latestnewsimagestyleclass"><div class="content img-responsive"><a href="#">
                      <div class="content-overlay"></div>
                       <img class="content-image" src="../../assets/images/IMG_0418.JPG">
                      <div class="content-details fadeIn-bottom">
                        <p class="content-text">
                          <i class="fa fa-truck fa-5x" aria-hidden="true"></i>
                        </p>
                    </div>
                </a>  </div></div>
                    <div class="card-body">
                      <h2 class="card-title">Freight Forwarding</h2>
                      <div class="d-flex justify-content-sm-around">
                        <div class="p-2"><i class="fa fa-calendar" aria-hidden="true"></i>18 May 2021</div>
                      <div class="p-2" style="cursor: pointer;"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>Read More</div>                    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-sm-4">
            <div class="col-item">
              <div class="col-item">
                <div class="newscard1" style="width: 18rem;">
                  <div class="latestnewsimagestyleclass">
                    <div class="content img-responsive">
                      <a href="#">
                        <div class="content-overlay"></div>
                          <img class="content-image" src="../../assets/images/IMG_0410.JPG">
                            <div class="content-details fadeIn-bottom"> 
                              <p class="content-text">                 
                                <i class="fa fa-truck fa-5x" aria-hidden="true"></i>
                              </p>
                            </div>
                        </a>
                    </div>
                  </div>                 
                  <div class="card-body">
                    <h2 class="card-title">Data Management</h2>
                      <div class="d-flex justify-content-sm-around">
                        <div class="p-2">
                          <i class="fa fa-calendar" aria-hidden="true"></i>18 May 2021
                        </div>
                        <div class="p-2" style="cursor: pointer;">
                          <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>Read More
                        </div>                   
                      </div>
                  </div>
                </div>
              </div> 
            </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  
<!--LAtest news ends-->

<!--IMAGE starts-->
<!-- <br>
<br> -->
<br>
<br>
<div class="container-fluid IMAGEModule">
<!-- <img src="../../assets/images/IMAGE3.jpg" class="img-fluid img-responsive imagestyle" style="width:1500px; font-weight:900;" alt="IMAGE"> -->
<img src="../../assets/images/P7132298.JPG" class="img-fluid img-responsive imagestyle" alt="IMAGE">
<img class="img-responsive lineimage">
<div class="text-block d-none d-md-block">
  <h1 style="font-size:42px">Are you a shipper?</h1>
  <ul class="stylingbullets">
  <li style="font-size:16px"> Customer & Tax Representation</li>
  <li style="font-size:16px"> Reusable packaging</li>
  <li style="font-size:16px"> Warehousing</li>
  <li style="font-size:16px"> Finished Vehicle Logistics</li> 
  <li style="font-size:16px"> Control Tower</li>
  </ul>
  <br><br>
  <button type="button" class="btn btn-IMAGE">Read More</button>
</div>
<br>
<br>
<div class="text-block1 d-none d-md-block">
  <h1 style="font-size:42px">Are you a sender?</h1>
  <ul class="stylingbullets">
  <li style="font-size:16px">Core-Freight</li>
  <li style="font-size:16px">Ingetratin Logistics</li>
  <li style="font-size:16px">Strategistic</li>
  <li style="font-size:16px">One time solutions</li>
  <li style="font-size:16px">Geo-Gateways</li>
    </ul>
  <!-- <br><br> -->
<br>
  <button type="button" class="btn btn-IMAGE">Read More</button>
</div>
</div>
<br><br><br>
<!--IMAGE ends-->

 <!--Our Team starts-->
 
 <div class="container-fluid">
  <h1 class="ourteam text-center">Our Team<hr/></h1>
 <div class="row">
  <div class="col-md-3">
      <div class="content"> <a href="#">
              <div class="content-overlay"></div> <img class="content-image" src="../../assets/images/thumbnail1.jpg">
              <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">John Doe</h3>
                  <p class="content-text">General Manager</p>
                  <p class="content-text">
                    <i  class="fa fa-facebook-official me-2" aria-hidden="true"></i>
                    <i  class="fa fa-linkedin me-2" aria-hidden="true"></i>
                    <i  class="fa fa-google-plus me-2" aria-hidden="true"></i>
                    <i  class="fa fa-twitter me-2" aria-hidden="true"></i>
                    <i  class="fa fa-instagram me-2" aria-hidden="true"></i>  
                  </p>

              </div>
          </a> </div>
  </div>
  <div class="col-md-3">
      <div class="content"> <a href="#">
              <div class="content-overlay"></div> <img class="content-image" src="../../assets/images/thumbnail1.jpg">
              <div class="content-details fadeIn-bottom">
                <h3 class="content-title">John Doe</h3>
                <p class="content-text">General Manager</p>
                <p class="content-text">
                  <i  class="fa fa-facebook-official me-2" aria-hidden="true"></i>
                  <i  class="fa fa-linkedin me-2" aria-hidden="true"></i>
                  <i  class="fa fa-google-plus me-2" aria-hidden="true"></i>
                  <i  class="fa fa-twitter me-2" aria-hidden="true"></i>
                  <i  class="fa fa-instagram me-2" aria-hidden="true"></i>  
                </p>

            </div>
        </a>  </div>
  </div>
  <div class="col-md-3">
      <div class="content"> <a href="#">
              <div class="content-overlay"></div> <img class="content-image" src="../../assets/images/thumbnail.png">
              <div class="content-details fadeIn-bottom">
                <h3 class="content-title">John Doe</h3>
                <p class="content-text">General Manager</p>
                <p class="content-text">
                  <i  class="fa fa-facebook-official me-2" aria-hidden="true"></i>
                  <i  class="fa fa-linkedin me-2" aria-hidden="true"></i>
                  <i  class="fa fa-google-plus me-2" aria-hidden="true"></i>
                  <i  class="fa fa-twitter me-2" aria-hidden="true"></i>
                  <i  class="fa fa-instagram me-2" aria-hidden="true"></i>  
                </p>

            </div>
        </a>  </div>
  </div>
  <div class="col-md-3">
    <div class="content"> <a href="#">
            <div class="content-overlay"></div> <img class="content-image" src="../../assets/images/thumbnail.png">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">John Doe</h3>
              <p class="content-text">General Manager</p>
              <p class="content-text">
                <i  class="fa fa-facebook-official me-2" aria-hidden="true"></i>
                <i  class="fa fa-linkedin me-2" aria-hidden="true"></i>
                <i  class="fa fa-google-plus me-2" aria-hidden="true"></i>
                <i  class="fa fa-twitter me-2" aria-hidden="true"></i>
                <i  class="fa fa-instagram me-2" aria-hidden="true"></i>  
              </p>

          </div>
      </a>  </div>
</div>
</div>
<br>
<!-- <div class="row">
<div class="col-md-3">
    <div class="content"> <a href="#">
            <div class="content-overlay"></div> <img class="content-image" src="../../assets/images/thumbnail.png">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">John Doe</h3>
              <p class="content-text">General Manager</p>
              <p class="content-text">
                <i  class="fa fa-facebook-official me-2" aria-hidden="true"></i>
                <i  class="fa fa-linkedin me-2" aria-hidden="true"></i>
                <i  class="fa fa-google-plus me-2" aria-hidden="true"></i>
                <i  class="fa fa-twitter me-2" aria-hidden="true"></i>
                <i  class="fa fa-instagram me-2" aria-hidden="true"></i>  
              </p>

          </div>
      </a>  </div>
</div>
<div class="col-md-3">
    <div class="content"> <a href="#">
            <div class="content-overlay"></div> <img class="content-image" src="../../assets/images/thumbnail.png">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">John Doe</h3>
              <p class="content-text">General Manager</p>
              <p class="content-text">
                <i  class="fa fa-facebook-official me-2" aria-hidden="true"></i>
                <i  class="fa fa-linkedin me-2" aria-hidden="true"></i>
                <i  class="fa fa-google-plus me-2" aria-hidden="true"></i>
                <i  class="fa fa-twitter me-2" aria-hidden="true"></i>
                <i  class="fa fa-instagram me-2" aria-hidden="true"></i>  
              </p>

          </div>
      </a>  </div>
</div>
<div class="col-md-3">
    <div class="content"> <a href="#">
            <div class="content-overlay"></div> <img class="content-image" src="../../assets/images/thumbnail.png">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">John Doe</h3>
              <p class="content-text">General Manager</p>
              <p class="content-text">
                <i  class="fa fa-facebook-official me-2" aria-hidden="true"></i>
                <i  class="fa fa-linkedin me-2" aria-hidden="true"></i>
                <i  class="fa fa-google-plus me-2" aria-hidden="true"></i>
                <i  class="fa fa-twitter me-2" aria-hidden="true"></i>
                <i  class="fa fa-instagram me-2" aria-hidden="true"></i>  
              </p>

          </div>
      </a> </div>
</div>
<div class="col-md-3">
  <div class="content"> <a href="#">
          <div class="content-overlay"></div> <img class="content-image" src="../../assets/images/thumbnail.png">
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">John Doe</h3>
            <p class="content-text">General Manager</p>
            <p class="content-text">
              <i  class="fa fa-facebook-official me-2" aria-hidden="true"></i>
              <i  class="fa fa-linkedin me-2" aria-hidden="true"></i>
              <i  class="fa fa-google-plus me-2" aria-hidden="true"></i>
              <i  class="fa fa-twitter me-2" aria-hidden="true"></i>
              <i  class="fa fa-instagram me-2" aria-hidden="true"></i>  
            </p>

        </div>
    </a>  </div>
</div>
</div> -->
</div>
 <!--Our team ends-->
 <br />
<!--client say starts-->

<div class="container-fluid">
  <img class="clientbackgroundimage img-responsive" src="../../assets/images/P7132300.JPG">
  <h1 class="clientsayboxoverimage text-center">Client Say<hr /></h1>
    
    <div id="carouselExampleCaptionsClient" class="carousel slide" data-bs-ride="carousel">
    <!-- <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div> -->
    <div class="carousel-inner text-center">
      <div class="carousel-item active" id="covermenuclient">
        <div class="row justify-content-around">
          <div class="col-sm-4 clientsayinsidebox">
              <div class="col-item">
                  <div class="photo">
                      <img src="../../assets/images/th1.png" class="img-responsive rounded-circle" alt="Snipped Code" />
                  </div>
                  <div>
                    <h2>WHEEL KING CUSTOMER</h2>
                    <p><i>"I GET BOMBARDED BY COMPANIES ALL THE TIME, BUT WHEEL KING PROVIDE SERVICE WHICH LEAVE THEM BEHIND.
                      "</i></p>
                </div>
              </div>
          </div>
          <div class="col-sm-4 clientsayinsidebox">
              <div class="col-item">
                  <div class="photo">
                    <img src="../../assets/images/th2.jpg" class="img-responsive rounded-circle" alt="Snipped Code" /> 
                   
                  </div>
                  <div>
                    <h2>WHEEL KING CUSTOMER</h2>
                    <p><i>" WHEEL KING REALLY DIFFERENTIATED THEMSELVES FROM THE SCORES OF OTHER COMPANIES WHO DON'T HAVE ASSETS.
                      "</i></p>
                  </div>
              </div>
          </div>
          
      </div>
      </div>
      <div class="carousel-item">
        <div class="row justify-content-around">
          <div class="col-sm-4 clientsayinsidebox">
              <div class="col-item">
                  <div class="photo">
                    <img src="../../assets/images/th3.jpg" class="rounded-circle img-responsive" alt="Snipped Code" />
                  </div>
                  <div class="info">
                    <h2>WHEEL KING CUSTOMER</h2>
                    <p><i>"I GET BOMBARDED BY COMPANIES ALL THE TIME, BUT WHEEL KING PROVIDE SERVICE WHICH LEAVE THEM BEHIND. "</i></p>
                      
                      <!-- <div class="clearfix"></div> -->
                  </div>
              </div>
          </div>
          <div class="col-sm-4 clientsayinsidebox">
              <div class="col-item">
                  <div class="photo">
                    <img src="../../assets/images/th1.png" class="img-responsive rounded-circle" alt="Snipped Code" />
                  </div>
                  <div class="info">
                    <h2>WHEEL KING CUSTOMER</h2>
                    <p><i>"I'VE DEALT WITH A MILLION CARRIERS OVER THE YEARS. I'VE TO SAY YOU GUYS ARE THE BEST! THANK YOU."</i></p>
                  </div>
              </div>
          </div>
         
      </div>
      </div>
      <div class="carousel-item">
        <div class="row justify-content-around">
          <div class="col-sm-4 clientsayinsidebox">
              <div class="col-item">
                  <div class="photo">
                    <img src="../../assets/images/th1.png" class="img-responsive rounded-circle hoveronthumbnail" alt="Snipped Code" />
                  </div>
                  <div class="info">
                      <h2>Lex</h2>
                      <p><i>"What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s "</i></p>
                  </div>
              </div>
          </div>
          <div class="col-sm-4 clientsayinsidebox">
              <div class="col-item">
                  <div class="photo">
                    <img src="../../assets/images/th2.jpg" class="img-responsive rounded-circle" alt="Snipped Code" />
                  </div>
                  <div class="info">
                      <h2>Alex</h2>
                      <p><i>"What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s "</i></p>
                      <!-- <div class="clearfix"></div> -->
                  </div>
              </div>
          </div>
          
      </div>
      </div>
    </div>
    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> -->
    </div>
  </div>

<!--client say ends-->
</main>
<br><br>

<!--Footer starts -->
<app-footer></app-footer>
<!--footer ends-->