<div class="container-fluid">
    <img class="Aboutusbackgroundimage img-fluid img-responsive" src="../../../assets/images/IMG_0419.JPG">
    <!-- <h1 class="clientsayboxoverimage text-center">Client Say<hr /></h1> -->
    <div class="caption">
      SPECIALITIES
   </div>
      <div id="carouselExampleCaptionsClient" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators try">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" id="covermenuabout">
          <div class="row-justify">
            <div class="col-lg-4 ">
                <div class="col-item">
                        <div class="info">
                      <h2>DO THE RIGHT THING EVERYTIME.</h2>
                      <p>WHEEL KING VALUE 1</p>
                  </div>
                </div>
            </div>
          
            
        </div>
        </div>
        <div class="carousel-item">
          <div class="row-justify">
            <div class="col-lg-4 ">
                <div class="col-item">
                   
                    <div class="info">
                      <h2>HIRE THE BEST</h2>
                      <p>WHEEL KING VALUE 2</p>
                        </div>
                        <!-- <div class="clearfix"></div> -->
                    
                </div>
            </div>
          
           
        </div>
        </div>
        <div class="carousel-item">
            <div class="row-justify">
              <div class="col-lg-4 ">
                  <div class="col-item">
                     
                      <div class="info">
                        <h2>LIVE UPTO EVERY PROMISE</h2>
                        <p>WHEEL KING VALUE 3</p>
                          
                          <!-- <div class="clearfix"></div> -->
                      </div>
                  </div>
              </div>
            
             
          </div>
          </div>
          <div class="carousel-item">
            <div class="row-justify">
              <div class="col-lg-4 ">
                  <div class="col-item">
                     
                      <div class="info">
                        <h2>EMBRACE CO-OPETITION.</h2>
                        <p>WHEEL KING VALUE 4</p>
                          
                          <!-- <div class="clearfix"></div> -->
                      </div>
                  </div>
              </div>                 
          </div>
          </div>
        <div class="carousel-item">
              <div class="row-justify">
                <div class="col-lg-4 ">
                    <div class="col-item">
                       
                        <div class="info">
                          <h2>SHARE IN EACH OTHER'S SUCCESS.</h2>
                          <p>WHEEL KING VALUE 5</p>
                            
                            <!-- <div class="clearfix"></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row-justify">
              <div class="col-lg-4 ">
                  <div class="col-item">
                     
                      <div class="info">
                        <h2>HAVE FUN</h2>
                        <p>WHEEL KING VALUE 6</p>
                          
                          <!-- <div class="clearfix"></div> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
    </div>
<br><br>
   <div class="container-fluid p-5">
     <div class="row">
       <div class="col-md-6 halfpage">
        <h1 class="page-header" >OUR SPECIALITIES</h1><hr class="w-50">
        <span class="barlow-medium-ship-gray-22px">
          Wheel King Trans Haul Inc. providing secure transportation, repair shop services. We meets and exceeds the rigorous standards and requirements of the most specialized of industries. Our services are directly integrated into your supply chain methodology, providing you with real-time access to inventory and shipment traceability.
        </span>
        <ul class="barlow-medium-ship-gray-22px">
          <li class="barlow-medium-ship-gray-22px">Food and Beverages</li>
          <li class="barlow-medium-ship-gray-22px">Pharmaceutical</li>
          <li class="barlow-medium-ship-gray-22px">Public Sector</li>
        </ul>
        
       </div>
       <div class="col-md-6 halfpage">
        <img src="../../assets/images/p7132349-removebg-preview@1x.png" class="img-fluid" alt="">
       </div>
     </div>
   </div>

<app-footer></app-footer>