<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<div class="container-fluid">
  
	<h2 class="text-center"> Carousel Cards</h2>
	<hr />
        <div id="carouselExampleIndicators121" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators121" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators121" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators121" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner text-center">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="" class="img-responsive" alt="Snipped Code" />
                                </div>
                                <div class="info">
                                    <h4>Hane</h4>
                                    <p class="desc">htmlentities() is a PHP function which converts special characters </p>
                                    
                                    <!-- <div class="clearfix"></div> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="" class="img-responsive" alt="Snipped Code" />
                                </div>
                                <div class="info">
                                    <h4>Jane</h4>
                                    <p class="desc">CSS3 code to create a page top shadow.</p>
                                    
                                    <!-- <div class="clearfix"></div> -->
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="" class="img-responsive" alt="Snipped Code" />
                                </div>
                                <div class="info">
                                    <h4>Jack</h4>
                                    <p class="desc">htmlentities() is a PHP function which converts special characters (like &hellip;</p>
                                    
                                    <!-- <div class="clearfix"></div> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="" class="img-responsive" alt="Snipped Code" />
                                </div>
                                <div class="info">
                                    <h4>Aux</h4>
                                    <p class="desc">CSS3 code to create a page top shadow.</p>
                                    
                                    <!-- <div class="clearfix"></div> -->
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="" class="img-responsive" alt="Snipped Code" />
                                </div>
                                <div class="info">
                                    <h4>JavaScript</h4>
                                    <p class="desc">htmlentities() is a PHP function which converts special characters (like &hellip;</p>
                                    
                                    <!-- <div class="clearfix"></div> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="" class="img-responsive" alt="Snipped Code" />
                                </div>
                                <div class="info">
                                    <h4>CSS3</h4>
                                    <p class="desc">CSS3 code to create a page top shadow.</p>
                                    
                                    <!-- <div class="clearfix"></div> -->
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

   