<div class="container-fluid">
  <img class="Aboutusbackgroundimage img-fluid img-responsive" src="../../../assets/images/P7132348.JPG">
  <!-- <h1 class="clientsayboxoverimage text-center">Client Say<hr /></h1> -->
  <div class="caption">
    OUR HISTORY
 </div>
    <div id="carouselExampleCaptionsClient" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators try">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner" style="font-family: lato;">
      <div class="carousel-item active" id="covermenuabout">
        <div class="row-justify">
          <div class="col-lg-4 ">
              <div class="col-item">
                      <div class="info">
                    <h2>DO THE RIGHT THING EVERYTIME.</h2>
                    <p>WHEEL KING VALUE 1</p>
                </div>
              </div>
          </div>
        
          
      </div>
      </div>
      <div class="carousel-item">
        <div class="row-justify">
          <div class="col-lg-4 ">
              <div class="col-item">
                 
                  <div class="info">
                    <h2>HIRE THE BEST</h2>
                    <p>WHEEL KING VALUE 2</p>
                      </div>
                      <!-- <div class="clearfix"></div> -->
                  
              </div>
          </div>
        
         
      </div>
      </div>
      <div class="carousel-item">
          <div class="row-justify">
            <div class="col-lg-4 ">
                <div class="col-item">
                   
                    <div class="info">
                      <h2>LIVE UPTO EVERY PROMISE</h2>
                      <p>WHEEL KING VALUE 3</p>
                        
                        <!-- <div class="clearfix"></div> -->
                    </div>
                </div>
            </div>
          
           
        </div>
        </div>
        <div class="carousel-item">
          <div class="row-justify">
            <div class="col-lg-4 ">
                <div class="col-item">
                   
                    <div class="info">
                      <h2>EMBRACE CO-OPETITION.</h2>
                      <p>WHEEL KING VALUE 4</p>
                        
                        <!-- <div class="clearfix"></div> -->
                    </div>
                </div>
            </div>                 
        </div>
        </div>
      <div class="carousel-item">
            <div class="row-justify">
              <div class="col-lg-4 ">
                  <div class="col-item">
                     
                      <div class="info">
                        <h2>SHARE IN EACH OTHER'S SUCCESS.</h2>
                        <p>WHEEL KING VALUE 5</p>
                          
                          <!-- <div class="clearfix"></div> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="row-justify">
            <div class="col-lg-4 ">
                <div class="col-item">
                   
                    <div class="info">
                      <h2>HAVE FUN</h2>
                      <p>WHEEL KING VALUE 6</p>
                        
                        <!-- <div class="clearfix"></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
  </div>
<br>

<div class="container historyFont">
 <br><br>
 <h1 class="heading1">TIMELINE HISTORY</h1>
 
  <div class="row pt-5">
      <div class="col-md-12">
          <div class="main-timeline4">
              <div class="timeline">
                  <a href="#" class="timeline-content">
                      <span class="year">2021</span>
                      <div class="inner-content">
                          <h3 class="title">Projected
                            Revenue -75 M</h3>
                          <p class="description barlow-medium-ship-gray-22px">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
                          </p>
                      </div>
                  </a>
              </div>
              <div class="timeline">
                  <a href="#" class="timeline-content">
                      <span class="year">2020</span>
                      <div class="inner-content">
                          <h3 class="title">Revenue – 67.5 M</h3>
                          <p class="description lato-normal-ship-gray-22px">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
                          </p>
                      </div>
                  </a>
              </div>
              <div class="timeline">
                  <a href="#" class="timeline-content">
                      <span class="year">2019</span>
                      <div class="inner-content">
                          <h3 class="title">Revenue – 69 M</h3>
                          <p class="description barlow-medium-ship-gray-22px">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
                          </p>
                      </div>
                  </a>
              </div>
              <div class="timeline">
                <a href="#" class="timeline-content">
                    <span class="year">2018</span>
                    <div class="inner-content">
                        <h3 class="title">Revenue – 48 M</h3>
                        <p class="description lato-normal-ship-gray-22px">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
                        </p>
                    </div>
                </a>
            </div>
              <div class="timeline">
                  <a href="#" class="timeline-content">
                      <span class="year">2017</span>
                      <div class="inner-content">
                          <h3 class="title">Revenue – 23 M</h3>
                          <p class="description barlow-medium-ship-gray-22px">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
                          </p>
                      </div>
                  </a>
              </div>
              <div class="timeline">
                <a href="#" class="timeline-content">
                    <span class="year">2012</span>
                    <div class="inner-content">
                        <h3 class="title">Established 2012</h3>
                        <p class="description barlow-medium-ship-gray-22px">
                          Established 2012
                        </p>
                    </div>
                </a>
            </div>
            <div class="timeline" style="display: none">
              <a href="#" class="timeline-content">
                  <span class="year">2021</span>
                  <div class="inner-content">
                      <h3 class="title">Warehouse</h3>
                      <p class="description lato-normal-ship-gray-22px">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
                      </p>
                  </div>
              </a>
          </div>
          </div>
      </div>
  </div>
</div>

<div class="container historyFont">
<div class="row">
  <div class="col-md-6">
    <h3 class="page-header" >OUR History</h3><hr class="w-25">
      <span class="lato-normal-ship-gray-22px">
        Wheel King mission is to offer the best logistics experience ever. We use creativity and industry experience to drive value, optimize solutions, and deliver unprecedented customer service. Wheel King identifies and leverages the most efficient mode of transportation for every shipment, every time it moves.
      </span><br>
    <span class="barlow-medium-ship-gray-22px">
        Our vision is to position Wheel King as the largest, fully scaled, centralized network in North America. We invest in the future - we call this smarter logistics. Every decision that we make today is based on a long term growth strategy. This includes hiring decisions, training programs, customised technology and strategy services.
    </span>
  </div>
  <div class="col-md-6 halfpage">
    <img src="../../assets/images/p7132349-removebg-preview@1x.png" class="img-fluid" alt="">
  </div>
</div>
  
</div>
<app-footer></app-footer>